<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span><strong>High-End </strong> NFT Token Development</span
                >Services
              </h1>

              <p>
                Create the next big NFT sensation and leverage the true power of
                the blockchain & metaverse. BlockchainX's industry experts can
                help you tokenize your collectibles in a seamless way.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/nft-development/nft-development-company.png"
              class="img-fluid"
              alt="Right-vector"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->

<!-- Why Choose DAO Platform Development start -->
<div class="section-service-alt" #about>
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <img
            src="assets-new/images/nft-development/nft-development-Services.png"
            class="img-fluid"
            alt="Right-vector"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            NFT Development Services For Global Audiences.
          </h3>
          <p>
            BlockchainX - A trustworthy partner for your unique NFT development.
            We provide end-to-end services with complete support by creating
            reliable NFTs for global audiences. All our services are fully
            transparent and are meant to deliver the maximum value to you as a
            customer. You have great opportunities to get lifetime royalties
            every time the token is sold.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose DAO Platform Development end -->

<!-- Product Features -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Create your Own <span>NFT</span></h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/select-any-network.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Select Any Network</h4>
          <p>
            Our NFT development services let you choose your preferred network
            where NFTs can be created. Customization is not only for NFTs but
            you also have the flexibility to choose the blockchain to deploy
            them.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/integrated-development-environment.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Integrated Development Environment
          </h4>
          <p>
            We have experienced NFT development experts active on all major
            blockchains and multiple IDEs. With our multiple IDEs option, get
            custom solutions for your specific project.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/token-minting-setting.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Token Minting Setting</h4>
          <p>
            Create NFT minting platform development with more settings through
            our NFT development platform, where users can come and mint their
            tokens in just a few minutes.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/immutable-attributes.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Immutable Attributes</h4>
          <p>
            Our NFT development services allow you to create NFTs with immutable
            attributes that are verifiable on the blockchain. This will increase
            the inclusive growth of your business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/security-audits.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Security Audits</h4>
          <p>
            Our NFT development team conducts several internal audits on all NFT
            contracts and algorithms for maximum security and resultful
            outcomes. These increase trust in users.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/network-deployment.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Network Deployment</h4>
          <p>
            Our NFT development services allow you to create customized
            non-fungible tokens with unique features, secure smart contracts,
            and high authenticity on any blockchain network.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/contract-address-creation.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Contract Address Creation</h4>
          <p>
            Create multiple NFTs with unique contract addresses in a single
            deployment using our NFT deployment. Our team efficiently deploys
            smart contracts to get contract addresses.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/owner-address-defining.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Owner Address Defining</h4>
          <p>
            Define yourself as the owner of your NFTs to reap the benefits of
            your tokens by earning steady royalties and passive income with our
            white-labeled NFT development services.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/nft-collections.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Create NFT Collections</h4>
          <p>
            You can create NFT collections with a single smart contract and list
            them on any NFT marketplace. Enjoy the benefits of your NFT
            collections with our NFT development services.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Features -->

<!-- Development Services ends -->
<div class="section-service-alt-padd">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading mx-auto">
            <h3><span>NFT</span> Development Services</h3>
          </div>
        </div>
      </div>
      <!-- Fast Transactions Starts -->
      <div class="row align-items-center erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Minting Platform Development.</h4>
            <p>
              We provide efficient NFT Minting Platform Development Services and
              Solutions with advanced features to an NFT to monetize users'
              work.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>NFT Marketplace Development</h4>
            <p>
              Our white-labled NFT marketplace development solutions help
              enterprises easily create their marketplace dashboard and
              features.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Storage Solutions For NFTs</h4>
            <p>
              Our NFT storage solutions provide you a secure option to store
              your off-chain NFT data in a decentralized manner.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Smart Contract Development & Auditing</h4>
            <p>
              The NFT smart contract we developed is the best for managing
              digital assets and ensuring data immutability and transparency.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>NFT Exchange Development Services</h4>
            <p>
              Our NFT exchange development service is a secure blockchain
              enabled to sell, trade and exchange NFT tokens leading to
              potential investors.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>NFT Lending Platform Development</h4>
            <p>
              We can create an NFT lending platform that allows NFT holders to
              use their tokens as collateral on smart contracts to lend and
              borrow.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fast Transactions ends  -->

<!-- Autonomous Network starts -->
<div class="section-service-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mx-auto">
          <h3>Types Of <span>NFTS</span></h3>
        </div>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture erc-about-picture-auto">
          <img
            src="assets-new/images/nft-development/cross-chain-nfts.png"
            class="img-fluid"
            alt="meta-mask"
            loading="lazy"
            width="150"
            height="150"
          />
          <h4 class="erc-20-head">Cross Chain NFTs</h4>
          <p class="text-center">
            Cross-chain NFTs are a kind of NFT technology that can increase NFT
            liquidity and migrate NFTs from one blockchain to another.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture erc-about-picture-auto">
          <img
            src="assets-new/images/nft-development/dnft.png"
            class="img-fluid"
            alt="meta-mask"
            loading="lazy"
            width="150"
            height="150"
          />
          <h4 class="erc-20-head">DNFT</h4>
          <p class="text-center">
            Dynamic NFTs have encoded smart contract logic that enables automate
            change their metadata based on external conditions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture erc-about-picture-auto">
          <img
            src="assets-new/images/nft-development/fraction-nft.png"
            class="img-fluid"
            alt="meta-mask"
            width="150"
            height="150"
          />
          <h4 class="erc-20-head">Fractional NFT</h4>
          <p class="text-center">
            We can divide these NFTs into smaller pieces. Each piece can be
            bought by different users who gain a percentage of original assets.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Autonomous Network ends -->

<!-- Benefits -->
<div class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>
        Features of
        <span>NFT Development</span>
      </h3>
    </div>
    <div class="row acc-sec-list">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image">
        <img
          src="assets-new/images/nft-development/features-of-nft-development.png"
          class="img-fluid"
          alt="erc-20"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Greater market efficiency
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Access multiple markets across multiple blockchains and
                  leverage top-level market efficiency.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Increase in liquidity
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  NFTs are highly liquid assets in crypto since their price is
                  not dependent on liquidity pairs.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                No intervention of middlemen
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  The decentralized nature of NFTs allows you to sell directly
                  through marketplaces or peer-to-peer.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Customized smart contracts
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Create custom and secured NFT smart contracts with custom
                  attributes and interactions.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Global capital investment
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  NFTs are becoming increasingly popular with many venture
                  capitalist firms interested in them.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Benefits -->

<!-- Product Features -->
<div class="section-service-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          Benefits of
          <span>NFT Development</span>
        </h3>
      </div>
    </div>
    <div class="row types-of-token-detail justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/sell-nfts-for-great-ROI.png"
              class="img-fluid"
              alt="sell-nfts-for-great-ROI"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Sell NFTs for great ROI</h4>
          <p>Buy and hold unique NFTs to sell them for huge profits</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/data-immutable.png"
              class="img-fluid"
              alt="erc-20"
              loading="data-immutable"
              height="75"
              width="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Data Immutable and Can’t be Manipulated
          </h4>
          <p>
            All attributes of an NFT on the blockchain are data authenticated
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/sell-and-royalties.png"
              class="img-fluid"
              alt="sell-and-royalties"
              width="75"
              height="75"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Sell and Earn Royalties</h4>
          <p>
            Opportunity to sell and earn royalties for the original creators
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/ability-to-prove-ownership.png"
              class="img-fluid"
              alt="ability-to-prove-ownership"
              width="75"
              height="75"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Ability to Prove Ownership</h4>
          <p>
            You can authenticate each NFT and prove their ownership on the
            blockchain.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/over-scarcity-and-supply.png"
              class="img-fluid"
              alt="over-scarcity-and-supply"
              width="75"
              height="75"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Control over Scarcity and Supply
          </h4>
          <p>
            Create rare and unique NFTs or collections that are completely
            yours.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/lifetime-royalties.png"
              class="img-fluid"
              alt="lifetime-royalties"
              width="75"
              height="75"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Lifetime Royalties</h4>
          <p>
            Automate royalty connections with custom-coded NFT smart contracts
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/nft-development/trade-on-peer-to-peer-network.png"
              class="img-fluid"
              alt="trade-on-peer-to-peer-network"
              width="75"
              height="75"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Trade on Peer-to-peer network
          </h4>
          <p>
            Deploy your NFTs on any network and trade them peer-to-peer network
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Features -->

<!-- Product Features -->
<div class="section-service-main-last">
  <div class="product-feature">
    <div class="container">
      <div class="row product-feature-heading">
        <div class="metaverse_heading mx-auto">
          <h3>
            Our Effective Services for <span> NFT Development Use Cases </span>
          </h3>
        </div>
      </div>
      <div class="row produt-feature-detail">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/art-tokenization.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Art Tokenization</h4>
          <p>
            Give authenticity to your artwork through NFT development solutions.
            NFTs for artwork can increase your sales growth and earn more
            royalties.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/music.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Music</h4>
          <p>
            Tokenize your music to get digital certificates of ownership to a
            blockchain and earn royalties easily through our NFT development
            services.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/games.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Games</h4>
          <p>
            Enter the world of GameFi and create your play-to-earn game with
            NFTs or play the game to earn NFTs for royalties and interoperable
            in-game assets.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/real-estate.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Real Estate</h4>
          <p>
            Digitize your real estate business at a higher level with our NFT
            development services. Tokenize real estate worth features such as
            fractional ownership.
          </p>
        </div>
      </div>
      <div class="row produt-feature-detail">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/sports.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Sports</h4>
          <p>
            Make your NFTs more unique with sports NFTs. These NFTs are a great
            way to create collectibles and trading cards to captivate fans and
            collectors.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/fashion.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Fashion</h4>
          <p>
            Tokenize merchandise and maintain its authenticity on the
            blockchain. With Fashion NFTs, consumers can know the origin of the
            apparel and the brand.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/lending-platform.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Lending platform</h4>
          <p>
            NFT lending is one of the easiest ways to earn money. Create and
            lend NFTs with our NFT lending platform and earn interest with your
            NFTs.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/nft-development/video-platform.png"
              class="img-fluid py-2"
              height="110"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Video platforms</h4>
          <p>
            Create complete NFT streaming platforms and incentivize content
            creators. Video NFTs ensure the original author gets the due credit
            for the creation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Features -->

<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>Why Choose Us as Your <span> NFT Development Company</span></h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              BlockchainX is a frontier in NFT development solutions. Our
              technical prowess with the latest tools and skilled developers
              give you an end-to-end NFT development service. Our leading
              industry experts create rare and unique NFTs or collections, it's
              totally up to you.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                  loading="lazy"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
