<!-- Our Process -->
<div class="our-procee-main">
  <div class="violet-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="commontext_wrap text-center">
          <h2>Our Process <span>Blockchain Development</span></h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>01</h2>
        </div>
        <div class="our_process_text_wrap right-wrap">
          <h3>Defining</h3>
          <p>
            Open-minded discussion on the needs and requirements to jot the plan
            of the product.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>02</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Designing</h3>
          <p>
            The most creative part of the deployment need creative inputs, and
            we infuse our unique touch.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>03</h2>
        </div>
        <div class="our_process_text_wrap left-wrap">
          <h3>Development</h3>
          <p>
            Heading to the technical team to fetch the backend process and other
            integrations.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>04</h2>
        </div>
        <div class="our_process_text_wrap right-wrap">
          <h3>Testing</h3>
          <p>
            And passing all the tests and reworks, the product is all set to go
            out in the market.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>05</h2>
        </div>
        <div class="our_process_text_wrap left-wrap">
          <h3>Deployment</h3>
          <p>
            In this stage, we work out the possibilities and their technical
            notions for the better good.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Process End -->
<!-- Tech Stak Update -->
<section class="business-stak">
  <div class="green-vector"></div>
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common-sub-heading">
          <h4>We Vitalize<span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading">On Business-Class Technical Stack</h3>
        <div class="business-stak-list-section">
          <div class="list-one">
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/Frameworks.png"
                alt="Frameworks"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/caliber.png"
                alt="Caliber"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/hyperledger-composer.png"
                alt="composer"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/hyperledger-explorer.png"
                alt="explorer"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
          </div>
          <div class="list-one">
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/hyperledger.png"
                alt="Hyperledger"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/sawtooth.png"
                alt="sawtooth"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/iroha.png"
                alt="iroha"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-images col-6 col-md-3">
              <img
                src="assets-new/images/Home/stak/fabric.png"
                alt="fabric"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
          </div>
          <div class="step-two-stak">
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/java.png"
                alt="java"
                class="img-fluid mob-res-stak"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/js.png"
                alt="javascript"
                class="img-fluid mob-res-stak"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/node.png"
                alt="node"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/net.png"
                alt=".net"
                class="img-fluid mob-res-stak"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/ruby.png"
                alt="ruby"
                width="100%"
                height="100%"
                class="img-fluid"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/solidity.png"
                alt="solidity"
                class="img-fluid mob-res-stak"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/python.png"
                alt="python"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
            <div class="list-one-alt">
              <img
                src="assets-new/images/Home/stak/go.png"
                alt="go"
                class="img-fluid"
                width="100%"
                height="100%"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tech Stak Update -->
<section class="casestudies">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="casetudies_common">
          <div class="commontext_subhead">
            <h3>Case Studies<span class="dots">.</span></h3>
          </div>
          <div class="casestudies_para">
            <p>
              This part holds the legacy of BlockchainX Tech. Establishing all
              that we have worked out for our clients as a Blockchain
              development company is brought down here. This gives an ideology
              of our expertise and could bring your idea to life and hold the
              top priority here.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 case-list">
        <div class="row">
          <div class="col-lg-12">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <div class="case-sub-head">
                  <h3>EKTA</h3>
                  <div class="case-picture">
                    <img
                      src="assets-new/images/Home/case/ekta-1.png"
                      alt="ekta"
                      class="img-responsive"
                      width="150"
                      height="120"
                      loading="lazy"
                    />
                  </div>
                </div>
                <div class="deploy-link">
                  <a href="ektachain" target="_blank">
                    <span>Read More</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                      loading="lazy"
                    />
                  </a>
                </div>
              </div>
              <div class="casestudy_para">
                <p>
                  A decentralized ecosystem built from scratch, along with the
                  ability to perform everything and anything. Being a blockchain
                  itself, it renders and supports DAO, and has its own
                  marketplace and token to interact with. It explores endless
                  possibilities and bridges the physical world and the
                  blockchain era.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <div class="case-sub-head">
                  <h3>Minosis</h3>
                  <div class="case-picture">
                    <img
                      src="assets-new/images/Home/case/Minosis.png"
                      alt="Minosis"
                      class="img-fluid p-0"
                      width="150"
                      height="120"
                      loading="lazy"
                    />
                  </div>
                </div>

                <div class="deploy-link">
                  <a href="minosis" target="_blank">
                    <span>Read More</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                      loading="lazy"
                    />
                  </a>
                </div>
              </div>
              <div class="casestudy_para">
                <p>
                  Minosis is a crypto mining startup that allows users to
                  participate in pools to earn virtual currency. In a unique
                  way, Minosis miners can earn Bitcoin regardless of their mine
                  and even achieve block rewards. Despite simplifying
                  transaction's cost, the payments are accepted as native tokens
                  or Bitcoins.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <div class="case-sub-head">
                  <h3>Zuki</h3>
                  <div class="case-picture">
                    <img
                      src="assets-new/images/Home/case/Zuki.png"
                      alt="ZUKI"
                      class="img-fluid p-0"
                      width="150"
                      height="120"
                      loading="lazy"
                    />
                  </div>
                </div>

                <div class="deploy-link">
                  <a href="zuki" target="_blank">
                    <span>Read More</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="casestudy_para">
              <p>
                Zuki is a P2E gaming platform built on a decentralized economy
                application. A community-oriented space that performs building
                characters, virtual goods, and metaverse structures all in one.
                Furthermore, the P2E mechanism is utilized to generate financial
                benefits for the players drawing a wider crowd.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <div class="case-sub-head">
                  <h3>Starcard Sports</h3>
                  <div class="case-picture">
                    <img
                      src="assets-new/images/Home/case/Star-Card-Sports.png"
                      alt="Starcard Sports"
                      class="img-fluid"
                      width="150"
                      height="120"
                      loading="lazy"
                    />
                  </div>
                </div>

                <div class="deploy-link">
                  <a href="starcard-sports-games" target="_blank">
                    <span>Read More</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
              <div class="casestudy_para">
                <p>
                  This is a play-to-earn decentralized gaming arena developed to
                  connect real-world players through digital gaming. This game
                  is based on football along with metaverse abilities drawing
                  income. With the ability to monetize, it inherits an immersive
                  experience that challenges traditional gaming platforms.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bx-clients">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto">
        <div class="commontext_wrap cmb-50 client-section">
          <h2>BlockchainX Clients</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/ekta.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/reflex-finance.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/Zuki.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/wafercoin.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/Polkadog.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="commontext_subhead">
          <h3>We Are Featured<span class="dots">.</span></h3>
        </div>
        <div class="feature_wrap">
          <div class="commontext_wrap">
            <h2>On Hyperledger Blockchain Showcase</h2>
          </div>
          <div class="deploy-link">
            <a href="hyperledger-blockchain-development-services">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="feature_text_wrap">
          <p>
            With hands-on experience in developing decentralized solutions and
            their components we stand out among the other NFT development
            solution providers, as we particularize on quality and
            customization. Focusing on our vision, we have been associated with
            real-world problems, providing ultimate solutions.Being featured on
            the Hyperledger Fabric Blockchain Showcase.
          </p>
          <div class="content-link">
            <a
              href="https://www.hyperledger.org/learn/blockchain-showcase?profile=eatzilla"
              target="_blank"
            >
              <span>More about hyperledger</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_text_wrap">
          <p>
            Our product Eatzila is the first-ever food delivery application on
            the blockchain network. We have built it to solve the major trauma
            in the industry, solving issues in substandard delivery and
            management, maintaining transparency in discounts, and others.
            Alongside we are extended as a premium Metaverse development company
            heading to the larger outreach across the continents. Our R&D team
            heads through every possible nuance to dig for the perfect solutions
            for our client. Our substantial motive is to revolve around this
            world as a sustainable web3 solution facilitator.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
