<section class="banners-section">
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>

  <div class="banner_wrapper">
    <div class="container" id="common-relative">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span> <strong>Uniswap Clone</strong> Script </span>
              </h1>
              <h3 class="metaverse_subheading">
                Launch your own decentralized exchange with a stable Uniswap
                exchange clone
              </h3>
              <p>
                We create cutting-edge DeFi exchange platforms that are focused
                on current trends & public interest. Our BlockchainX experts use
                a top-tier Uniswap clone script backed by their in-depth
                knowledge & experience to reap the benefits of entering the DeFi
                ecosystem.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/Uniswap/Uniswap-Clone-Script.png"
              width="350"
              height="220"
              class="img-fluid"
              alt="Uniswap clone script"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              class="img-fluid"
              width="25"
              height="50"
              alt="scroll-icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Ends -->
<!-- Product About Section -->
<section class="section-service-alt" #about>
  <div class="develop-erc">
    <div class="container">
      <div class="row">
        <div class="metaverse_heading mx-auto">
          <h3>What is a <span> Uniswap Clone?</span></h3>
        </div>
      </div>
      <div class="row align-items-center product-about-detail">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center uni-clone">
          <img
            src="assets-new/images/Uniswap/What-is-a-Uniswap-Clone.png"
            class="img-fluid"
            height="100%"
            width="350"
            alt="Uniswap Clone"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <p>
            Uniswap clone script is a pre-developed DeFi exchange clone software
            that includes all of the features and functionalities of the
            existing Uniswap platform. This clone script is an easy way for you
            to quickly launch a fully functional, bug-free decentralized
            exchange. It is a completely white label solution and can be
            customized for your idea. Get started quickly in DeFi with our Dex
            Exchange development services.
          </p>

          <div class="metaverse_subheading">
            <h3>White Label Uniswap Clone Script</h3>
          </div>
          <p>
            The White Label Uniswap Clone Script is a quick solution for
            instantly deploying your own DEX platform. At BlockchainX, our DeFi
            exchange developers provide the best white-label Uniswap clone
            solutions that support liquidity pools and crypto token swapping in
            the same way that Uniswap does. Through our UniSwap clone script,
            you can enter the world of DeFi.
          </p>
          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product About Section -->

<!-- Product List Feature -->
<section class="section-service-main">
  <div class="product-list-feature">
    <div class="container">
      <div class="metaverse_heading mx-auto">
        <h3><span>Dex Exchange </span> Development Demo</h3>
      </div>
      <div class="row metmb-3 video-section-top">
        <div class="col-lg-5">
          <div class="metaverse_subheading">
            <h3 class="video-heading">Uniswap Clone Dex User Demo</h3>
            <ul class="demo-list">
              <li><i class="bi bi-check-lg"></i> Swap</li>
              <li><i class="bi bi-check-lg"></i> Pools</li>
              <li><i class="bi bi-check-lg"></i> Charts - Info Explorer</li>
              <li>
                <i class="bi bi-check-lg"></i> Wallets supported - Metamask &
                Wallet Connect
              </li>
            </ul>

            <div class="content-link">
              <a href="https://dex.blockchainx.tech/#/swap" target="_blank">
                <span>View Demo</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  class="img-fluid"
                  width="50"
                  height="15"
                  alt="Link-arrow"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-7 orders-1 video-meta-right">
          <div class="video_right_side">
            <a href="https://dex.blockchainx.tech/#/swap" target="_blank">
              <img
                src="assets-new/images/product/uniswap-clone-script-demo.png"
                alt="uniswap-clone-script-demo"
                class="img-fluid"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="row align-items-end cmt-5 videos-ri">
        <div class="col-lg-7 orders-2 video-meta-left">
          <div class="video_left_side">
            <iframe
              width="100%"
              height="350"
              src="https://www.youtube.com/embed/cHTYBDYy9ik"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col-lg-5 orders-1 video-left">
          <div class="metaverse_subheading">
            <h3 class="video-heading">Dex Exchange Development Demo Video</h3>
            <ul class="demo-list">
              <li>
                <i class="bi bi-check-lg"></i> Automated Admin Revenue
                commission on each swap
              </li>
              <li>
                <i class="bi bi-check-lg"></i> Supports All EVM based
                Blockchains
              </li>
              <li>
                <i class="bi bi-check-lg"></i> Completely Decentralized - Smart
                Contracts
              </li>
              <li>
                <i class="bi bi-check-lg"></i> Customizable & 100% source codes
              </li>
            </ul>
            <div class="content-link">
              <a href="https://dex.blockchainx.tech/#/swap" target="_blank">
                <span>View Demo</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  class="img-fluid"
                  width="50"
                  height="15"
                  alt="Link-arrow"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product List Feature -->

<!-- Product Features -->
<section class="section-service-alt">
  <div class="product-feature">
    <div class="container">
      <div class="row">
        <div class="metaverse_heading mx-auto">
          <h3><span> Uniswap Clone</span> Features</h3>
        </div>
        <p class="py-3 text-center">
          Our Uniswap Clone Script is loaded with high quality and standard
          essential features:
        </p>
      </div>
      <div class="row produt-feature-detail">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/Flash Swapping.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="Flash Swapping"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Flash Swapping</h4>
          <p>
            Our DEX exchange platform uses flash swapping to speed up multi-step
            transactions, allowing users to withdraw ERC-20 token reserves.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/Competitive pricing.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="Competitive-pricing"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Competitive pricing</h4>
          <p>
            Get your DEX up and running quickly with minimal setup and
            maintenance. Through expert-quality analysis, we provide a
            cost-effective dex platform.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/Yield Farming.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="Yield-Farming"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Yield Farming</h4>
          <p>
            Our DEX development services enable you to offer new Defi earning
            opportunities to the users. You can begin your yield farming & DEX
            protocol with expert guidance.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/Custom Cordapps.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="Custom-Cordapps"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Multiple wallets</h4>
          <p>
            Users have the flexibility of multiple wallet support with our
            uniswap clone script since it is compatible with well-known wallets.
          </p>
        </div>
      </div>
      <div class="row produt-feature-detail">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/Token Versatility.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="Token-Versatility"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Deploy on any network</h4>
          <p>
            The issuance of new tokens allows your Uniswap clone to experience
            high-level trading while your own token is being developed.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/No holding of funds.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="No holding of funds"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">No holding of funds</h4>
          <p>
            Our UniSwap clone is completely decentralized, which means that
            everything works completely through smart contracts. Users always
            keep their private keys.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/Secured Transactions.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="Secured-Transactions"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Secured Transactions</h4>
          <p>
            Our UniSwap clone script runs on internally audited & secured smart
            contracts. This makes it completely trustless and makes transactions
            secure through the blockchain.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
          <div class="product-feature-image">
            <img
              src="assets-new/images/Uniswap/ERC20 token trading.png"
              class="img-fluid py-2"
              height="100%"
              width="110"
              alt="ERC20-token-trading"
              loading="lazy"
            />
          </div>
          <h4 class="common-sub-heading-alt">Own Custody</h4>
          <p>
            Users of our DEX platform can store their private keys, making them
            the custodians of their tokens/assets, and exchange them directly
            with the liquidity pools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Features -->
<!-- Product Services -->
<section class="section-service-alt-main">
  <div class="product-services">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="casetudies_common">
            <h3 class="main-sub-heading">Benefits of Uniswap Clone</h3>
            <div class="casestudies_para">
              <p>
                BlockchainX comes with a seamless array of benefits that provide
                a complete experience for users. Our Uniswap clone is your
                quickest way to run a trustless online business in the
                decentralized finance universe.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 scrolling-section" id="meta-case-study">
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Less Investment</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    Creating a custom DeFi exchange platform like Uniswap does
                    not always have to be an expensive endeavour. Our Uniswap
                    clone enables you to launch a low-cost exchange platform.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Disposal of Middleman</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    Decentralization is always beneficial in paving the way for
                    a business process with no third-party involvement. The
                    removal of third parties ensures that the output is more
                    efficient.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>High ROI</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    Get a premium rate of ROI through our decentralized exchange
                    platform, which includes features such as staking, yield
                    farming, and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <!--start-->
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Liquidity Benefits</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    Optimize your user experience with our Uniswap clone, which
                    provides a smooth liquidity protocol that directly
                    eliminates challenges.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <!--end-->
          <!--start-->
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Instant Swaps</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    Users don't have to wait for orders to fill like in a
                    regular centralized exchange. They can swap tokens instantly
                    by connecting their Web3 wallets.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <!--end-->
          <!--start-->
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Censorship Resistant</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    Users can interact directly with the blockchain through the
                    Uniswap clone app, which is completely decentralized &
                    censorship-resistant.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <!--end-->
          <!--start-->
          <div class="row">
            <div class="col-lg-12">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>LP Rewards</h3>
                </div>
                <div class="casestudy_para">
                  <p>
                    The Uniswap clone includes LP rewards so that users could
                    use its liquidity mining feature to earn rewards through
                    liquidity provisions and token pairs.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <!--end-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Services -->
<!-- Accordion Section -->
<section class="section-service-main">
  <div class="container">
    <div class="nft-acc">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 acc-head">
        <h3 class="main-sub-heading text-center">Security Features</h3>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center acc-image">
          <img
            src="assets-new/images/Uniswap/Security-Features.png"
            alt="NFT-Marketplce-Development"
            class="img-fluid"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Smart Contracts
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Our Uniswap clone is integrated with secured smart
                    contracts, which directly helps in the automation of
                    transactions by connecting potential sellers & buyers.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Completely Decentralized
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Users can complete transactions without the involvement of a
                    third party or middleman since our Uniswap clone is
                    completely decentralized.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Multi-Layered Security
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Cybercriminals will target any cryptocurrency-related
                    platform. With multi-layered security, our Uniswap clone is
                    safe from cybercriminals.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  End-To-End Encryption
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    With End-to-End encryption, our Uniswap clone protects
                    communications and transactions among users.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Oracles
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    We came up with a highly secure exchange that saves data on
                    the outside while allowing the user to view constant pricing
                    information.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Accordion Section -->
<!-- Development Services -->
<section class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>Our<span> Uniswap Clone Script</span> Development Process</h3>
    </div>
    <div
      class="row align-items-center justify-content-center process-comm-head"
    >
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center process-image">
        <img
          src="assets-new/images/Uniswap/Uniswap clone client requirements.png"
          class="img-fluid"
          alt="Uniswap-clone-client-requirements"
          loading="lazy"
        />
        <h4 class="common-sub-heading-alt">Requirement gathering</h4>
        <p class="text-center">
          We consider each customer to be unique, a thorough analysis of your
          requirements will be done based on your specific needs and
          expectations.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center process-image">
        <img
          src="assets-new/images/Uniswap/Development tools ready for development.png"
          class="img-fluid"
          alt="Development-tools ready for development"
          loading="lazy"
        />

        <h4 class="common-sub-heading-alt">Planning</h4>
        <p class="text-center">
          Depending on the client's business concept, our business experts will
          plan and provide the best solution.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center process-image">
        <img
          src="assets-new/images/Uniswap/Smart contract development.png"
          class="img-fluid"
          alt="Smart-contract-development"
          loading="lazy"
        />

        <h4 class="common-sub-heading-alt">Designing</h4>
        <p class="text-center">
          User experience is vital to the success of your Uniswap clone. As a
          result, we assign specialized experts to build the UI and other
          visuals for your Uniswap clone app.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center process-image">
        <img
          src="assets-new/images/Uniswap/Integrate APl with web3 wallet.png"
          class="img-fluid"
          alt="Integrate APl with web3-wallet"
          loading="lazy"
        />

        <h4 class="common-sub-heading-alt">Development</h4>
        <p class="text-center">
          Although we provide you with a ready-made Uniswap clone, it must be
          customized to your requirements and add the features you want to
          include.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center process-image">
        <img
          src="assets-new/images/Uniswap/Security-Features.png"
          class="img-fluid"
          alt="Run-quality-testing"
          loading="lazy"
        />

        <h4 class="common-sub-heading-alt">Testing</h4>
        <p class="text-center">
          This is simply to ensure that everything works as it & that there are
          no flaws, and that the Uniswap clone we deliver is free of issues like
          compatibility & dependability.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center process-image">
        <img
          src="assets-new/images/Uniswap/Run quality testing.png"
          class="img-fluid"
          alt="Deploy and launch"
          loading="lazy"
        />
        <h4 class="common-sub-heading-alt">Deployment</h4>

        <p class="text-center">
          Maintenance is optional, but once the solution is complete, we will
          deploy it on your server & if you also build your mobile app with us,
          we will deploy the mobile app on the suitable play stores.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Development Services -->
<app-blog></app-blog>
<app-contactform></app-contactform>
