<!-- Banner Section -->
<div class="banners-section">
  <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      height="100%"
      width="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="lazy"
    />
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <h1 class="text-center">
        <span> About Blockchainx </span>
        <small>
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/about/webp/hand.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/about/hand.png"
            />

            <img
              src="assets-new/images/about/hand.png"
              alt="About-Blockchainx"
              height="50"
              width="50"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
        </small>
      </h1>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <div class="common-sub-heading">
                <h4>Why Us <span class="dots">.</span></h4>
              </div>
              <p class="pt-4">
                BlockchainX is a leading company, founded in 2017, that
                specializes in providing blockchain and cryptocurrency
                development services. We deliver excellent services that give
                businesses a competitive edge & help clients grow by taking a
                unique approach & focusing on quality. Our blockchainX team
                brings strong project management skills as well as a track
                record of successful projects in this emerging industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/about-banner.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/about/about-banner.png"
              />

              <img
                src="assets-new/images/about/about-banner.png"
                class="img-fluid"
                alt="Right-vector"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->
<!-- About Main -->
<section class="about-main-about" #about>
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          <span
            >Our Passion will pave your way into the world of infinite
            possibilities</span
          >
        </h3>
      </div>
      <div class="about-people">
        <picture>
          <source
            type="image/webp"
            srcset="assets-new/images/about/webp/people.webp"
          />

          <source
            type="image/png"
            srcset="assets-new/images/about/people.png"
          />

          <img
            src="assets-new/images/about/people.png"
            class="img-fluid"
            width="100%"
            height="100%"
            alt="About Blockchainx"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<!-- About Main  -->
<!-- About Products -->
<section class="about-products">
  <div class="green-vector"></div>
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>
        <span>Blockchainx</span>
        expertise in
      </h3>
    </div>

    <div class="about-product-detail">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-4 about-details">
          <div class="about-product-services">
            <h3>Service</h3>
            <p>
              We have provided a wide range of end-to-end services to our global
              clients over the years. You can find all our capabilities related
              to blockchains, smart contracts, DeFi, etc. We've got it all under
              one roof for you.
            </p>
            <div class="content-link">
              <a
                href="assets-new/images/about/blockchainx-services-list.pdf"
                download
              >
                <span>Download Brochure</span>

                <picture>
                  <source
                    type="image/webp"
                    srcset="assets-new/images/about/webp/download.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets-new/images/about/download.png"
                  />

                  <img
                    src="assets-new/images/about/download.png"
                    class="img-fluid"
                    alt="Right-vector"
                    loading="lazy"
                    width="100%"
                    height="100%"
                  />
                </picture>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-4 about-details">
          <div class="about-product-services">
            <h3>Product</h3>
            <p>
              We help you launch a future-ready Metaverse by supporting the
              technical & development needs of your project. With our expertise
              in Web3, AR/VR, and AI, you can reap the benefits of the 3D
              Internet.
            </p>
            <div class="content-link">
              <a
                href="assets-new/images/about/blockchainx-Products.pdf"
                download
              >
                <span>Download Brochure</span>
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets-new/images/about/webp/download.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets-new/images/about/download.png"
                  />

                  <img
                    src="assets-new/images/about/download.png"
                    class="img-fluid"
                    alt="Right-vector"
                    loading="lazy"
                    width="100%"
                    height="100%"
                  />
                </picture>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-4 about-details">
          <div class="about-product-services">
            <h3>NFT</h3>
            <p>
              We provide NFT marketplace services that help users in launching a
              feature-rich NFT marketplace on various blockchain networks. Our
              expert team provides end-to-end solutions to create a fully
              functional and customized NFT marketplace.
            </p>
            <div class="content-link">
              <a
                href="assets-new/images/about/nft-marketplace-pitchdeck.pdf"
                download
              >
                <span>Download Brochure</span>
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets-new/images/about/webp/download.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets-new/images/about/download.png"
                  />

                  <img
                    src="assets-new/images/about/download.png"
                    class="img-fluid"
                    alt="Right-vector"
                    loading="lazy"
                    width="100%"
                    height="100%"
                  />
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Products -->
<!-- About Clients -->
<section class="about-section-clients">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          <span>Blockchainx</span>
          Clients
        </h3>
      </div>
    </div>
    <div class="row client-carousel">
      <div class="col-lg-12 mx-auto">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/ekta.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/wafercoin.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/reflex-finance.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/Zuki.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ourclients">
              <img
                src="assets-new/images/Home/clients/Polkadog.png"
                class="img-fluid"
                alt="our clients"
                loading="lazy"
              />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- About Clients -->
<!-- About Service -->
<section class="service-detail">
  <div class="container">
    <div class="row">
      <owl-carousel-o [options]="clientOptions">
        <ng-template carouselSlide>
          <div class="service-detail-item">
            <h4>6 Years of experience</h4>
            <p>
              We are industry leaders with over 6 years of experience serving
              customers around the globe & have a lot of expertise in developing
              successful blockchain products.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="service-detail-item">
            <h4>Blockchain experts</h4>
            <p>
              We have a team of highly skilled experts who have mastered the art
              over the years by working with clients from all over the world &
              achieving higher success rates.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="service-detail-item">
            <h4>Team & Culture</h4>
            <p>
              Our team members share a passion for achieving a fixed outcome and
              make every effort to keep our culture fresh, innovative, and
              dynamic.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="service-detail-item">
            <h4>Cost effective</h4>
            <p>
              We understand the client's expectations, achieve exceptional
              results, & offer strong IT technical support for entire innovative
              projects at an affordable cost.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="service-detail-item">
            <h4>Customized solutions</h4>
            <p>
              We deliver best-suited and customized solutions to meet your
              advanced business needs, with expertise in both emerging and
              legacy technologies.
            </p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
<!-- About Service -->
<!-- About Platform -->
<section class="about-platform">
  <div class="violet-vector"></div>
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          <span>Blockchainx</span>
          Platforms
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="logo-carousel-list">
        <owl-carousel-o [options]="logoOptions">
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/ava.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/ava.png"
                />

                <img
                  src="assets-new/images/about/ava.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Cardano.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Cardano.png"
                />

                <img
                  src="assets-new/images/about/Cardano.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Ethereum.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Ethereum.png"
                />

                <img
                  src="assets-new/images/about/Ethereum.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Hedera.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Hedera.png"
                />

                <img
                  src="assets-new/images/about/Hedera.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Moonbeam.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Moonbeam.png"
                />

                <img
                  src="assets-new/images/about/Moonbeam.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Polygon.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Polygon.png"
                />

                <img
                  src="assets-new/images/about/Polygon.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/r3 corda.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/r3 corda.png"
                />

                <img
                  src="assets-new/images/about/r3 corda.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Steller.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Steller.png"
                />

                <img
                  src="assets-new/images/about/Steller.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo-item">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/about/webp/Tezos.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/about/Tezos.png"
                />

                <img
                  src="assets-new/images/about/Tezos.png"
                  class="img-fluid"
                  alt="Right-vector"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </picture>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- About Platform -->
<!-- About Gallery -->
<section class="main-about-carousel">
  <div class="violet-vector"></div>
  <div class="row">
    <div class="logo-carousel-list-alt">
      <owl-carousel-o [options]="aboutOptions">
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel1">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/1.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/1.jpg" />

              <img
                src="assets-new/images/about/1.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/2.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/2.jpg" />

              <img
                src="assets-new/images/about/2.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/3.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/3.jpg" />

              <img
                src="assets-new/images/about/3.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel2">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/4.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/4.jpg" />

              <img
                src="assets-new/images/about/4.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/5.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/5.jpg" />

              <img
                src="assets-new/images/about/5.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/6.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/6.jpg" />

              <img
                src="assets-new/images/about/6.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel3">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/7.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/7.jpg" />

              <img
                src="assets-new/images/about/7.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/8.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/8.jpg" />

              <img
                src="assets-new/images/about/8.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/9.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/9.jpg" />

              <img
                src="assets-new/images/about/9.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel4">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/10.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/10.jpg"
              />

              <img
                src="assets-new/images/about/10.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/11.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/11.jpg"
              />

              <img
                src="assets-new/images/about/11.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/12.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/12.jpg"
              />

              <img
                src="assets-new/images/about/12.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel5">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/16.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/16.jpg"
              />

              <img
                src="assets-new/images/about/16.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/14.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/14.jpg"
              />

              <img
                src="assets-new/images/about/14.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/15.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/15.jpg"
              />

              <img
                src="assets-new/images/about/15.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel6">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/1.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/1.jpg" />

              <img
                src="assets-new/images/about/1.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/17.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/17.jpg"
              />

              <img
                src="assets-new/images/about/17.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/18.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/18.jpg"
              />

              <img
                src="assets-new/images/about/18.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel1">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/6.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/6.jpg" />

              <img
                src="assets-new/images/about/6.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/9.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/9.jpg" />

              <img
                src="assets-new/images/about/9.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/5.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/5.jpg" />

              <img
                src="assets-new/images/about/5.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel2">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/7.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/7.jpg" />

              <img
                src="assets-new/images/about/7.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/11.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/11.jpg"
              />

              <img
                src="assets-new/images/about/11.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/3.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/3.jpg" />

              <img
                src="assets-new/images/about/3.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="main-list-item" id="carousel3">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/5.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/5.jpg" />

              <img
                src="assets-new/images/about/5.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/9.webp"
              />

              <source type="image/jpg" srcset="assets-new/images/about/9.jpg" />

              <img
                src="assets-new/images/about/9.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/about/webp/15.webp"
              />

              <source
                type="image/jpg"
                srcset="assets-new/images/about/15.jpg"
              />

              <img
                src="assets-new/images/about/15.jpg"
                alt="avalnche"
                class="img-fluid"
                loading="lazy"
                width="230"
                height="140"
              />
            </picture>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
<section class="about-gallery">
  <div class="container">
    <div class="row">
      <div class="row metmb-3 video-section-top">
        <div class="col-lg-5">
          <div class="metaverse_subheading">
            <h3 class="video-heading">
              Equip your business for success in the ever-growing tech landscape
            </h3>

            <div class="content-link">
              <a href="#">
                <span>View Demo</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  class="img-fluid"
                  width="50"
                  height="15"
                  alt="Link-arrow"
                  loading="lazy"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-7 orders-1 video-meta-right">
          <div class="video_right_side">
            <img
              src="assets-new/images/nft/nft-right.png"
              alt="Blockchainx-NFT-Demo"
              class="img-fluid"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
        </div>
      </div>
      <div class="row align-items-end cmt-5 videos-ri">
        <div class="col-lg-7 orders-2 video-meta-left">
          <div class="video_left_side">
            <img
              src="assets-new/images/nft/nft-left.png"
              alt="Blockchainx-NFT-Demo"
              class="img-fluid"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
        </div>
        <div class="col-lg-5 orders-1 video-left">
          <div class="metaverse_subheading">
            <h3 class="video-heading">
              Experience a faster path with blockchain innovation
            </h3>
            <div class="content-link">
              <a href="#">
                <span>View Demo</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  class="img-fluid"
                  width="50"
                  height="15"
                  alt="Link-arrow"
                  loading="lazy"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Gallery -->
<!-- About Hyperledger -->
<section class="about-hyperledger">
  <div class="container">
    <div class="row">
      <div class="about_heading">
        <h3>
          We Spotlighted In

          <span><strong>Hyperledger Blockchain</strong> Showcase</span>
        </h3>
      </div>
    </div>
    <div class="row about-hyper">
      <div class="green-vector"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <p>
          BlockchainX is a leading hyperledger development company that offers
          the best hyperledger blockchain solutions and services to its clients
          in a highly secure and trustworthy environment. We built Eatzilla, the
          world's first blockchain-powered food delivery solution on Hyperledger
          Sawtooth. Eatzilla is a platform for online food ordering and delivery
          services. Our Hyperledger blockchain services are user-friendly, and
          we thoroughly build separate applications before integrating with the
          network whenever necessary.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <p>
          We have a team of blockchain consultants and blockchain services
          experts to guide you through the best ways to use Hyperledger for
          business purposes. Irrespective of the size of your organization or
          the industry you are in, our blockchain development experts are
          experienced enough to see you through the hurdles. You should try it
          out since it's now a shining star on the market.
        </p>
        <div class="content-link">
          <a href="#">
            <span>More about hyperledger</span>
            <img
              src="assets-new/images/right-arrow.png"
              class="img-fluid"
              width="50"
              height="15"
              alt="Link-arrow"
              loading="lazy"
            />
          </a>
          <hr />
        </div>
      </div>
    </div>
    <div class="hyper-platform-list">
      <div class="orange-vector"></div>
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/hyperledger.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/caliber.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/hyperledger-composer.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/hyperledger-explorer.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/sawtooth.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/iroha.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <img
            src="assets-new/images/Home/stak/fabric.png"
            alt="Hyperledger"
            class="img-fluid py-3"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Hyperledger -->
<section class="discuss">
  <div class="container">
    <app-let-discuss></app-let-discuss>
  </div>
</section>
<!-- why_choose_us starts -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>Why Blockchainx ?</h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              We are a full-fledged development company extending top business
              solutions to our clients to mend their commercial setbacks. We
              deliver successful results at a faster pace with a cost-effective
              approach. Engage with us to build a scalable and secured smooth
              sector.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why_choose_us ends-->
<app-blog></app-blog>
<app-contactform></app-contactform>
