<section class="blog-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 mb-4">
        <div class="blog-single-wrap">
          <img
            src="assets-new/images/blog-single/Stellar/Stellar-Consensus-Protocol.jpg"
            alt="Detailing On Stellar Consensus Protocol"
            class="img-fluid"
            width="100%"
            height="100%"
            loading="lazy"
          />

          <h2>Detailing On Stellar Consensus Protocol</h2>

          <p>
            Consensus is present in all aspects of life, amongst the human race,
            and, of course, the digital space cannot deny its dependence. There
            needs a defined set of instructions met, to approve and agree on
            something. Exploring blockchain networks also vest on Consensus
            protocol, which over the years brought in many different and
            specified stigma that makes the process more straightforward and
            speedy. Among that Stellar consensus protocol working is slightly up
            and. Here let us focus in detail on these consensus and more about
            the working structure of Stellar Consensus Protocol.
          </p>

          <h4>What Is Consensus Protocol And Its Types?</h4>

          <p>
            The consensus protocol in Blockchain consists of a set of agreements
            for the system to agree upon to process and validate the
            transaction. It consists of agreements, collaborations, rights,
            co-operations, and many others to approve upon. Moreover, it brings
            in overall system reliability in the network connecting different
            nodes and users. With excellent multiple architectures, the
            consensus protocol makes the network highly scalable and available.
          </p>

          <p>
            Listed below are different consequences that are amplified in the
            blockchain network.
          </p>

          <h4>Proof of Work</h4>

          <p>
            The main motive of Proof of work would be to be able the odes to
            perform different mathematical components and meters, by guessing as
            many possibilities in a shorter span. The miners and validators in
            the network, have to prove that their transaction made satisfies the
            requirements and duly meets the demand to fit in the nodes. By
            solving complicated mathematics, the transaction finds a space in
            the cryptographic hash of the block.
          </p>

          <h4>Proof Of Stake</h4>

          <p>
            This is an alternative for proof of work. Involves intricate
            hardware, software, and no complicated math to process mining. The
            validators here get rewards and increase their stake. Reducing
            energy consumption. Here the number of mining tokens matters, the
            more they stake the more control is driven over the consensus.
          </p>

          <h4>Stellar Consensus Protocol</h4>

          <p>
            This consensus module provides a way to look at different
            possibilities without relying on the closed system protocol to
            precisely record
            <a
              [routerLink]="[
                '/blockchain-innovations-can-transform-financial-industry'
              ]"
            >
              financial transactions
            </a>
            The SCP module initiates speedy transactions, at a comparatively
            lower cost. It simplifies everyone on the network to reach an
            agreement on the validity of the traction in a shorter span.
          </p>

          <h4>Byzantine Agreement System</h4>

          <p>
            It brings in a set of Parties within the environment to agree on a
            particular value when in case of few. Moreover, a number of
            solutions arrived through the Byzantine agreement protocol. When a
            certain minimum number of nodes are reached, the agreement is
            approved and the solution is correct, therefore the block is
            validated and approved in the inclusion of the blockchain.
          </p>

          <div class="mb-4">
            <table>
              <tbody>
                <tr>
                  <th>Mechanisms</th>
                  <th>Decentralization</th>
                  <th>Less Latency</th>
                  <th>Flexibility</th>
                  <th>Asymptotic security</th>
                </tr>
                <tr>
                  <td>Proof of stake</td>
                  <td>Yes</td>
                  <td>Maybe</td>
                  <td></td>
                  <td>Maybe</td>
                </tr>
                <tr>
                  <td>Stellar consensus</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Byzantine Agreement</td>
                  <td></td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Tendermint</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td></td>
                  <td>Yes</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4>Explaining Stellar Consensus Protocol</h4>

          <p>
            As the consensus is important to a decentralized payment system. The
            distribution, monitoring, and approval of transactions among
            individual nodes can rely on a central system. Consensus is
            important for ensuring security, permitting the nodes to accept safe
            algorithms, and it prevents double-spending attacks.
          </p>

          <p>
            The SCP was a construction federated on Byzantine Agreement (FBA).
            It is slightly different as it relies on the agreement of the
            trusted nodes, while others rely on nodes on staking power and
            computational abilities. Each participant in SCP is called a
            validator who defines what set of other nodes that has to be
            trusted. The user-defined trust flexes open network membership and
            decentralized control. The validator is not benefited by any
            monitory regard instead, they are encouraged to be validators to
            contribute to the security of the network, and the resiliency of the
            network.
          </p>

          <div class="blog-picture py-2">
            <img
              src="assets-new/images/blog-single/Stellar/properties-of-scp.png"
              alt="consensu-protocol"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>

          <h4>The Four Principles Of Stellar Consensus Protocol</h4>

          <p>
            <strong> Decentralization </strong> - there is no restriction in
            participation and the authority is also never centralized in terms
            of approval over consensus.
          </p>

          <p>
            <strong>Less Latency</strong> - the nodes reach the point of
            consensus on time, except in the case of web or payment
            transactions. But they are also managed in seconds.
          </p>

          <p>
            <strong>Flexibility</strong> - the users are free to act and trust
            the combination of parties, where even smaller nonprofits may play a
            vital role in keeping up with large institutions.
          </p>

          <p>
            <strong>Asymptotic security</strong> - digital signatures and hash
            families have safety bound with parameters. That can be tuned to
            protect adversaries with unimaginably vast computing power.
          </p>

          <h4>The Major Components Of Stellar Consensus Protocol</h4>

          <h4>Quorum set</h4>

          <p>
            Each core node decides on which node it trusts to reach out to for
            agreements. A trusted node set is called a Quorum set.
          </p>

          <p>
            Example: B is a node and A, C, and D are core nodes agreed to trust,
            Quorum set.
          </p>

          <h4>Thresholds</h4>

          <p>
            In addition to the Quorum set, the core node chooses a threshold.
            There is a minimum count of the node in a set to reach a consensus.
          </p>

          <p>
            Example: When the threshold is 2, the quorum set validates when the
            sets are in combination with 2s. Say (A, D) or (A, C) or (C, D)
          </p>

          <h4>Quorum Slices</h4>

          <p>
            The combination of nodes agreeing within a quorum set is called
            Quorum Slices.
          </p>

          <p>
            Example: the nodes A, and C are combined to validate, they are the
            slices.
          </p>

          <h4>Blocking Sets</h4>

          <p>
            The nodes have the power to block and protest from reaching
            consensus. The node blocking set prevents nodes in the Quorum set
            from reaching agreements.
          </p>

          <p>
            Example: when 3 on 4 nodes are required for a quorum set to agree, a
            combination of 2 sets is node blocking sets.
          </p>

          <h4>Quorum</h4>

          <p>
            This is a set of sufficient nodes to reach an agreement. These nodes
            are part of Quorum slices.
          </p>

          <p>
            Example: the nodes A and C are quorums of an agreement when the
            validation requires 2 combination sets.
          </p>

          <h4>Statements</h4>

          <p>
            For the stellar to express validation or valid statement, the
            opinion of nodes regarding the transaction has to agree in the
            ledger.
          </p>

          <p>
            Example: in the case of proposing the transaction to be set for
            ledger number 800, it is approved based on its opinion on the quorum
            set.
          </p>

          <h4>Agreement system</h4>

          <p>
            Fault tolerance is foremost here. The byzantine agreement statement
            is well supported here as it is consistent enough to provide results
            over errors.
          </p>

          <h2>
            What Is Federated Voting In The Working Of Stellar Consensus
            Protocol?
          </h2>

          <div class="blog-picture py-2">
            <img
              src="assets-new/images/blog-single/Stellar/flow-chart.png"
              alt="consensu-protocol"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>

          <p>
            <strong
              >Stellar Consensus Protocol = Vote -> Accept -> Confirm
            </strong>
          </p>

          <p>
            The Stellar consensus protocol agreement is achieved through
            federated voting. The node helps in curling out the reasons earned
            from the quorum set before 100% agreeing to the honest network. The
            process basically goes through three straight steps in terms of
            federated voting:
          </p>

          <p>1. Voting</p>

          <p>2. Accepting</p>

          <p>3. Confirming</p>

          <p>Let us consider the node ‘CAT’ to have four opinions.</p>

          <p>1. I know nothing about CAT and there is no opinion.</p>

          <p>2. I vote for CAT and it is valid. But unsure if it's safe.</p>

          <p>3. I support CAT as enough nodes stand by it.</p>

          <p>
            4. CAT is confirmed and safe. Despite all other nodes in the quorum
            set not being confirmed, only CAT is confirmed and not others.
          </p>

          <p>Here federated voting takes place to simplify the complexities.</p>

          <p>Vote for CAT, if it has m previous votes.</p>

          <p>Accept CAT, if either</p>

          <p class="ml-2">i. Every node in the quorum slice vote for CAT</p>

          <p class="ml-2">OR</p>

          <p class="ml-2">ii. When my block set accept CAT</p>

          <p class="ml-2">
            iii. Excluding the cases when the node has contradicted the result
            in the previous time.
          </p>

          <p>Confirm CAT when every node accepts CATi in the Quorum slice.</p>

          <p>The Consensus round is separated into two stages.</p>

          <h4>Nomination Protocol</h4>

          <p>
            Under this protocol the transaction set is selected to get entered
            into the ledger. Once the first candidate confirms, it stops voting
            and nominates other transaction sets. Yet it can still accept and
            confirm previous statements it has nominated. When every other node
            stops bringing new values and continues to confirm other nodes,
            everything ends up in the same list. The ballot protocol starts soon
            after it is confirmed. The first candidate confirms, to start the
            next step while this runs in the background.
          </p>

          <h4>Ballot Protocol</h4>

          <p>
            The ballot protocol unanimously confirms and applies nominated sets
            of transactions. First, Prepare. It verifies the quorum slices of
            nodes to have the right value and its acceptance to give commitment.
            The next set is a commitment as it here ensures the commitment of
            the Node’s quorum slices for the values.
          </p>

          <h2>Get Validated With Stellar Consensus Protocol</h2>

          <p>
            The Stellar Consensus Protocol is intended to make profound changes
            in the structure of financial transactions in the globally evolving
            era of
            <a [routerLink]="['/everything-you-need-to-know-about-web3']">
              web3.</a
            >
            The stellar consensus protocol is one fine solution to buckle up for
            easy, speedy, and quick transactions and validation in the
            blockchain network. To get yourself aided with SCP, a blockchain
            development company can help you. Get your validity more strong and
            more secure with the outstanding abilities of Stellar consensus
            protocol working amazingly precise.
          </p>
        </div>
        <app-social></app-social>
      </div>
      <div class="col-lg-4 col-md-12 stick-blog">
        <app-blog-sidebar></app-blog-sidebar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <app-comments></app-comments>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
