<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span
                  ><strong>Interplanetary File System</strong> Development</span
                >
              </h1>
              <h3 class="metaverse_subheading">
                Interplanetary File System blockchain development services
              </h3>

              <p>
                BlockchainX provides you with the most prominent IPFS blockchain
                development services. Our experts have necessary knowledge to
                meet your objectives without any glitches. Connect with us right
                away.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/erc/ipfs/interplanetary-file-system.png"
              class="img-fluid"
              alt="ipfs-blockchain-development"
              width="400"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends  -->

<!-- IPFS -->
<div class="section-service-alt" #about>
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
        <div class="bep-work-section">
          <img
            src="assets-new/images/erc/ipfs/interplanetary-file-system-blockchain.png"
            class="img-fluid"
            alt="IPFS Blockchain Development Services"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            Interplanetary File System (IPFS) Blockchain Development Services
          </h3>
          <p>
            IPFS, or the interplanetary file system, is the distributed web. A
            peer-to-peer hypermedia protocol to make the web faster, safer, and
            more open. The Inter Planetary File System distributes all files
            across the network & makes them available to all other computers
            connected to the network at the same time. And we can explore the
            same with pride, knowing that BlockchainX will use IPFS to simplify
            & update everything in the competitive technical world.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- IPFS -->

<!-- Why IPFS? -->
<div class="section-service-main">
  <div class="container">
    <div class="row reverse dao-Platform align-items-center">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">Why IPFS?</h3>
          <p>
            As you can see, IPFS is a technically and conceptually complex
            protocol with lofty goals of revolutionizing data exchange across
            the Internet. HTTP was a success in its own right, and it helped the
            Internet reach its current heights, but new technologies are
            arising, and the need for a revived and distributed infrastructure
            has become clear.
          </p>
          <p>
            IPFS is used to deliver content to websites, store files globally
            with automatic versioning and backups & enable secure file sharing
            and encrypted communication.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
        <div class="bep-work-section">
          <img
            src="assets-new/images/erc/ipfs/why-IPFS.png"
            class="img-fluid"
            alt="Why-IPFS-Development-Services"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why IPFS? -->

<!-- How IPFS works? -->
<div class="section-service-alt">
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
        <div class="bep-work-section">
          <img
            src="assets-new/images/erc/ipfs/how-IPFS-works.png"
            class="img-fluid"
            alt="How-IPFS-Works"
            width="300"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">How does IPFS work?</h3>
          <p>
            When all the devices on the network are connected with the same file
            architecture, IPFS works more smoothly. What will you do to read a
            normal IPFS whitepaper? The very first step involves typing in a
            URL. The IP address is then decided upon to recognize the situation
            of the file. In most cases, it is the IPFS servers. After this, the
            client establishes a connection with the host and receives the file.
            Now, if the network is that of an IPFS, the cryptographic hash
            identifies the file and the blocks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- How IPFS works? -->

<!-- IPFS Features -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3><span>IPFS</span> Features</h3>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/ipfs/improvised-security.png"
            class="img-fluid"
            alt="Improvised security"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Improvised security</h4>
          <p class="text-center">
            IPFS secures data that is stored & transmitted over the network
            using cryptographic algorithms. Each file is given a unique hash to
            ensure its integrity & users with correct decryption key can access
            files.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/ipfs/superfast-transaction.png"
            class="img-fluid"
            alt="Superfast transactions"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Superfast transactions</h4>
          <p class="text-center">
            IPFS uses a distributed architecture that allows files to be
            accessed from multiple nodes, resulting in faster file transactions
            when compared to traditional centralized file systems.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/ipfs/pragmatic-voting-system.png"
            class="img-fluid"
            alt="Pragmatic voting system"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Pragmatic voting system</h4>
          <p class="text-center">
            IPFS allows users to vote on the quality & authenticity of files
            through a built-in voting system. This makes it easier for users to
            trust the files and helps prevent the malicious content.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/ipfs/gossip-protocol.png"
            class="img-fluid"
            alt="Gossip Protocol"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Gossip Protocol</h4>
          <p class="text-center">
            To distribute files across the network, IPFS uses the gossip
            protocol. This allows files to be stored & accessed from multiple
            nodes simultaneously, thereby increasing redundancy.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- IPFS Features -->

<!-- How Business grows with| IPFS -->
<div class="section-service-main">
  <div class="container">
    <div class="row align-items-center reverse">
      <div
        class="col-lg-6 mx-auto col-md-12 col-sm-12 col-12 text-center about-section-image"
      >
        <img
          src="assets-new/images/erc/ipfs/how-business-grows-with-IPFS.png"
          alt="How Business grows with IPFS"
          class="img-fluid"
          width="400"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <h3 class="main-sub-heading">How Business grows with IPFS</h3>
        <p>
          Businesses that create website content can greatly benefit from IPFS.
          They can distribute large amounts of data without being constrained by
          storage capacity or bandwidth. This is also advantageous to service
          providers.
        </p>
        <p>
          IPFS allows the development of decentralized applications that do not
          rely on centralized servers or third-party services. This can give
          businesses more control over their data & applications, reducing the
          risk of service disruptions or downtime.
        </p>
        <div class="content-link">
          <a [routerLink]="['/contact']">
            <span>Read More</span
            ><img
              src="assets-new/images/right-arrow.png"
              class="img-fluid"
              width="50"
              height="15"
              alt="Link-arrow"
            />
          </a>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- How Business grows with| IPFS -->

<!--nft metaverse-->
<div class="section-service-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mb-0">
          <h3><span>Pros</span> and <span>Cons</span></h3>
        </div>
      </div>
    </div>
    <div class="row metmb-3 video-section-top">
      <div class="col-lg-5">
        <div class="metaverse_subheading">
          <h3 class="video-heading">PROS</h3>
          <p>1. Transparency</p>
          <p>2. Longevityy</p>
          <p>3. Colloboration</p>
          <p>4. Community</p>
          <p>5. Security</p>
          <p>6. Scalability</p>

          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-7 orders-1 video-meta-right">
        <div class="video_right_side">
          <img
            src="assets-new/images/nft/nft-right.png"
            alt="Pros of IPFS Development"
            class="img-fluid"
            height="100%"
            width="100%"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <div class="row align-items-end cmt-5 videos-ri">
      <div class="col-lg-7 orders-2 video-meta-left">
        <div class="video_left_side">
          <img
            src="assets-new/images/nft/nft-left.png"
            alt="Cons of IPFS Development"
            class="img-fluid"
            height="100%"
            width="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg-5 orders-1 video-left">
        <div class="metaverse_subheading">
          <h3 class="video-heading">CONS</h3>
          <p>1. The shortfall of an able economic model</p>
          <p>2. Uploading is a grave concern</p>
          <p>3. Requires optimization for personal data</p>
          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--nft metaverse-->
<app-blog></app-blog>
<app-contactform></app-contactform>
