<div class="techstack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="casetudies_common">
          <div class="commontext_subhead mb-1" data-aos="zoom-in">
            <h3>We Utilize.<span class="dots">.</span></h3>
          </div>
          <h3 class="main-sub-heading">Prime Technologies In Deployment</h3>
        </div>
      </div>
    </div>
    <div
      class="row row-cols-3 row-cols-sm-4 row-cols-md-6 row-cols-lg-7 my-5 justify-content-center"
    >
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Apecoin.png"
            alt="Apecoin"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Cosmos.png"
            alt="Cosmos"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Cronos.png"
            alt="Cronos"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Daicoin.png"
            alt="Daicoin"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Decentraland.png"
            alt="Decentraland"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Elrond.png"
            alt="Elrond"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Flow.png"
            alt="Flow"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/FTX.png"
            alt="FTX"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Hedera.png"
            alt="Hedera"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Internet_computer.png"
            alt="Internet Computer"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Filecoin.png"
            alt="Filecoin"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/KuCoin.png"
            alt="kuCoin"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Monero.png"
            alt="Monero"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Nearprotocol.png"
            alt="Nearprotocol"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Polkadot.png"
            alt="Polkadot"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Sandbox.png"
            alt="Sandbox"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Stellar.png"
            alt="Stellar"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Tezor.png"
            alt="Tezor"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Unussedleo.png"
            alt="techstack"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <img
            src="assets-new/images/business-tech/Vechain.png"
            alt="Vechain"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
