<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span><strong>Hyperledger </strong>Development Services</span>
              </h1>

              <p>
                Upscale your business with a Hyperledger blockchain framework
                enabled by smart contracts with our enterprise-level distributed
                hyperledger development services.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/Hyperledger/Hyperledger-Development-Services.png"
              class="img-fluid"
              alt="Hyperledger development company"
              width="330"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->

<!-- Why Choose DAO Platform Development start -->
<div class="section-service-alt" #about>
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <img
            src="assets-new/images/Hyperledger/What-is-Hyperledger.png"
            class="img-fluid"
            alt="what-is-hyperledger"
            width="330"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">What is Hyperledger?</h3>
          <p>
            Hyperledger is an open-source collaborative effort to advance
            blockchain technologies across industries. Hyperledger offers a
            variety of blockchain frameworks and tools for developing
            enterprise-grade blockchain applications and smart contracts. Our
            Hyperledger Blockchain Development Services are created in such a
            way that they will improve your business operations. Our developers
            provide cutting-edge services that are tailored to your specific
            business requirements.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose DAO Platform Development end -->

<!-- Why Choose DAO Platform Development start -->
<div class="section-service-main">
  <div class="container">
    <div class="row reverse dao-Platform align-items-center">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            How can BlockchainX help your business grow?
          </h3>
          <p>
            We have over five years of experience in web and mobile application
            development, as well as four years of experience in blockchain
            solutions and Dapp development. Our industry-specific experts have
            completed over 50 projects and fulfilled the requirements of many
            clients. Contact BlockchainX experts for your next enterprise-level
            blockchain-based project.
          </p>
        </div>
      </div>
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section text-center">
          <img
            src="assets-new/images/Hyperledger/How-can-BlockchainX-help-your-business-grow.png"
            class="img-fluid"
            alt="Hyperledger Blockchain development company"
            width="300"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose DAO Platform Development end -->

<!--Benefits of Smart Contracts for Your Business -->
<div class="section-service-alt-padd">
  <div class="our-process-erc">
    <div class="container">
      <div class="row our-solid-common">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3><span>Hyperledger blockchain </span> development services</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Hyperledger consulting</h4>
            <p>
              We determine which Hyperledger project is best suited to your
              business solution & what benefits it will provide to your company.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>User experience and technical design</h4>
            <p>
              Our UX designs are more user-friendly, and we deliver a technical
              design that includes a system blueprint defining technical
              components & database design.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Hyperledger application development</h4>
            <p>
              We help you build Dapps that are diligently created by our
              Hyperledger blockchain developers using Hyperledger Frameworks to
              meet your specific needs.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Smart Contracts and chain code development</h4>
            <p>
              We provide the best service for the creation of smart contracts or
              chain codes for the blockchain platform, ensuring that your
              projects are carried out with complete security.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Maintenance and support</h4>
            <p>
              We focus on providing the required maintenance and support
              services after deployment. Our developers provide support and will
              comply with the most recent trends.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Migration and upgrades</h4>
            <p>
              Get help migrating your current solution to the Hyperledger
              Framework. Also, if the Hyperledger-based blockchain app is
              modified, we can incorporate any changes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Benefits of Smart Contracts for Your Business -->

<!--Benefits of Smart Contracts for Your Business -->
<div class="section-service-alt-main">
  <div class="our-process-erc">
    <div class="container">
      <div class="row our-solid-common">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>Benefits of <span>Hyperledger</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Permissioned membership</h4>
            <p>
              Hyperledger allows for permissioned membership, which means that
              the identities of those accessing the data are known.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Privacy and confidentiality</h4>
            <p>
              Hyperledger frameworks ensure that users have full privacy when
              doing transactions & that their data is kept confidential.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Greater Scalability</h4>
            <p>
              Hyperledger can handle high-volume transactions more efficiently
              than traditional blockchains, improving the scalability of
              platform-built applications.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Customizable</h4>
            <p>
              Since Hyperledger is highly customizable, developers can tailor
              the platform to their specific requirements. This allows users to
              create their own applications.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Benefits of Smart Contracts for Your Business -->

<!-- Our Smart Contract Development Services -->
<div class="section-service-alt">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3><span>Hyperledger Blockchain </span> Development Process</h3>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/Hyperledger/Blockchain Ideation.png"
            class="img-fluid"
            alt="Blockchain Ideation in Hyperledger Development"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Blockchain Ideation</h4>
          <p class="text-center">
            We have certified hyperledger developers and expert consultants who
            can identify which areas you need to implement a distributed ledger
            in your business.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/Hyperledger/Technical Design.png"
            class="img-fluid"
            alt="Technical design in Hyperledger Development"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Technical Design</h4>
          <p class="text-center">
            We design the technical architecture and workflow at this stage &
            our UI /UX experts create the UI /UX. We ensure everything is
            scalable and secure.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/Hyperledger/Development.png"
            class="img-fluid"
            alt="Hyperledger Development"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Development</h4>
          <p class="text-center">
            After the identification and design process, we select appropriate
            frameworks & tools that meet your needs. Then it is a dive right
            into the development process.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/Hyperledger/Testing & Deployment.png"
            class="img-fluid"
            alt="Hyperledger Testing and Deployment"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Testing & Deployment</h4>
          <p class="text-center">
            We have a quality assurance team where quality analysts test your
            platform, ensuring that your applications are free from bugs and
            vulnerabilities.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/detail.png"
            class="img-fluid"
            alt="Hyperledger Testing and Deployment"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Deployment</h4>
          <p class="text-center">
            In this process, everything comes together. You've now got a
            scalable and sustainable decentralized application for your business
            with a secure network.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/detail.png"
            class="img-fluid"
            alt="Hyperledger Testing and Deployment"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">After sales services</h4>
          <p class="text-center">
            Our team will be with you throughout the process. After deployment,
            our consultants will be at your disposal & you can choose
            specialized maintenance plan for your project.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Our Smart Contract Development Services -->

<!-- Why Choose Blockchainx -->
<div class="section-service-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 nft-service-list">
        <div class="casetudies_common">
          <h3 class="main-sub-heading">Hyperledger Features</h3>

          <div class="casestudies_para">
            <p>
              The Hyperledger development offers several key features that set
              it apart from other blockchain platforms, and we will examine
              these features in greater depth and discuss why they make
              Hyperledger a popular choice for businesses looking to leverage
              blockchain technology.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 case-list">
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Plenty Of Network Platform</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  Hyperledger has many variants, such as Hyperledger Fabric &
                  Sawtooth, that enable each enterprise to get access to ledger
                  data, admin exchanges, & integrate this with blockchain
                  technology.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>High Accuracy</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  The purpose of Hyperledger is to provide better clarity and
                  reliability for performing transactions in the blockchain
                  network.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Security</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  We incorporate the best security features into your
                  Hyperledger blockchain solutions to build a fully secure and
                  robust application.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Reliable Business Model</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  Each business can use Hyperledger to reduce the cost and
                  difficulty of legal transactions that occur on open-source
                  platforms.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Scalability And Transparency</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  Hyperledger offers a distributed ledger for smart contracts
                  that assists gatekeepers in ensuring transparency and
                  scalability in private business contracts.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Blockchainx -->

<!-- why-choose-section -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>
              Why Blockchainx for
              <span> Hyperledger Blockchain Development Services?</span>
            </h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              BlockchainX, as a hyperledger development company, believes in
              developing and deploying blockchain solutions that meet the needs
              of businesses. We have a skilled team of Hyperledger blockchain
              developers who can help you turn your idea into a blockchain
              application.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why-choose-section -->

<!-- Our Blockchain Smart Contracts Focused Industries -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3><span>Hyperledger</span> Tools & Frameworks We Utilize</h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Hyperledger/Hyperledger Caliper.png"
              class="img-fluid"
              alt="Hyperledger Caliper"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hyperledger Caliper</h4>
          <p>
            The Hyperledger Caliper is primarily a reference tool that provides
            a set of use cases relative to the client product as a benchmark for
            measuring the blockchain's performance over specific indicators.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Hyperledger/Hyperledger Cello.png"
              class="img-fluid"
              alt="Hyperledger Cello"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hyperledger Cello</h4>
          <p>
            Hyperledger Cello is a combination of services that help in the
            creation and management of apps, as well as an operational dashboard
            for blockchain development.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Hyperledger/Hyperledger Composer.png"
              class="img-fluid"
              alt="Hyperledger Composer"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hyperledger Composer</h4>
          <p>
            Hyperledger Composer is a collaboration tool for creating blockchain
            business networks, accelerating the development and deployment of
            smart contracts across a distributed ledger.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Hyperledger/Hyperledger Explorer.png"
              class="img-fluid"
              alt="Hyperledger Explorer"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hyperledger Explorer</h4>
          <p>
            Hyperledger Explorer is a user-friendly web-app tool that can be
            used for deployment, network information, transactions, chaincode
            information, and other network-related tasks.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Hyperledger/Hyperledger Fabric.png"
              class="img-fluid"
              alt="Hyperledger Fabric"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hyperledger Fabric</h4>
          <p>
            Hyperledger Fabric is an open-source, permissioned blockchain
            framework designed to support enterprise solutions. It is primarily
            used to improve organizations through the use of smart contracts.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Hyperledger/Hyperledger Sawtooth.png"
              class="img-fluid"
              alt="Hyperledger Sawtooth"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hyperledger Sawtooth</h4>
          <p>
            Sawtooth is a blockchain platform for building, deploying, and
            running distributed ledgers. These ledgers have been demonstrated to
            be adaptable and scalable.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Blockchain Smart Contracts Focused Industries -->

<!-- Business need Smart Contract -->
<div class="section-service-alt-padd">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>Industries that <span>Hyperledger can streamline</span></h3>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center process-erc">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/Hyperledger/Supply chain management.png"
            class="img-fluid"
            alt="Supply chain management"
            loading="lazy"
          />
          <h4 class="process-head py-3">Supply chain management</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/Hyperledger/Healthcare.png"
            class="img-fluid"
            alt="Healthcare"
            loading="lazy"
          />
          <h4 class="process-head py-3">Healthcare</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/Hyperledger/Identity management.png"
            class="img-fluid"
            alt="Identity management"
            loading="lazy"
          />
          <h4 class="process-head py-3">Identity management</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/Hyperledger/Financial services.png"
            class="img-fluid"
            alt="Financial services"
            loading="lazy"
          />
          <h4 class="process-head py-3">Financial services</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/Hyperledger/Real estate.png"
            class="img-fluid"
            alt="Real estate"
            loading="lazy"
          />
          <h4 class="process-head py-3">Real estate</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/Hyperledger/E-commerce.png"
            class="img-fluid"
            alt="E-commerce"
            loading="lazy"
          />
          <h4 class="process-head py-3">E-commerce</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center erc-processing">
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Supply chain management</h4>
            <p>
              Track and manage your entire supply chain with a decentralized
              application that runs on a permissioned blockchain.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Healthcare</h4>
            <p>
              Ensure security for data such as medical records and automate
              multiple processes through smart contracts.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Identity management</h4>
            <p>
              Using a solution like Hyperledger Indy, you can create digital
              identities for your employees & manage them seamlessly.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Financial services</h4>
            <p>
              Make financial transitions highly secure and immutable & provide
              amazing FinTech products and services.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Real estate</h4>
            <p>
              You can tokenize real estate and even allow users to buy fractions
              of your property through blockchain.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>E-commerce</h4>
            <p>
              Build a highly secure and sustainable e-commerce platform that can
              even be used for payments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Business need Smart Contract -->

<app-blog></app-blog>
<app-contactform></app-contactform>
