<div class="blog-right-side">
  <div class="blog-contact mb-4">
    <div class="metaverse_heading">
      <h4><span>Newsletter</span></h4>
    </div>
    <h5>
      Get all the latest posts
      <span class="d-block">delivered straight to your inbox.</span>
    </h5>
    <input type="text" class="form-control" placeholder="Your email address" />
    <a class="blog_submit">Submit</a>
  </div>
  <div class="categories_list">
    <div class="metaverse_heading">
      <h4><span>Categories</span></h4>
    </div>
    <div class="categories_list_view">
      <ul>
        <li>
          <a>NFT</a>
        </li>

        <li>
          <a>Metaverse</a>
        </li>

        <li>
          <a>NFT Marketplace</a>
        </li>

        <li>
          <a>DEFI</a>
        </li>

        <li>
          <a>DAO</a>
        </li>

        <li>
          <a>Cryptocurrency</a>
        </li>

        <li>
          <a>Wallet</a>
        </li>
        <li>
          <a>Crypto Exchange</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="my-4">
    <div class="blog-author-wrap">
      <div class="blog-author-detail">
        <div>
          <img
            src="assets-new/images/blog/yokesh-shankar.svg"
            alt="blog author"
            width="150"
            height="150"
          />
        </div>
        <div>
          <div class="metaverse_heading">
            <h4><span>About Author</span></h4>
          </div>
          <h5>Yokesh Sankar</h5>
          <div class="author-social-connect">
            <ul>
              <li>
                <a
                  href="https://www.instagram.com/yokesh.sankar/"
                  target="_blank"
                  ><img
                    src="assets-new/images/blog/author-insta.svg"
                    alt="instagram"
                    width="20"
                    height="20"
                /></a>
              </li>
              <li>
                <a
                  href="https://in.linkedin.com/in/yokeshsankar"
                  target="_blank"
                  ><img
                    src="assets-new/images/blog/author-linkedin.svg"
                    alt="linkedin"
                    width="20"
                    height="20"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/yokesh.shankar"
                  target="_blank"
                  ><img
                    src="assets-new/images/blog/author-fb.svg"
                    alt="facebook"
                    width="20"
                    height="20"
                /></a>
              </li>
              <li>
                <a href="https://twitter.com/yokesh_sankar_v" target="_blank"
                  ><img
                    src="assets-new/images/blog/author-twit.svg"
                    alt="twitter"
                    width="20"
                    height="20"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p>
        I am Yokesh Sankar. Co-Founder of BlockchainX, My vision and time to
        offer the best products for our clients without apprehensions at
        economic rates.
      </p>
    </div>
    <div class="social-shares">
      <div>
        <a href="https://twitter.com/Blockchainxtech" target="_blank"
          >Follow us on Twitter
          <span class="mx-2"
            ><img
              src="../../assets-new/images/blog/follow-twitter.svg"
              alt="" /></span
        ></a>
      </div>
    </div>
  </div>
</div>
