<div class="container">
  <div class="contact-main">
    <div class="main-heading">
      <!-- <img
        class="waveing-image img-fluid"
        src="assets-new/images/contact/hand.png"
        alt="waveing hand emoji"
        loading="lazy"
        width="90"
        height="90"
      /> -->
      <picture>
        <source
          type="image/webp"
          srcset="assets-new/images/contact/webp/hand.webp"
        />

        <source type="image/png" srcset="assets-new/images/contact/hand.png" />

        <img
          src="assets-new/images/contact/hand.png"
          alt="waveing hand emoji"
          loading="lazy"
          width="90"
          height="90"
          class="waveing-image img-fluid"
        />
      </picture>
      <h1>We love to hear from you</h1>
    </div>
  </div>

  <div class="contact-form">
    <div class="contact-arc">
      <picture>
        <source
          type="image/webp"
          srcset="assets-new/images/Home/Eclipse-circle-2.webp"
        />

        <source
          type="image/png"
          srcset="assets-new/images/Home/Eclipse-circle-2.png"
        />

        <img
          src="assets-new/images/Home/Eclipse-circle-2.png"
          width="100%"
          height="100%"
          alt="Blockchainx-Eclipse-Vector"
          loading="eager"
        />
      </picture>

      <!-- <img
        class="img-fluid"
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="ecllipse"
        loading="eager"
      /> -->
    </div>
    <div class="contact-arc1">
      <!-- <img
        class="img-fluid"
        src="assets-new/images/Home/Ellipse-circle-1.png"
        width="100%"
        height="100%"
        alt="ecllipse"
        loading="eager"
      /> -->
      <picture>
        <source
          type="image/webp"
          srcset="assets-new/images/Home/Eclipse-circle-1.webp"
        />

        <source
          type="image/png"
          srcset="assets-new/images/Home/Eclipse-circle-1.png"
        />

        <img
          src="assets-new/images/Home/Eclipse-circle-1.png"
          width="100%"
          height="100%"
          alt="Blockchainx-Eclipse-Vector"
          loading="eager"
        />
      </picture>
    </div>
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <!-- <img
      class="contact-image img-fluid"
      src="assets-new/images/contact/3d.png"
      alt="avatar"
      loading="lazy"
      width="340"
      height="340"
    /> -->
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/contact/webp/3d.webp"
      />

      <source type="image/png" srcset="assets-new/images/contact/3d.png" />

      <img
        src="assets-new/images/contact/3d.png"
        alt="avatar"
        loading="lazy"
        width="340"
        height="340"
        class="contact-image img-fluid"
      />
    </picture>
    <div class="row reverse-colum">
      <div class="col-lg-5 col-md-12 contact-social-links">
        <h2>Get In Touch</h2>
        <p>Any question? Reach out to us and we’ll get back to you shortly.</p>
        <div class="contact-main-list">
          <div class="contact-list">
            <a href="mailto:contact@blockchainx.tech">
              <!-- <img
                class="contact-logo img-fluid"
                src="assets-new/images/contact/mail.png"
                alt="contact-mail"
                width="50"
                height="50"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/contact/webp/mail.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/contact/mail.png"
                />

                <img
                  src="assets-new/images/contact/mail.png"
                  loading="lazy"
                  alt="contact-mail"
                  width="50"
                  height="50"
                  class="contact-logo img-fluid"
                />
              </picture>
              contact@blockchainx.tech</a
            >
          </div>

          <div class="contact-list">
            <a href="#">
              <!-- <img
                class="contact-logo1 img-fluid"
                src="assets-new/images/contact/skype.png"
                alt="contact-skype"
                width="50"
                height="50"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/contact/webp/skype.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/contact/skype.png"
                />

                <img
                  src="assets-new/images/contact/skype.png"
                  loading="lazy"
                  alt="contact-skype"
                  width="50"
                  height="50"
                  class="contact-logo1 img-fluid"
                />
              </picture>
              Join us on Skype</a
            >
          </div>

          <div class="contact-list">
            <a href="#">
              <!-- <img
                class="contact-logo1 img-fluid"
                src="assets-new/images/contact/telegram.png"
                alt="contact-telegram"
                width="50"
                height="50"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/contact/webp/telegram.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/contact/telegram.png"
                />

                <img
                  src="assets-new/images/contact/telegram.png"
                  loading="lazy"
                  alt="contact-skype"
                  width="50"
                  height="50"
                  class="contact-logo1 img-fluid"
                />
              </picture>
              Join us on Telegram</a
            >
          </div>
        </div>
        <div class="contact-links">
          <h4>Follow us on</h4>
          <div class="social-links">
            <a
              href="https://www.linkedin.com/company/blockchainxtech/"
              target="_blank"
              class="linkdin"
            >
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/contact/webp/linkdin.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/contact/linkdin.png"
                />

                <img
                  src="assets-new/images/contact/linkdin.png"
                  alt="linkedin"
                  width="22"
                  height="22"
                />
              </picture>
              <!-- <img
                src="assets-new/images/contact/linkdin.png"
                alt="linkedin"
                width="22"
                height="22"
            /> -->
            </a>

            <a
              href="https://www.instagram.com/blockchainxtech/"
              target="_blank"
              class="instagram"
            >
              <!-- <img
                src="assets-new/images/contact/instagram.png"
                alt="instagram"
                width="22"
                height="22"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/contact/webp/instagram.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/contact/instagram.png"
                />

                <img
                  src="assets-new/images/contact/instagram.png"
                  alt="linkedin"
                  width="22"
                  height="22"
                />
              </picture>
            </a>

            <a
              href="https://twitter.com/Blockchainxtech"
              target="_blank"
              class="twitter"
            >
              <!-- <img
                src="assets-new/images/contact/twitter.png"
                alt="twitter"
                width="22"
                height="22"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/contact/webp/twitter.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/contact/twitter.png"
                />

                <img
                  src="assets-new/images/contact/twitter.png"
                  alt="linkedin"
                  width="22"
                  height="22"
                />
              </picture>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 contact-inputs">
        <div class="getintouch getintochform">
          <div #crmForm></div>
        </div>
      </div>
    </div>
  </div>
</div>
