<!-- Banner Section -->
<section class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span><strong>ICO Marketing </strong>Services Provider</span>
              </h1>
              <p>
                We at BlockchainX help you in the process of promoting ICO
                tokens on behalf of the crypto company. Our ultimate goal is to
                take your ICO to a global audience and gain better reach in the
                market. Hire our customized ICO marketing services now!
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <!-- <img
              src="assets-new/images/ico-marketing-agency/ico-marketing-services.png"
              class="img-fluid"
              alt="Ico marketing services"
              width="350"
              height="100%"
              loading="lazy"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ico-marketing-agency/webp/ico-marketing-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/ico-marketing-agency/ico-marketing-services.png
                "
              />

              <img
                src="assets-new/images/ico-marketing-agency/ico-marketing-services.png"
                class="img-fluid"
                alt="Ico marketing services"
                width="350"
                height="100%"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section ends -->

<!-- ICO Marketing starts -->
<section class="section-service-alt" #about>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <!-- <img
            src="assets-new/images/ico-marketing-agency/what-is-ico-marketing.png"
            class="BSC-Tokens-image img-fluid"
            alt="Ico marketing"
            width="350"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/ico-marketing-agency/webp/what-is-ico-marketing.webp
              "
            />

            <source
              type="image/png"
              srcset="
                assets-new/images/ico-marketing-agency/what-is-ico-marketing.png
              "
            />

            <img
              src="assets-new/images/ico-marketing-agency/what-is-ico-marketing.png"
              class="BSC-Tokens-image img-fluid"
              alt="Ico marketing"
              width="350"
              height="100%"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading">
            ICO Marketing Services - Expand & Explore
          </h3>
          <p>
            Increase the visibility of your tokens in the world that shines in
            the spotlight of Digitalization. It's important to have that beam of
            light spotting us in a highly competitive world. Don't miss out on
            your chance, imply the full abilities of our ICO marketing
            solutions, making you familiar, and well known, and help investors
            and users identify and the same time, gain trust in your capacities.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ICO Marketing ends -->
<!-- ICO services starts -->
<section class="section-service-alt-main">
  <div class="types-of-erc">
    <div class="container">
      <div class="row ico-para">
        <div class="metaverse_heading mx-auto">
          <h3><span>ICO Marketing </span>Services</h3>
        </div>
        <p class="pt-3 text-center">Variety Of Creatives we extend.</p>
      </div>
      <div class="row types-of-token-detail">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/creative-website.png"
                class="img-fluid"
                alt="ICO Development"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/creative-website.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/creative-website.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/creative-website.png"
                  class="img-fluid"
                  alt="ICO Development"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Creative Website</h4>
            <p>
              SEO-optimized websites detailing your token aspects with simple
              UI/UX, easy-to-navigate, user-friendly, and clear-cut content on
              the motive and theme.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/market-research.png"
                class="img-fluid"
                alt="Market Research"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/market-research.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/market-research.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/market-research.png"
                  class="img-fluid"
                  alt="market-research"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Social Media Marketing</h4>
            <p>
              Utilizing digitally equipped social media platforms like
              Instagram, Facebook(meta), Twitter, etc. engage and interact with
              like-minded audiences.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/building-community.png"
                class="img-fluid"
                alt="ICO Listing"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/building-community.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/building-community.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/building-community.png"
                  class="img-fluid"
                  alt="building-community"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Building Community</h4>
            <p>
              Telegram, Discord, Reddit, and Slack, are amazing
              community-building platforms that help to manage and maintain a
              huge audience as a round and individually.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/paid-promotion.png"
                class="img-fluid"
                alt="Social-Media"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/paid-promotion.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/paid-promotion.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/paid-promotion.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Paid Promotion</h4>
            <p>
              Promoting relevant content by vitalizing on Pay-per-clicks and
              other paid strategies in social media platforms, browsers, etc
              pulls traffic to the website.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/ad-campaigns.png"
                class="img-fluid"
                alt="Press-Release-Management"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/ad-campaigns.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/ad-campaigns.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/ad-campaigns.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Ad Campaigns</h4>
            <p>
              Running ads on google, bing and other browsers where users are
              dependent eases the captivating and pulling good traffic to the
              website and learning about your ICO.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/influencer-marketing.png"
                class="img-fluid"
                alt="Email Marketing"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/influencer-marketing.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/influencer-marketing.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/influencer-marketing.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Influencer marketing</h4>
            <p>
              Reaching out to influencers in the core and having good vicinity,
              to talk about your ICO builds trust and their opinions have good
              influence among commoners.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/bounty-programs.png"
                class="img-fluid"
                alt="Influencer Marketing"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/bounty-programs.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/bounty-programs.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/bounty-programs.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Bounty Programs</h4>
            <p>
              Through giveaways, rewards programs, giving compensation, and
              discounts, we help you attract the audience's attention towards
              your ICO and hold them in.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/content-marketing.png"
                class="img-fluid"
                alt="Search Engine Optimisation"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/content-marketing.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/content-marketing.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/content-marketing.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Content Marketing</h4>
            <p>
              As a part of ICO Marketing, we render strategies on how
              effectively content either text, video, or audio could be used to
              catch the interest of the audience.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/ico-listing.png"
                class="img-fluid"
                alt="Community Management"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/ico-listing.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/ico-listing.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/ico-listing.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">ICO listing</h4>
            <p>
              By identifying the perfect ICO listing platforms, we help you with
              ICO listing on multiple platforms to increase token visibility and
              create awareness.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/email-marketing.png"
                class="img-fluid"
                alt="Pay Per Click"
                loading="lazy"
                width="70"
                height="70"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/email-marketing.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/email-marketing.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/email-marketing.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Email Marketing</h4>
            <p>
              One fine method to reach the core targets, Email marketing helps
              very efficiently in ICO marketing. We get insights from email
              responses and reach out.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/press-releases.png"
                class="img-fluid"
                alt="Content Development"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/press-releases.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/press-releases.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/press-releases.png"
                  class="img-fluid"
                  alt="paid-promotion"
                  loading="lazy"
                  width="70"
                  height="70"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Press Releases</h4>
            <p>
              Formal updates on the ICO happenings are released as a press
              release in publications, and magazines, exclusively in a dedicated
              column.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/ico-marketing-agency/publishing-newsletter.png"
                class="img-fluid"
                alt="Programs"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/ico-marketing-agency/webp/publishing-newsletter.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/ico-marketing-agency/publishing-newsletter.png
                  "
                />

                <img
                  src="assets-new/images/ico-marketing-agency/publishing-newsletter.png"
                  class="img-fluid"
                  alt="publishing-newsletter"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Publishing Newsletter</h4>
            <p>
              By regular newsletter, we can help the audience be on track and
              communicate with the audience regularly. These are proofs and
              official updates from the company.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ICO services ends -->
<!-- Figure out Market -->
<section class="section-service-alt-padd">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Understanding The Market For ICO Marketing</h3>
      </div>
    </div>
    <div class="row erc-processing">
      <div class="col-lg-6 metmb-3">
        <div class="virtual_process cmb-5">
          <h4>The Rules</h4>
          <p>
            Identifying the tools and learning their rules is important to know
            how effectively we could work on them related to your project.
          </p>
        </div>
      </div>
      <div class="col-lg-6 metmb-3">
        <div class="virtual_process">
          <h4>Whitepaper</h4>
          <p>
            This gives the audience and the visitors a better vision of the
            project. To be simple, self-explanatory, and covering every nuance
            would be much better.
          </p>
        </div>
      </div>
      <div class="col-lg-6 metmb-3">
        <div class="virtual_process cmb-5">
          <h4>The Story</h4>
          <p>
            The story gives us the perspective on how to approach your projects
            and what pain points we could utilize to empathize with the
            audience.
          </p>
        </div>
      </div>
      <div class="col-lg-6 metmb-3">
        <div class="virtual_process">
          <h4>The Receivers</h4>
          <p>
            From the receiver's end, we gather their expectation, the reason for
            the gap that's prevailing, and their requirements to gather
            attention.
          </p>
        </div>
      </div>
      <div class="col-lg-6 metmb-3">
        <div class="virtual_process">
          <h4>Spending</h4>
          <p>
            Better planning on the budget for ICO marketing helps in an
            effective solution. With progress, we could set higher budgets.
          </p>
        </div>
      </div>
      <div class="col-lg-6 metmb-3">
        <div class="virtual_process">
          <h4>Community</h4>
          <p>
            The core of crypto projects is to have an audience and the community
            is the key. Eventually, our focus will also lie in strengthening it.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Figure out Market -->
<!-- Brand Visibility  -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <img
            src="assets-new/images/erc/erc-20.png"
            class="BSC-Tokens-image img-fluid"
            alt="Ico marketing company"
            width="350"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading">
            Enhance Your Brand Visibility With An Ideal ICO Marketing Company
          </h3>
          <p>
            Marketing an ICO is not like utilizing all the tools and posting
            regularly, every company and business has a core target while the
            audience's motive and the expected results are all different and
            varying. In the crypto space especially, all have unique
            requirements. As an ICO marketing company, we understand you and
            customize our services based on your needs in our ICO marketing
            services.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brand Visibility -->
<!-- ICO Marketing Process -->
<section class="section-service-main">
  <div class="container">
    <div class="nft-acc">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 acc-head text-center">
        <div class="metaverse_heading mx-auto">
          <h3><span>The ICO Marketing </span>Process</h3>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center acc-image">
          <img
            src="assets-new/images/nft/Marketplace-Development.png"
            alt="ICO Marketing process"
            class="img-fluid"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Learn your needs
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    We learn your needs and understand what kind of ICO
                    marketing service you want. Gather resources accordingly.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Choose the right Platforms
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    From a clear vision of that, we choose platforms that best
                    fit your needs relevant to sales, traction, community, etc.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Build you Community
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Work on building your community which is a long process that
                    keeps having the side as other things run simultaneously.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Schedule and line up
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Based on your launch, we schedule posts, content, articles,
                    PRs, and others. Line up for different tools, based on
                    campaign strategies.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Track and Analyze
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    From the tracking reports, we analyze the results
                    periodically and help plan better things to speed up or
                    maintain the string tight.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  Better returns.
                </button>
              </h2>
              <div
                id="collapseSix"
                class="accordion-collapse collapse"
                aria-labelledby="headingSix"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    With alternative strategies, involving trial and error, we
                    shall ensure better results on time and yield good returns.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ICO Marketing Process -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>Why BlockchianX?</h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              Why not! BlockchainX is a pioneer in developing blockchain-based
              solutions, we know how to convert your needs, live into actions.
              And our professional marketing team with field experts and
              creative enthusiasts has hands-on experience in bringing big
              dreams to reality. Talk to our experts and learn what best you
              could do for your crypto project on call.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
