<section class="blog-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 mb-4">
        <div class="blog-single-wrap">
          <img
            src="assets-new/images/blog/top-defi-projects-2020.jpg"
            alt="Top 6 DeFi Projects of 2020: The Hype, The Revolution, and Autonomy"
            class="img-fluid"
            width="100%"
            height="100%"
            loading="lazy"
          />
          <h1>
            Top 6 DeFi Projects of 2020: The Hype, The Revolution, and Autonomy
          </h1>

          <p>
            <a
              class="content-link"
              [routerLink]="['/what-is-defi-centralized-finance']"
              ><b>DeFi</b></a
            >
            has been grabbing a lot of eyeballs lately. In just two years, the
            projects have reaped their rewards of hard work. The tremendous
            growth from thousands to billions has been surreal in such a short
            period. However, the core obstacles need to get addressed to
            streamline the process of decentralization further.
          </p>
          <p>
            Right now,
            <a
              class="content-link"
              [routerLink]="['/what-is-defi-centralized-finance']"
              ><b>DeFi</b></a
            >
            is equipped with several budding protocols, and that is why the
            functioning team needs to be able to push instant upgrades. Such
            control in the decentralized spectrums can help them to be more
            successful in the longer run.
          </p>
          <p>
            For instance, the founders of Uniswap have relinquished the control
            from the very initial stage, and now nobody can shut down Uniswap.
            Still, at the same time, the upgrades to this protocol are currently
            not possible. On the contrary, protocols such as Compound and Maker
            are upgradeable.
          </p>
          <p>
            Talking about the same, there are a couple of governance risk
            factors facing the crypto protocols, where regulators can step in to
            shut the project, or many of them can conspire to take over the
            network through the native governance token.
          </p>
          <p>
            Considering and building a useful framework for assessing
            governance, there are a few factors that help determine the status
            of the project in the amplitude of decentralization. Let's discuss
            them:
          </p>
          <p>
            i. Primarily, how the opinion of a community and the decision made
            is implemented to reach the agreement is the easiest way to consider
            voting in a DAO - decentralized autonomous organization (DAO).
          </p>
          <p>
            ii. By encouraging the community to vote in good faith with the
            protocol's best interest.
          </p>
          <p>
            iii. Equal distribution of tokens to avoid the control of the
            network by a handful of people.
          </p>
          <p>
            Let's rank the
            <a
              class="content-link"
              [routerLink]="['/decentralized-finance-defi-development']"
              ><b>DeFi protocols</b></a
            >
            based on this framework and determine their status of
            decentralization.
          </p>

          <h2>yEarn Finance (YFI)</h2>
          <p>
            Andre Cronje launched YFI in February 2020, and it has been one of
            the most gripping projects in DeFi. It is equipped with the most
            equitable token distribution since Bitcoin, which has sparked a
            significant involvement. The excellent yields on vaults have grabbed
            a lot of attention. During the yEarn's liquidity mining initiative,
            the entire supply was open to holding without any pre-mine or token
            allocations to certain people. For protocol governance, yEarn
            Finance uses a YFI token for on-chain voting. It depends on a 6-of-9
            multi-signature held by community members to implement proposals,
            instead of having a DAO. Owing to governance and financial
            incentives' alignment via token and community-owned multisignature,
            yEarn finance ranks as the top
            <a
              class="content-link"
              [routerLink]="['/decentralized-finance-defi-development']"
              ><b>DeFi project based on decentralization</b></a
            >.
          </p>

          <h2>Synthetix (SNX)</h2>
          <p>
            Another top protocol of Defi, Synthetic (SNX) has over a half a
            billion dollars of locked collateral. The platform is now concerned
            with taking measures that would enable them to decentralize the
            system's control. The core team set up three distinct DAOs to
            streamline the process further after decommissioning the governing
            foundation. The three DAOs, namely the ProtocolDAO, SynthetixDAO,
            and the GrantsDAO, are responsible for various upgrades and
            deployments. The ProtocolDAO owns all Synthetix
            <a [routerLink]="['/smart-contract-development']"
              ><b>smart contracts</b>
            </a>
            and conducts upgrades and new deployments from time to time. Some of
            the core members are in charge of the executive decisions of this
            DAO. The SynthetixDAO was transitioned into a DAO in June 2020 after
            initially setting up as a multi-signature. This DAO is accountable
            for treasury management, compensating contributors, paying for
            Chainlink price feeds, and other such activities. Finally, the
            GrantsDAO is responsible for funding public goods in Synthetix, such
            as campaigns for public awareness or intuitive dashboards for users.
          </p>

          <h2>Aave (LEND)</h2>
          <p>
            Token holders hold the governance here while enhancing the alignment
            between the protocol's value accretion and sound management. The
            LEND token has been drifted to AAVE with a reverse token split. This
            has reduced supply from 1.2 billion to 12 million. In addition to
            this, three million new tokens are to be created that have further
            diluted the existing investors by 25%. A DAO launch is awaited by
            AAVE that will allow them to implement the proposals that reach an
            agreement through on-chain voting. The move is expected to elongate
            the protocol. This shift has led Aave to earn a top spot in Defi
            projects.
          </p>

          <h2>Maker (MKR)</h2>
          <p>
            MakerDAO is an original DeFi protocol that has been established for
            a while with on-chain governance. The Maker foundation has now
            migrated the control of the MKR token to the community. The recent
            changes in the protocol have empowered the on-chain votes to
            implement any proposals.
          </p>

          <h2>Curve (CRV)</h2>
          <p>
            The curve has introduced DAO and governance token launch recently
            that has brought it closer to decentralization. The DAO has
            facilitated the on-chain voting process to implement proposals. The
            majority of the CRV voting power is in the hands of employers and
            shareholders. As a result, they control the network with the
            majority vote in the initial days. The dynamic is assumed to get
            reversed in some time that will provide LPs more power in the
            future.
          </p>

          <h2>Compound (COMP)</h2>
          <p>
            Launched in June, COMP has been a prime reason for the surge of DeFi
            as it kicked off the liquidity mining circus. However, straddling
            growth has also brought some concerns regarding decentralization. In
            contrast to Synthetix, Compound has issued tokens directly to the
            shareholders to raise the capital and has not opted for a public
            sale. The liquidity mining program of the compound has distributed
            tickets to the community. While this can be a fantastic idea keeping
            the business perspective, it cannot be ideal for decentralization.
          </p>

          <h2>DeFi: Minimizing Governance, Maximizing Decentralization</h2>
          <p>
            While DeFi has gained all the attention lately, the governance
            mechanism for a protocol needs to be revised as zero governance, and
            does not seem sustainable. Users are attracted based on innovations.
            Some of the big brands of
            <a
              class="content-link"
              [routerLink]="['/decentralized-finance-defi-use-cases']"
              ><b>DeFi have initiated some kind of decentralization</b></a
            >, but they need to mitigate the obstacles to obtain the results.
            However, as mentioned, the top Defi protocols strictly based on
            decentralization are yEarn Finance, Synthetix, Aave, Maker, Curve,
            and Compound.
          </p>
        </div>
        <app-social></app-social>
      </div>
      <div class="col-lg-4 col-md-12 stick-blog">
        <app-blog-sidebar></app-blog-sidebar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <app-comments></app-comments>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
