<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span><strong>Solidity Development </strong>Company</span>
              </h1>
              <h3 class="metaverse_subheading">
                Build Innovative Dapps with Solidity
              </h3>
              <p>
                Explore new verticals of the web3 ecosystem by developing your
                Dapps with Solidity. Hire Solidity experts from BlockchainX with
                years of experience for your next project.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/solidity-development/solidity-development-company.png"
              class="img-fluid"
              alt="Solidity-Development-Company"
              width="300"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->

<!-- Our Solidity Development Services -->
<div class="section-service-alt-padd" #about>
  <div class="our-process-erc">
    <div class="container">
      <div class="row our-solid-common">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3><span>Our Solidity Development </span>Services</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Smart Contract Creation</h4>
            <p>
              We provide end-to-end smart contract development services that
              define your contract's variables and conditions to code, test, and
              deploy it.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Token Development</h4>
            <p>
              Our Solidity development services include the creation of digital
              tokens and we help you mint, upgrade and transfer your digital
              tokens.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Exchange Platform Development</h4>
            <p>
              Build a completely decentralized swap with unique features that
              will set you apart from existing DEXs.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Dapps Development</h4>
            <p>
              Our expertise builds seamless and smooth-running applications that
              open many doors for new product and service launches.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Stablecoin Development</h4>
            <p>
              Our global team of stablecoin development experts helps you tap
              into the stablecoin market with our structured frameworks
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>DAO Development</h4>
            <p>
              Our comprehensive DAO development services include smart
              contracts, utility, governance tokens, and DAO platform
              development.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Solidity Development Services -->

<!-- Solidity Technology Tools -->
<div class="section-service-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3><span>Solidity Technology</span> Tools</h3>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/solidity-repl.png"
            class="img-fluid"
            alt="Solidity REPL"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Solidity REPL</h4>
          <p class="text-center">
            Solidity is a statically-typed programming language designed for
            developing smart contracts, and we write code using the Solidity
            REPL
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/solgraph.png"
            class="img-fluid"
            alt="Solgraph"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Solgraph</h4>
          <p class="text-center">
            Generate a DOT graph that visualizes the operational control flow of
            a solidity contract, and highlights security risks.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/evmdis.png"
            class="img-fluid"
            alt="Evmdis"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Evmdis</h4>
          <p class="text-center">
            Perform static analysis on bytecode to provide a higher level of
            abstraction to bytecode than raw EVM operations.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/doxity.png"
            class="img-fluid"
            alt="Doxity"
            width="100"
            height="100"
            loading="lazy"
          />
          <h4 class="erc-20-head">Doxity</h4>
          <p class="text-center">
            The documentation creations for solidity are done by Doxity, which
            automates document contracts and methods from your code.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Solidity Technology Tools -->

<!-- We offer the best solidity -->
<div class="section-service-alt-padd">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          We offer the best <span> solidity development </span> experience
        </h3>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/team-scalability.png"
            class="img-fluid"
            alt="Team Scalability"
            width="125"
            height="125"
            loading="lazy"
          />
          <h4 class="erc-20-head">Team Scalability</h4>
          <p class="text-center">
            Our team has the ability to increase revenue, operations, or output,
            without expending more resources..
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/development-team.png"
            class="img-fluid"
            alt="Development Team"
            width="125"
            height="125"
            loading="lazy"
          />
          <h4 class="erc-20-head">Development Team</h4>
          <p class="text-center">
            Hire a complete team of experienced Solidity developers, architects,
            and consultants for your current and upcoming projects
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/solidity-development/project-based-model.png"
            class="img-fluid"
            alt="Project-based model"
            width="125"
            height="125"
            loading="lazy"
          />
          <h4 class="erc-20-head">Project-based model</h4>
          <p class="text-center">
            We have a project-based model by paying hourly to developers can add
            up quite fast if you are a startup or an entrepreneur.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- We offer the best solidity -->

<!-- Reasons for choosing BlockchainX  -->
<div class="section-service-alt-padd">
  <div class="container">
    <div class="row mb-5 hash-feature-one">
      <div class="metaverse_heading mx-auto">
        <h3>
          Reasons for choosing BlockchainX for<span>
            Your Solidity Development</span
          >
        </h3>
      </div>
    </div>
    <div class="row align-items-center hash-feature">
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process cmb-5">
          <h4>Resultful Outcomes</h4>
          <p>
            As a solidity development company, we strive to provide you with the
            best product so that you always get a meaningful result from your
            project.
          </p>
        </div>
        <div class="virtual_process">
          <h4>Rapid Development</h4>
          <p>
            With our team of 75+ developers, expert architects, and experienced
            project managers, we are able to provide you with the best solutions
            in the shortest possible time.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="our_dev_process text-center" id="development-picture">
          <img
            src="assets-new/images/solidity-development/reasons-for-choosing-blockchainX.png"
            width="275"
            height="275"
            class="img-fluid"
            alt="Rapid Development"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg-4 virual-list">
        <div class="virtual_process cmb-5">
          <h4>Professional Team</h4>
          <p>
            Our team consists of selected developers that we are trained
            in-house to ensure that every project is developed and delivered
            flawlessly
          </p>
        </div>
        <div class="virtual_process">
          <h4>Full Support</h4>
          <p>
            Our end-to-end support is at your disposal 24/7, with a project
            manager and blockchain consultant in constant communication with
            you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Reasons for choosing BlockchainX   -->

<!-- Our Solidity Development process -->
<div class="section-service-alt-main">
  <div class="our-process-erc">
    <div class="container">
      <div class="row our-solid-common">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>Our <span>Solidity Development</span> process</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Development</h4>
            <p>
              This is where your ideas come to life, our architects design the
              architecture and hand it over to the developers.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Understanding the requirement</h4>
            <p>
              The first step is to understand what your project is through a
              discovery call, where we go over your idea from top to bottom
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Resource Allocation</h4>
            <p>
              Depending on your project type, we will assign Solidity developers
              based on previous experience working on similar projects.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Deployment and Maintenance</h4>
            <p>
              You can also opt for a maintenance plan. We charge according to
              your specific project, so you only pay for what you need to doYou
              can also opt for our maintenance charge. We charge according to
              your specific project, so you only pay what you have to.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Solidity Development process -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>
              Reasons for choosing BlockchainX for
              <span> Solidity Development</span>
            </h2>
          </div>
          <div class="whysection_text_wrap">
            <p>1. Meaningful Outcomes</p>
            <p>2. Rapid Development</p>
            <p>3. Expert Team</p>
            <p>4. Complete Support</p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
