<!-- Banner Section starts -->
<div class="banners-section">
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span> <strong> R3 Corda Blockchain</strong> </span>
              </h1>
              <p>
                R3 Corda is an enterprise-grade multilateral ledger solution for
                businesses. Apart from others, Corda blockchain development
                enables even smaller firms to build blockchain solutions without
                having to start from scratch. Corda is specifically designed for
                enterprises where time is money and efficiency is paramount.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <!-- <img
              src="assets-new/images/resized/corda/R3-Corda-Blockchain.png"
              class="img-fluid"
              alt="R3 corda blockchain development company"
              width="400"
              height="100%"
              loading="lazy"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/Corda/webp/R3-Corda.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/resized/corda/R3-Corda-Blockchain.png"
              />

              <img
                src="assets-new/images/resized/corda/R3-Corda-Blockchain.png"
                alt="R3 corda blockchain development company"
                width="400"
                height="100%"
                class="img-fluid"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->

<!-- Building Corda Blockchain -->
<div class="section-service-alt" #about>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <!-- <img
            src="assets-new/images/resized/corda/Building-blockchain-apps-on-Corda-Blockchain-Platform.png"
            class="BSC-Tokens-image img-fluid"
            alt=" Corda blockchain development"
            width="400"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/blockchain-apps.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/webp/blockchain-apps.png"
            />

            <img
              src="assets-new/images/Corda/webp/blockchain-apps.png"
              alt="R3 corda blockchain development company"
              width="400"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="metaverse_heading">
          <h3>
            Building blockchain apps on <span> Corda Blockchain Platform</span>
          </h3>
          <p>
            Custom Corda development services automate business processes and
            facilitate reliable peer-to-peer transactions. Several exciting
            features of CorDapps help real-world corporates by simplifying
            integration between organizations, reducing downtime, no global
            sharing of private data, lower compliance costs, and reducing the
            risk of fraud. And Corda cut off your record-keeping costs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Building Corda Blockchain -->

<!-- Development Services starts -->
<div class="section-service-alt-main">
  <div class="our-process-erc">
    <div class="row">
      <div class="metaverse_heading">
        <h3><span>Corda Blockchain Development</span> Services</h3>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-center process-erc">
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <!-- <img
            src="assets-new/images/Corda/Consulting.png"
            class="img-fluid"
            alt="Corda App Consulting"
            width="100%"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/Consulting.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/Consulting.png"
            />

            <img
              src="assets-new/images/Corda/Consulting.png"
              alt="Corda App Consulting"
              width="100%"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h4 class="process-head py-3">Corda App Consulting</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/Development.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/Development.png"
            />

            <img
              src="assets-new/images/Corda/Development.png"
              alt="Corda App Consulting"
              width="100%"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <!-- <img
            src="assets-new/images/Corda/Development.png"
            class="img-fluid"
            alt="CorDapp Development"
            width="100%"
            height="100%"
            loading="lazy"
          /> -->
          <h4 class="process-head py-3">CorDapp Development</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <!-- <img
            src="assets-new/images/Corda/User-Interfaces.png"
            class="img-fluid"
            alt="User-Interfaces"
            width="100%"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/User-Interfaces.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/User-Interfaces.png"
            />

            <img
              src="assets-new/images/Corda/User-Interfaces.png"
              alt="Corda App Consulting"
              width="100%"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h4 class="process-head py-3">User Interfaces</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <!-- <img
            src="assets-new/images/Corda/Smart-Contract.png"
            class="img-fluid"
            alt="Smart-Contracts"
            width="100%"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/Smart-Contract.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/Smart-Contract.png"
            />

            <img
              src="assets-new/images/Corda/Smart-Contract.png"
              alt="Corda App Consulting"
              width="100%"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h4 class="process-head py-3">Smart Contracts</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <!-- <img
            src="assets-new/images/Corda/Regulated-Tokens.png"
            class="img-fluid"
            alt="Regulated-Tokens"
            width="100%"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/Regulated-Tokens.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/Regulated-Tokens.png"
            />

            <img
              src="assets-new/images/Corda/Regulated-Tokens.png"
              alt="Corda App Consulting"
              width="100%"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h4 class="process-head py-3">Regulated Tokens</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <!-- <img
            src="assets-new/images/Corda/Create-Custom-CorDap.png"
            class="img-fluid"
            alt="Create-Custom-CorDap"
            width="100%"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/Corda/webp/Create-Custom-CorDap.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/Corda/Create-Custom-CorDap.png"
            />

            <img
              src="assets-new/images/Corda/Create-Custom-CorDap.png"
              alt="Corda App Consulting"
              width="100%"
              height="100%"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h4 class="process-head py-3">Create Custom CorDap</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Corda App Consulting</h4>
            <p>
              Looking for a Corda Development Company? We have an enterprise
              blockchain expert team who will help you find complete solutions
              for your business.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>CorDapp Development</h4>
            <p>
              Build enterprise-grade business applications with the highest
              security and privacy with our CordApp development service.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>User Interfaces</h4>
            <p>
              We build highly user-friendly and industry-standard design for
              your business application through our expert design team.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Smart Contracts</h4>
            <p>
              Deploy high-precision and bug-free smart contracts for your
              business application with our Cordapp development service.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Regulated Tokens</h4>
            <p>
              Corda blockchain development allows you to regulate specialized
              tokens that can handle enterprise-scale financial transactions.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Create Custom CorDap</h4>
            <p>
              CordApp Development helps you create blockchain applications that
              emphasize privacy, security, and scalability for your business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Development Services ends -->

<!-- Development Demand starts -->
<div class="section-service-alt-padd">
  <div class="types-of-erc">
    <div class="container">
      <div class="row">
        <div class="metaverse_heading mb-4">
          <h3>
            Future-Oriented
            <span> R3 Corda Development Solutions </span> Meeting 360-Degree
            Demands
          </h3>
        </div>
      </div>
      <div class="row types-of-token-detail">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/Corda/R3-Consulting.png"
                class="img-fluid"
                alt="R3-Corda-App"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Corda/webp/R3-Consulting.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/Corda/R3-Consulting.png"
                />

                <img
                  src="assets-new/images/Corda/R3-Consulting.png"
                  alt="Corda App Consulting"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">R3 Corda App Consulting</h4>
            <p>
              Corda blockchain development allows you to create private
              blockchain solutions that can better handle confidential data.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/Corda/Smart-Contracts.png"
                class="img-fluid"
                alt="Smart-Contracts"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Corda/webp/Smart-Contracts.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/Corda/Smart-Contracts.png"
                />

                <img
                  src="assets-new/images/Corda/Smart-Contracts.png"
                  alt="Corda App Consulting"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Smart Contracts</h4>
            <p>
              Corda blockchain development allows you to create private
              blockchain solutions that can better handle confidential data.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/Corda/UI-Design.png"
                class="img-fluid"
                alt="UI-Design"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Corda/webp/UI-Design.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/Corda/UI-Design.png"
                />

                <img
                  src="assets-new/images/Corda/UI-Design.png"
                  alt="Corda App Consulting"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">UI Design</h4>
            <p>
              Corda blockchain development allows you to create private
              blockchain solutions that can better handle confidential data.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/Corda/Custom-Cord-App.png"
                class="img-fluid"
                alt="Custom Cord"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Corda/webp/Custom-Cord-App.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/Corda/Custom-Cord-App.png"
                />

                <img
                  src="assets-new/images/Corda/Custom-Cord-App.png"
                  alt="Corda App Consulting"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Custom Cord App</h4>
            <p>
              Cordapp development helps you create blockchain applications for
              your business that emphasize privacy, security, and scalability
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/Corda/Regulated-Tokens-Development.png"
                class="img-fluid"
                alt="Regulated-Tokens"
                loading="lazy"
                width="100%"
                height="100%"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/Corda/webp/Regulated-Tokens-Development.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/Corda/Regulated-Tokens-Development.png
                  "
                />

                <img
                  src="assets-new/images/Corda/Regulated-Tokens-Development.png"
                  alt="Corda App Consulting"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">
              Regulated Tokens Development
            </h4>
            <p>
              Corda blockchain development allows you to create specialized
              tokens that can handle enterprise-scale financial transactions.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/Corda/CorDapp-Development.png"
                class="img-fluid"
                alt="CorDapp Development"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Corda/webp/CorDapp-Development.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/Corda/CorDapp-Development.png"
                />

                <img
                  src="assets-new/images/Corda/CorDapp-Development.png"
                  alt="Corda App Consulting"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">CorDapp Development</h4>
            <p>
              Corda blockchain development allows you to create private
              blockchain solutions that can better handle confidential data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Development Demand ends -->

<!-- development Tools starts -->
<div class="section-service-main">
  <div class="develop-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>Why <span> Corda?</span></h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center erc-about-content">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-center">
          <div class="erc-about-picture">
            <!-- <img
              src="assets-new/images/Corda/Point-to-point-Architecture.png"
              class="img-fluid"
              alt="Point-Architecture"
              loading="lazy"
              width="150"
              height="150"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/Corda/webp/Point-to-point-Architecture.webp
                "
              />

              <source
                type="image/png"
                srcset="assets-new/images/Corda/Point-to-point-Architecture.png"
              />

              <img
                src="assets-new/images/Corda/Point-to-point-Architecture.png"
                alt="Corda App Consulting"
                class="img-fluid"
                loading="lazy"
                width="150"
                height="150"
              />
            </picture>
            <h4 class="erc-20-head">Point-to-point Architecture</h4>
            <p class="text-center">
              The Corda's point-to-point architecture provides high-end security
              by allowing permission only to those who participate in
              transactions.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-center">
          <div class="erc-about-picture">
            <!-- <img
              src="assets-new/images/Corda/Multilateral-Ledger.png"
              class="img-fluid"
              alt="Multilateral-Ledger"
              width="150"
              height="150"
              loading="lazy"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/Corda/webp/Multilateral-Ledger.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/Corda/Multilateral-Ledger.png"
              />

              <img
                src="assets-new/images/Corda/Multilateral-Ledger.png"
                alt="Corda App Consulting"
                class="img-fluid"
                loading="lazy"
                width="150"
                height="150"
              />
            </picture>
            <h4 class="erc-20-head">Multilateral Ledger</h4>
            <p class="text-center">
              Corda differs from other blockchains by allowing copies of
              transactions to be issued only to observers among participants.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-center">
          <div class="erc-about-picture">
            <!-- <img
              src="assets-new/images/Corda/Pluggable-Consensus.png"
              class="img-fluid"
              alt="Pluggable-Consensus"
              width="150"
              height="150"
              loading="lazy"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/Corda/webp/Pluggable-Consensus.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/Corda/Pluggable-Consensus.png"
              />

              <img
                src="assets-new/images/Corda/Pluggable-Consensus.png"
                alt="Corda App Consulting"
                class="img-fluid"
                loading="lazy"
                width="150"
                height="150"
              />
            </picture>
            <h4 class="erc-20-head">Pluggable Consensus</h4>
            <p class="text-center">
              The pluggable consensus mechanism of the Corda blockchain allows
              you to make changes to your platform without any downtime.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- development Tools ends -->

<!-- Advantages -->
<div class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading">
      <h3>
        Advantages That You Obtain With <span> Corda Development Services</span>
      </h3>
    </div>
    <div class="row acc-sec-list">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image text-center">
        <img
          src="assets-new/images/resized/corda/Advantages-That-You-Obtain-With-Corda-Development-Services.png"
          class="img-fluid"
          alt="Corda development"
          width="350"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Unique
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Enhance your user privacy and security with our unique R3
                  Corda development service.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Secure
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  R3 Corda is the go-to solution if you need to make your
                  financial product secure with blockchain.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Transparent
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  The right consensus time stamping of R3 Corda ensures the
                  transparency of your transactions.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                High Potential
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Our high-potential Corda consensus model guarantee assets have
                  deterministic settlement finality.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Pleasant Experience
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  R3 Corda caters to all capabilities grounded in legal
                  construct and is compatible with emerging standards.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Advantages -->

<!-- Why Corda Chain starts -->
<div class="section-service-main">
  <div class="container">
    <div class="metaverse_heading">
      <h3>
        Why <span>Corda Blockchain Platform</span> is NextGen digital trust
        solution?
      </h3>
    </div>

    <div class="row why-nft-content">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <p>
          A fast-paced business environment demands accuracy, efficiency, and
          scalability as the business grows. Enterprises need a blockchain
          solution to handle highly confidential information without worrying
          about security. Corda development services are the best solution for
          that.
        </p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 why-nft-read-more">
        <div class="content-link">
          <a [routerLink]="['/contact']">
            <span>View Demo</span>
            <img
              src="assets-new/images/right-arrow.png"
              class="img-fluid"
              width="50"
              height="15"
              alt="Link-arrow"
            />
          </a>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Corda Chain  ends-->

<!-- Our Execution Process -->
<div class="section-service-main-last">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 nft-service-list">
        <div class="casetudies_common">
          <h3 class="main-sub-heading">Our Execution Process</h3>

          <div class="casestudies_para">
            <p>
              We provide a wide range of custom Corda development services that
              automate business processes and facilitate reliable peer-to-peer
              transactions. Our agile execution process gives you a clear
              picture of an unbeatable R3 Corda development service.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 case-list">
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>PoC Development</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  An extensive demo of your project that reflects the real-world
                  scenario of design sketches and information architecture as
                  interactive prototypes. It ensures that your idea or service
                  is viable in the market.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Visual & Technical Design</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  The success of a product lies in the hands of users, so this
                  part is crucial. Our design team experts work together to
                  create UI/UX designs that positively impact the user
                  experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Development</h3>
              </div>

              <div class="casestudy_para">
                <p>
                  Core blockchain development creates a private blockchain that
                  provides reliable solutions to users. This can better handle
                  private data before making the application available to the
                  end-users deployment.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Deployment</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  Make ready the product for testing and then deploy it into the
                  market for the result. We ensures that the applications,
                  prototypes, updates, and patches are delivered from developers
                  to users.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Maintenance & Upgrades</h3>
              </div>

              <div class="casestudy_para">
                <p>
                  Not limited to the deployment of a product, we provide
                  post-implementation support and maintenance. We work with our
                  clients from scratch by leveraging industry best practices for
                  updates or maintenance.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Execution Process -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>
              Why Choose BlockchainX for <span> R3 Corda Development? </span>
            </h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              Our blockchain experts in Corda development with our hands-on
              experience in field knowledge keep us going further. Our
              one-step-ahead teamwork always ensures cost-effectiveness and
              timely delivery of your products. We believe highly in being
              transparent with the way we work.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
