<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span
                  ><strong>Hire Solana Blockchain </strong> Developers
                  @BlockchainX</span
                >
              </h1>
              <p>
                From NFTs, De-fi, Dapps, and others we at BlockchainX involve in
                developing user-friendly Solana Blockchain-based solutions. We
                help you curate and launch scalable, speedy, and secured
                applications.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/erc/solona-blockchain/hire-solana-blockchain-developers.png"
              class="img-fluid"
              alt="hire-solana-blockchain-developers"
              width="350"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->

<!-- Our Blockchain Smart Contracts Focused Industries -->
<div class="section-service-alt-padd" #about>
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3><span>Varied Solana Blockchain </span>Development Services</h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/solana-blockchain-consulting.png"
              class="img-fluid"
              alt="solana-blockchain-consulting"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Solana Blockchain Consulting
          </h4>
          <p>
            As a part of Solana consulting services, we help enterprises jot
            their role in the market and help them curate avant-grade solutions
            benefiting business and the world in the Solana network.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/dapp-development.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">DApp Development</h4>
          <p>
            Our development services are customized and we almost develop Dapps
            in any blockchain network. Meanwhile, we help you curate
            extraordinary applications on the Solana blockchain based on your
            custom choices.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/nft-marketplace.png"
              class="img-fluid"
              alt="nft-marketplace"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">NFT Marketplace</h4>
          <p>
            Customized and reliable NFT trading space, we deploy completely
            unique and safe NFT marketplaces on the Solana blockchain allowing
            creators and your token project to scale up in the competitive
            market.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/spl-token-development.png"
              class="img-fluid"
              alt="spl-token-development"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">SPL Token Development</h4>
          <p>
            We create new Solona Program Library tokens, a secured, expedited
            token development method with the ability to exchange these tokens
            in DEX and empower Solana Dapps.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/exchange-integration.png"
              class="img-fluid"
              alt="exchange-integration"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Exchange Integration</h4>
          <p>
            Employing the unique Solana protocol - Serum, we help you integrate
            the Solana Exchange system into your platform. Allowing cross-chain
            swapping wit optimal order processing in the application.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/wallet-development.png"
              class="img-fluid"
              alt="wallet-development"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Wallet Development</h4>
          <p>
            We extend both we and mobile wallet development services for all
            blockchain networks. With an integrated payment solution, your
            wallets are safe, secure, and abides by the regulation.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/node-development.png"
              class="img-fluid"
              alt="node-development"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Node Development and Maintenance
          </h4>
          <p>
            ERC827 is one of the latest upgrades to ERC20 and implements many
            improvements. One of them being that you can now transact not only
            values but also data.We help you build and launch nodes on the
            Solana mainnet. Thus you could become a validator and facilitate
            your contribution to the network security and help you earn SOL.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/smart-contract.png"
              class="img-fluid"
              alt="smart-contract"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Smart Contract Development and Audit
          </h4>
          <p>
            Our experienced developers create valid and functional smart
            contracts with Rust and C++ programming languages. This allows users
            to carry out their business contracts more viable, safely, and in a
            trusted manner.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/defi-development.png"
              class="img-fluid"
              alt="defi-development"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Defi Development</h4>
          <p>
            We render scalable and reliable Defi solutions on the Solana
            blockchain, for P2P, decentralized lending, making crypto payments,
            and DEXs we integrate every possible feature in your platform.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Blockchain Smart Contracts Focused Industries -->

<!-- DeFi Value Propositions -->
<div class="section-service-main">
  <div class="container">
    <div class="row">
      <div class="nft-heading-section" id="deploy">
        <div class="nft-heading-section-alt">
          <h3 class="main-sub-heading">Working Of Solana Blockchain Network</h3>
        </div>
        <div class="nft-heading-section-alt">
          <div class="deploy-link">
            <a [routerLink]="['/contact']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="defi-value-propos">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 value-propos">
            <div class="nft_market">
              <div class="item-image">
                <img
                  src="assets-new/images/erc/solona-blockchain/(PoS)-consensus.png"
                  alt="(PoS)-consensus"
                  class="img-fluid"
                  width="150"
                  height="150"
                  loading="lazy"
                />
              </div>
              <h4 class="common-sub-heading-alt">PoS Consensus</h4>
              <p>
                Proof of Stake mechanism - a key feature of the network is
                backed by timer consensus and its variant is Practical Byzantine
                Fault Tolerance, which allows reaching to consensus rather than
                being attacked. The PBFT renders global source time through PoH
                facilitating the introduction to the before events.
              </p>
              <div class="content-link">
                <a [routerLink]="['/contact']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 col-12 value-propos">
            <div class="nft_market">
              <div class="item-image">
                <img
                  src="assets-new/images/erc/solona-blockchain/tower-consensus.png"
                  alt="tower-consensus"
                  class="img-fluid"
                  width="150"
                  height="150"
                  loading="lazy"
                />
              </div>
              <h4 class="common-sub-heading-alt">Tower Consensus</h4>
              <p>
                The synchronized clock, the Tower consensus mechanism basically
                reduces the power process to validate the transaction by
                eliminating the need to timestamp the previous transactions.
                Helping Solana beat the competition.
              </p>
              <div class="content-link">
                <a [routerLink]="['/contact']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 col-12 value-propos">
            <div class="nft_market">
              <div class="item-image">
                <img
                  src="assets-new/images/erc/solona-blockchain/sealevel.png"
                  alt="sealevel"
                  class="img-fluid"
                  width="150"
                  height="150"
                  loading="lazy"
                />
              </div>
              <h4 class="common-sub-heading-alt">Sealevel</h4>
              <p>
                Collaborating number of innovations, helps Solana stand out from
                the competition and Sealevel is one of them. It's a transaction
                parallelization technology allowing a parallel smart contract
                execution in the environment optimizing the resources and
                ensuring Solana’s horizontal scalability in the SSDs.
              </p>
              <div class="content-link">
                <a [routerLink]="['/contact']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- DeFi Value Propositions -->

<!-- NFT About Section -->
<div class="section-service-alt">
  <div class="section-about" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-lg-6 mx-auto col-md-12 col-sm-12 col-12 about-section-image"
        >
          <img
            src="assets-new/images/erc/solona-blockchain/solana-benefit.png"
            alt="solana-benefits"
            class="img-fluid"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
          <h3 class="main-sub-heading">
            Benefits Of Choosing Solana Blockchain Development Services
          </h3>
          <p>
            The Solana network implies the Proof-of-Stake mechanism that
            synchronizes the transaction order with timestamps solving the
            issue.
          </p>
          <p>
            With the ability to support over 50,000 transactions per second, the
            network is scalable and reliable.
          </p>
          <p>
            The Solana application run on the validator's approval and is
            secured. Its a completely permissionless space despite the minimum
            software requirements.
          </p>
          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>Read More</span
              ><img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NFT About Section -->

<!-- Our Blockchain Smart Contracts Focused Industries -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Different Industries we Work With</h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/travel.png"
              class="img-fluid"
              alt="travel"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Travel</h4>
          <p>
            With the travel industry at its peak the market, infusing blockchain
            technology can make things easy, transparent, and remunerative at
            the same time.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/banking.png"
              class="img-fluid"
              alt="banking"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Banking</h4>
          <p>
            The sector which requires great security and is also expected to
            have transparency. With Blockchain influences, the industry can be
            made more functional.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/e-commerce.png"
              class="img-fluid"
              alt="e-commerce"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">E-commerce</h4>
          <p>
            In order to track and locate shipments, the technology is widely
            supported in the market. And its advantages can be tracked down to
            yield better efficiency.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/education.png"
              class="img-fluid"
              alt="education"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Education</h4>
          <p>
            The Education system needs to be empowered with the technological
            trend and improvements to create the future generation with the
            abilities of the world.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/realestate.png"
              class="img-fluid"
              alt="realestate"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Realestate</h4>
          <p>
            With a highly monetizing market, Real estate is at its peak,
            infusing the abilities of web3 and decentralization in their
            operation can double its streams.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/gaming.png"
              class="img-fluid"
              alt="gaming"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Gaming</h4>
          <p>
            Yields better income and reproduces a lively experience in the hands
            of the users, Gaming with blockchain technology takes the industry
            to new heights.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/telecommunication.png"
              class="img-fluid"
              alt="telecommunication"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Telecommunication</h4>
          <p>
            To bind security and transparency in the telecommunication sector
            one can simply gain it with blockchain infusions that are breeding
            better opportunities.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/healthcare.png"
              class="img-fluid"
              alt="healthcare"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Healthcare</h4>
          <p>
            Healthcare with technological improvement can make things better and
            easy. Blockchain infusions get their operations to the next level
            with wide opportunities.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/solona-blockchain/entertainment.png"
              class="img-fluid"
              alt="entertainment"
              loading="lazy"
              width="75"
              height="75"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Entertainment</h4>
          <p>
            Entertainment is a part and parcel of every block of life. With web3
            infusion, the user can experience better things more advance than
            reality.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Blockchain Smart Contracts Focused Industries -->

<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>Choose BlockchainX As Your <span> Solana Developers</span></h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              We are trained, experienced Blockchain developers with expertise
              in SDKs and frameworks. Our in-depth knowledge of the ecosystem
              gets us through the process well and helps you customize better.
              Hiring us as your Solana blockchain development company we help
              you launch scalable and highly efficient platforms supporting your
              business. A one-stop spot for all your web3 requirements, we
              render complete services.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <img
              src="assets-new/images/metaverse/why_blockchain.png"
              width="550"
              height="450"
              class="img-fluid"
              alt="why-blockchainx"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
