<div class="case-inner-main">
  <div class="green-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="case-main-banner">
          <!-- <img
            src="assets-new/images/case/Minosis/Build value from crypto mining with Minosis.png"
            class="img-fluid"
            width="100%"
            height="100%"
            alt="Minosis"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/case/Minosis/Build value from crypto mining with Minosis.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/case/Minosis/Build value from crypto mining with Minosis.png"
            />

            <img
              src="assets-new/images/case/Minosis/Build value from crypto mining with Minosis.png"
              class="img-fluid"
              width="100%"
              height="100%"
              alt="Minosis"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="case-study-content">
          <h4 class="study-four">Blockchain Ecosystem</h4>
          <div class="metaverse_subheading">
            <h3>Build value from crypto mining with Minosis</h3>
          </div>

          <div class="case-study-main-content">
            <div class="metaverse_subheading">
              <h3 class="study-four">
                Minosis - Crypto mining is accessible, which is easily and
                conveniently
              </h3>
            </div>
            <p class="pb-0 pt-3">
              Minosis is a crypto mining startup that permits users to take part
              in pools to earn virtual currency. In a unique way, Minosis miners
              can earn Bitcoin regardless of their mine and even achieve block
              rewards. To reduce expenses, Minosis mining software also
              facilitates transaction fees and simplifies the process. Miners
              get paid in either their native currency or Bitcoin and keep track
              of profitability with Minosis's strong monitoring system, whether
              they have a small mining presence or build out an industrial-scale
              mining operation.
            </p>
            <p class="pb-0">
              As Minosis is a publicly traded company, its owners are supposed
              to attempt something new to assist the platform's community to
              develop and offer value to its shareholders. Nearly every company
              might benefit from cryptocurrencies and blockchain technology.
              Despite the fact that Minosis is a mining company, the amount of
              innovation brought to cryptocurrency mining was impressive.
            </p>
            <p class="pb-0">
              Through the use of Minosis, we will resolve many of the
              difficulties faced by people when trying to enter the mining
              industry; these include not having the right hardware, the huge
              cost of electricity, transaction fees, and mining difficulties.
            </p>
            <p class="pb-0">
              The Minosis token serves as a deflationary asset that buys back
              shares of the Minosis company, which helps to promote the company
              and share prices in the long run. This is accomplished by
              combining the traditional buy-back concept with the use of
              blockchain and cryptocurrencies.The wallet will be the buy-back
              wallet, which will earn funds in BNB in the amount of the tax
              levied on each Dex transaction. This will help the stock price.
            </p>

            <div class="case-inner-image first-image">
              <!-- <img
                src="assets-new/images/case/Minosis/Building the future with Minosis.png"
                class="img-fluid"
                width="100%"
                height="100%"
                alt="The-future-with-Minosis"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/case/Minosis/Building the future with Minosis.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/case/Minosis/Building the future with Minosis.png"
                />

                <img
                  src="assets-new/images/case/Minosis/Building the future with Minosis.png"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  alt="Minosis"
                  loading="lazy"
                />
              </picture>
              <div class="green-vector"></div>
            </div>

            <div class="metaverse_subheading">
              <h3 class="study-four">Building the future with Minosis</h3>
            </div>
            <p class="pb-0 pt-3">
              The Minosis Project is a sister campaign to support the Minosis
              cryptocurrency mining company. They are mining Bitcoin and
              Ethereum. They provide crypto mining solutions for users to buy as
              well as high-end crypto mining hardware equipment. The Minosis
              token is the main component of the Minosis crypto project on which
              we have worked. It's a tax token with a slight variation. A
              portion of the tax is collected in BNB and then pooled to purchase
              public stock in Minosis. The stock price of the company will
              theoretically rise or fall as a result of this.
            </p>

            <div class="case-inner-image first-image">
              <!-- <img
                src="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis.png"
                class="img-fluid"
                width="100%"
                height="100%"
                alt="Rapid-adoption-of-Minosis"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis.png"
                />

                <img
                  src="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis.png"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  alt="Minosis"
                  loading="lazy"
                />
              </picture>
              <div class="green-vector"></div>
            </div>

            <div class="metaverse_subheading">
              <h3 class="study-four">
                Challenges solved in the rapid adoption of Minosis
              </h3>
            </div>
            <p class="pb-0 pt-3">
              We were able to handle this project easily because we have
              extensive experience with token development and already have a
              Crowdsale Dapp platform. Therefore, there are no major challenges.
            </p>

            <div class="case-inner-image first-image">
              <!-- <img
                src="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis_1.png"
                class="img-fluid"
                width="100%"
                height="100%"
                alt="Tax-token"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis_1.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis_1.png"
                />

                <img
                  src="assets-new/images/case/Minosis/Challenges solved in the rapid adoption of Minosis_1.png"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  alt="Minosis"
                  loading="lazy"
                />
              </picture>
              <div class="green-vector"></div>
            </div>

            <h4 class="study-four">The Solution</h4>
            <div class="metaverse_subheading">
              <h3>The feat we have collated</h3>
            </div>

            <p class="pb-2 pt-4">
              Tax token with variable tax options. A part of the tax will go to
              different wallets of the client's choosing, with the percentages
              adjustable.
            </p>
            <p class="py-2">Taxes can also be disabled.</p>
            <p class="py-2">
              Since tax tokens consume more gas, we designed the token to be
              extremely gas-efficient.
            </p>
            <p class="pt-2 pb-3">
              The Crowdsale platform is also a smart contract-based Dapp that we
              have optimized for gas efficiency.
            </p>
            <strong>Achievements</strong>
            <p class="pt-0">
              The client raised around 400 BNB from the presale and was able to
              add that to liquidity and begin trading in a very short period of
              time.
            </p>

            <div class="metaverse_subheading">
              <h3>Deliverables of Minosis</h3>
            </div>

            <ul>
              <li>
                <strong> Crowdsale platform </strong> - It is used for
                fundraising. These crowdsales can raise funds for anything
                related to cryptocurrency or blockchain, including project or
                new business development. These funds will go to Dex Liquidity
                for the token.
              </li>
              <li>
                <strong> Minosis Token </strong> - The Minosis token is based on
                the Binance Smart Chain network and is aimed at functioning as
                mining by combining the old notion of buybacks with blockchain
                technology and virtual cash.
              </li>
              <li>
                <strong> Requirement Gathering </strong> - We have the foremost
                interaction between our team and client, and since a client had
                a mining company, they wanted to create a token to support the
                company and get the community to engage, and we conducted a
                requirement gathering session to make that happen.
              </li>
              <li>
                <strong> Token development </strong> - We assist you in
                navigating your token journey by beginning with the creation of
                a new token smart contract. We would take a comprehensive,
                mission-driven approach to token development, from selecting the
                right blockchain to optimizing the smart contract for gas
                efficiency, and we would ensure efficient management at every
                stage of token development.
              </li>
              <li>
                <strong> Crowdsale development </strong> - Crowdsales that raise
                the most money tend to have clear goals and guidelines for how
                the crowdsale works and how the proceeds will be used, and they
                are becoming extremely popular among entrepreneurs, not only in
                the crypto world. In fact, many of them are considering
                crowdsales as a better version of crowdfunding. There are very
                logical reasons for this, as it has been adopted by a large
                number of ventures and claimed success.
              </li>
            </ul>

            <h4 class="study-fo">Tech Stacks</h4>
            <div class="metaverse_subheading">
              <h3>
                A great app needs the right tools and technology to perform
              </h3>
            </div>
            <div class="Tech-Stak">
              <h3 class="text-center">Front End</h3>
              <div class="tech-list">
                <img
                  src="assets-new/images/case/angular.svg"
                  width="70"
                  height="70"
                  alt="solidity"
                  loading="lazy"
                />
              </div>
            </div>

            <div class="Tech-Stak">
              <h3 class="text-center">Blockchain</h3>
              <div class="tech-list">
                <img
                  src="assets-new/images/case/solidity-2.png"
                  class="img-fluid"
                  width="70"
                  height="70"
                  alt="solidity"
                  loading="lazy"
                />
              </div>
            </div>

            <div class="metaverse_subheading">
              <h3 class="met-sub-head">Results</h3>
            </div>
            <div class="case-inner-image first-image">
              <!-- <img
                src="assets-new/images/case/ekta-1.png"
                class="img-fluid"
                width="100%"
                height="100%"
                alt="The-Minosis-token-sale"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/case/ekta-1.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/case/ekta-1.png"
                />

                <img
                  src="assets-new/images/case/ekta-1.png"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  alt="Minosis"
                  loading="lazy"
                />
              </picture>
              <div class="green-vector"></div>
            </div>
            <p>
              The Minosis token sale was successful in raising BNB for
              liquidity. The token is tradable on PancakeSwap DEX.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="company-detail">
          <div class="detail-section-one">
            <h4>Company</h4>
            <h3 class="pb-0">Minosis</h3>
          </div>
          <div class="detail-section-two">
            <h4>Founder & CEO</h4>
            <h3 class="pb-0">Michael</h3>
          </div>
          <div class="detail-section-two">
            <h4>Team Members</h4>
            <ul>
              <li>Michael</li>
              <li>Mark</li>
              <li>James</li>
            </ul>
          </div>
          <div class="detail-section-two">
            <h4>Website</h4>
            <h3 class="pb-0">
              <a href="https://minosis.io/" target="_blank">www.minosis.io</a>
            </h3>
          </div>
          <div class="detail-section-two">
            <h4>Country</h4>
            <h3 class="pb-0">USA</h3>
          </div>
          <div class="detail-section-two">
            <h4>Business Type</h4>
            <h3 class="pb-0">Crypto Mining</h3>
          </div>
          <div class="detail-section-three">
            <h4>Follow us on</h4>
            <h3 class="pb-0">Crypto Mining</h3>
            <div class="case-social">
              <div class="social-link text-center">
                <a href="https://minosis.io/" target="_blank" class="facebook">
                  <img
                    src="assets-new/images/case/global.png"
                    width="100%"
                    height="100%"
                    class="img-fluid"
                    alt="Website"
                    loading="lazy"
                  />
                </a>
                <a
                  href="https://twitter.com/mwwcofficial?lang=en"
                  class="twitter"
                  target="_blank"
                >
                  <img
                    src="assets-new/images/case/twitter.png"
                    width="100%"
                    height="100%"
                    class="img-fluid"
                    alt="twitter"
                    loading="lazy"
                  />
                </a>
                <a href="#" class="instagram" target="_blank">
                  <img
                    src="assets-new/images/case/instagram.png"
                    width="100%"
                    height="100%"
                    class="img-fluid"
                    alt="instagram"
                    loading="lazy"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contactform></app-contactform>
