<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span> <strong>ERC20 Token </strong>Development Company</span>
              </h1>
              <h4 class="common-sub-heading-alt" data-aos-delay="330">
                Empowering Business Finances
              </h4>

              <p>
                Enhancing business models with self-sustainable ERC20 token
                development services. BlockchainX as your ERC20 Token
                Development Company gets you past the security backlogs, standby
                trust, transparency, and efficiency.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/erc/erc20-token-development.png"
              class="img-fluid"
              alt="Best erc20 token generator"
              loading="lazy"
              width="400"
              height="100%"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->
<!-- Ethereum Token Development start-->
<section class="section-service-alt" #about>
  <div class="container">
    <div class="row text-center">
      <h3 class="main-sub-heading pb-5">What is ERC20 Token Development</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <img
            src="assets-new/images/erc/what-is-erc20-token.png"
            class="BSC-Tokens-image img-fluid"
            alt="erc20 token create"
            loading="lazy"
            width="400"
            height="100%"
          />
        </div>
      </div>
      <div
        class="col-lg-8 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <p>
            Investing in the capabilities and characteristics of crypto Tokens
            in the Ethereum network, as an ERC token development company we help
            businesses and startups build their tokens. Customizing token
            standards based on their desired standard implies particular
            functions and possibilities. Moreover, they are efficient enough to
            support businesses and convenient to integrate with DAO, DEX, DeFi,
            Launchpads, ICO, IDO, DApps, and more.
          </p>
        </div>

        <div class="row token d-flex">
          <div class="col-md-6 projects">
            <ul>
              <li>
                <span><i class="bi bi-check-circle-fill"></i></span>
                Highly Customized Tokens
              </li>
              <li>
                <span><i class="bi bi-check-circle-fill"></i></span> Empowering
                Business values
              </li>
            </ul>
          </div>
          <div class="col-md-6 projects">
            <ul>
              <li>
                <span><i class="bi bi-check-circle-fill"></i></span> Easy to
                trace and track
              </li>
              <li>
                <span><i class="bi bi-check-circle-fill"></i></span> 100%
                Qualified Codes
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row card-main-row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-md-12">
            <div class="row justify-content-end country-list">
              <div
              class="col-lg-4 col-md-4 col-sm-4 col-12 project-inner text-center px-0"
            >
              <p class="count-mumber">50 <sup>+</sup> <span class="inner-span">Country</span></p>
            </div>
            <div
              class="col-lg-4 col-md-4 col-sm-4 col-12 project-inner text-center px-0"
            >
              <p class="count-mumber">300 <sup>+</sup> <span class="inner-span">Projects Delivered</span></p>
            </div>
            <div
              class="col-lg-4 col-md-4 col-sm-4 col-12 project-inner-alt text-center px-0"
            >
              <p class="count-mumber">350 <sup>+</sup> <span class="inner-span">Total Projects</span></p>
            </div>
            </div>
        </div>
      </div>
      <div class="common-socialbar">
        <div class="row social-icon-row align-items-center justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12">
              <div class="row social-inner-row align-items-center">
                  <div class="col-lg-3 col-md-3 col-sm-6 text-center icon-col">
                      <div class="icon-main">
                          <a href="#"><i class="bi bi-telegram"></i>
                            Twitterofficial</a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 text-center icon-col">
                      <div class="icon-main">
                          <a href="#"><i class="bi bi-whatsapp"></i>
                            +91-9564732783</a>
                      </div>                   
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 text-center icon-col">
                      <div class="icon-main">
                          <a href="#"><i class="bi bi-skype"></i>
                            Exports</a>
                      </div>                   
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 text-center icon-col">                    
                      <div class="icon-main">
                          <a href="#"><i class="bi bi-clipboard2-data"></i>
                            Get Quots</a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div> -->
  </div>
</section>
<!-- Ethereum Token Development end -->
<!-- Our Ethereum Token Development Services Start -->
<section class="section-service-main">
  <div class="container">
    <div class="metaverse_heading">
      <h3>Wide Range of <span>ERC20 Token </span>Development Services</h3>
    </div>

    <div class="nft-development-slider">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">ERC20 Token Creation</h4>
            <p>
              Creating and customizing new standardized ERC tokens for
              businesses and their particular needs.
            </p>
            <!-- <div class="item-header">
              <img
                src="assets-new/images/product/demo.png"
                class="img-fluid"
                alt="Validated"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">
              ERC20 Token minting and burning
            </h4>
            <p>
              We help you with ERC 20 token development where minting and
              burning happen hand in hand.
            </p>
            <!-- <div class="item-header">
              <img
                src="assets-new/images/product/demo.png"
                class="img-fluid"
                alt="Validated"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">ERC20 Custom Smart Contract</h4>
            <p>
              Backing our Ethereum token development with valid, audited, and
              highly qualified smart contracts.
            </p>
            <!-- <div class="item-header">
              <img
                src="assets-new/images/product/demo.png"
                class="img-fluid"
                alt="Validated"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">ERC20 Token Listing</h4>
            <p>
              We provide you with assistance and guide you through your token
              listing process in other Dapps.
            </p>
            <!-- <div class="item-header">
              <img
                src="assets-new/images/product/demo.png"
                class="img-fluid"
                alt="Validated"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Ethereum Token Development Services end -->
<!-- Our Ethereum Token Development Products Start -->
<section class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading">
      <h3>Wide Range of <span>ERC20 Token </span>Development products</h3>
    </div>

    <div class="nft-development-slider">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">ERC20 Token Migration</h4>
            <p>
              Helping entrepreneurs, convert their existing tokens to much
              better standards and utility
            </p>
            <div class="item-header">
              <a
                href="https://www.blockchainx.tech/token-migration"
                target="_blank"
              >
                <img
                  src="assets-new/images/erc/erc20-token-migration.png"
                  class="img-fluid"
                  alt="erc20-token-migration"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">ERC20 ICO token sale</h4>
            <p>
              Developing avant grant ERC tokens for exclusive funding purposes
              on DeFi and Decentralised exchanges.
            </p>
            <div class="item-header">
              <a
                href="https://www.blockchainx.tech/ready-made-ico-software"
                target="_blank"
              >
                <img
                  src="assets-new/images/erc/erc20-ico-token-sale.png"
                  class="img-fluid"
                  alt="erc20-ico-token-sale"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">
              ERc20 Token Wallet Development
            </h4>
            <p>
              A high-standard and easy-to-integrate Token wallet is offered to
              clients and token holders to store their tokens.
            </p>
            <div class="item-header">
              <a
                href=" https://www.blockchainx.tech/cryptocurrency-wallet-development"
                target="_blank"
              >
                <img
                  src="assets-new/images/erc/erc20-token-wallet.png"
                  class="img-fluid"
                  alt="erc20-token-wallet"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 nft-sl-list">
          <div class="nft_devlopment_market">
            <h4 class="common-sub-heading-alt">ERC20 Bridge development</h4>
            <p>
              We help you reach a wider audience and network through bridging
              that connects and allows cross-chain transactions.
            </p>
            <div class="item-header">
              <a
                href="https://www.blockchainx.tech/bridge-smart-contract-development"
                target="_blank"
              >
                <img
                  src="assets-new/images/erc/erc20-bridge-development.png"
                  class="img-fluid"
                  alt="erc20-bridge-development"
                  loading="lazy"
                  width="100%"
                  height="100%"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Ethereum Token Development Products end -->
<!-- ERC20 Token Development Process Start-->
<section class="section-service-main">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="common-sub-heading">
        <h4>Our Process</h4>
      </div>
      <h3 class="main-sub-heading text-start">
        ERC20 Token Development Process
      </h3>
    </div>
    <div class="process-development-image text-center">
      <img
        class="img-fluid"
        src="assets-new/images/erc/process-development.png"
        alt=""
      />
    </div>
    <!-- <div class="our-process-main">
      <div class="row our-process1">
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap">
            <img src="assets-new/images/erc/connecting-line.png" alt="connecting-line">
            <h3>Requirement gathering</h3>
            <h2>01</h2>
          </div>
        </div>
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap our-process-grap1">
            <img src="assets-new/images/erc/connecting-line.png" alt="connecting-line">
            <h3>Blackchain Selection</h3>
            <h2>02</h2>
          </div>
        </div>
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap">
            <img src="assets-new/images/erc/connecting-line.png" alt="connecting-line">
            <h3>Token Features selectin</h3>
            <h2>03</h2>
          </div>
        </div>
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap our-process-grap1">
            <h3>Token Development</h3>
            <h2>04</h2>
          </div>
        </div>
      </div>
      <div class="connecting-center-line">
        <img src="assets-new/images/erc/connection-line.png" alt="connection-line">
      </div>
      <div class="row our-process">
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap">
            <img src="assets-new/images/erc/connecting-line.png" alt="connecting-line">
            <h3>Token Testing by BX QA</h3>
            <h2>05</h2>
          </div>
        </div>
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap our-process-grap1">
            <img src="assets-new/images/erc/connecting-line.png" alt="connecting-line">
            <h3>Token
              Auditing
              by CypherShield</h3>
            <h2>06</h2>
          </div>
        </div>
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap">
            <img src="assets-new/images/erc/connecting-line.png" alt="connecting-line">
            <h3>Deployment
              Into Mainnet</h3>
            <h2>07</h2>
          </div>
        </div>
        <div class="col-lg-3 clo-md-6 col-sm-12">
          <div class="our_process_col_grap our-process-grap1">
            <h3>Source code
              upload to
              Project’s Github</h3>
            <h2>08</h2>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- ERC20 Token Development Process End-->
<!--Various Ethereum Token Development on Various ERC Standards Satrt -->
<section class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading">
      <h3>Various<span> Ethereum Token </span>Development Standards</h3>
    </div>
    <div class="row process-erc">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="erc-card text-center">
          <div class="erc-card-header">
            <h4>ERC20</h4>
            <p>Token Development</p>
          </div>
          <div class="erc-card-content">
            <img
              src="assets-new/images/erc/eth-1.png"
              alt="erc-20"
              class="img-fluid"
            />
            <p>
              ERC 20 is a technical standard of the Ethereum token smart
              contract that establishes the set of guidelines for the token.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="erc-card text-center">
          <div class="erc-card-header">
            <h4>ERC223</h4>
            <p>Token Development</p>
          </div>
          <div class="erc-card-content">
            <img
              src="assets-new/images/erc/eth-1.png"
              alt="erc-20"
              class="img-fluid"
            />
            <p>
              ERC 223 token standard is mainly used to transfer tokens to the
              smart contract and wallet, it prevents losses.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="erc-card text-center">
          <div class="erc-card-header">
            <h4>ERC827</h4>
            <p>Token Development</p>
          </div>
          <div class="erc-card-content">
            <img
              src="assets-new/images/erc/eth-1.png"
              alt="erc-20"
              class="img-fluid"
            />
            <p>
              This Ethereum token standard is an enhanced version of ERC20. It
              supports the basic functioning of token transfer and approvals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="erc-card text-center">
          <div class="erc-card-header">
            <h4>ERC721</h4>
            <p>Token Development</p>
          </div>
          <div class="erc-card-content">
            <img
              src="assets-new/images/erc/eth-1.png"
              alt="erc-20"
              class="img-fluid"
            />
            <p>
              ERC721 represents token uniqueness, an advanced Non-fungible token
              model which cannot be duplicated and is non-interchangeable.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="erc-card text-center">
          <div class="erc-card-header">
            <h4>ERC777</h4>
            <p>Token Development</p>
          </div>
          <div class="erc-card-content">
            <img
              src="assets-new/images/erc/eth-1.png"
              alt="erc-20"
              class="img-fluid"
            />
            <p>
              A sophisticated token standard in the Ethereum network that can
              empower the ERC20 via “send-token-to-contract.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="erc-card text-center">
          <div class="erc-card-header">
            <h4>ERC1155</h4>
            <p>Token Development</p>
          </div>
          <div class="erc-card-content">
            <img
              src="assets-new/images/erc/eth-1.png"
              alt="erc-20"
              class="img-fluid"
            />
            <p>
              The very feasible token standard that you can use to create
              multiple NFT assets under a single smart contract.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ethereum Token Development on Various ERC Standards End -->
<!-- Why Erc20 Token Development -->
<section class="section-service-main">
  <div class="product-feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 nft-service-list">
          <div class="casetudies_common">
            <h3 class="main-sub-heading">
              Why Opt for ERC-20 Token Development?
            </h3>

            <div class="casestudies_para">
              <p>
                The implementation and execution process of ERC-20 will be easy
                because it can be quickly deployed on the Ethereum blockchain
                hassle-free, with access to high liquidity.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 case-list">
          <div class="row">
            <div class="col-lg-12 case-study-list-main">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Secure Transaction</h3>
                </div>

                <div class="casestudy_para">
                  <p>
                    Ethereum token transactions are secure through the highly
                    decentralized Ethereum Blockchain network with high
                    compatibility.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 case-study-list-main">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Solidity Code</h3>
                </div>

                <div class="casestudy_para">
                  <p>
                    ERC20 tokens are fully implemented on smart contracts and
                    can be deployed on multiple EVM chains for a cross-chain
                    experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 case-study-list-main">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Cost-effective and Saves Time</h3>
                </div>
              </div>
              <div class="casestudy_para">
                <p>
                  A secure ERC20 token can be created at a budget-friendly price
                  and the creator owns 100% of the tokens.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 case-study-list-main">
              <div class="casestudy_wrap">
                <div class="casestudy_head">
                  <h3>Ease of Creation</h3>
                </div>
              </div>
              <div class="casestudy_para">
                <p>
                  Our smart contract developers with extensive industry
                  experience can help you launch your token in days.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <hr class="case_studies_hr" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Erc20 Token Development End -->
<!-- Features of Our ERC20 Token Development -->
<section class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>Our Unique Features of <span> ERC20 Token</span> Development</h3>
    </div>
    <div class="row acc-sec-list align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
        <img
          src="assets-new/images/erc/our-unique-features.png"
          class="img-fluid unique-image"
          alt="erc20 token development"
          loading="lazy"
          width="400px"
          height="100%"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Compatible with all wallets
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  ERC-20 tokens are accepted by most crypto exchanges and
                  supported by many crypto wallets.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Mintable Tokens
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  ERC-20 tokens can be created on the Ethereum blockchain
                  without the need for any consensus-related activities.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Burnable Tokens
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Control inflation of your tokens by sending them to the zero
                  wallet through an integrated burn functionality.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Advanced Access Control
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  ERC-20 provides complete ownership and access control to the
                  creator itself, making them very flexible.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Source Code verified
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  We can verify your smart contract code on Ethereum explorers
                  to maintain maximum transparency and decentralization.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Ether Recovery
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  We can design the smart contract of your token with a function
                  to recover ETH in case someone sends it to the contract
                  address.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features of Our ERC20 Token Development End -->
<!-- Benefits of Our ERC20 Token Development -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>Benefits of our<span> ERC20 Token</span> Development</h3>
    </div>
    <!-- Ideation Starts -->
    <div class="row align-items-center justify-content-center erc-processing">
      <div class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check">
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/fundraise.png"
            class="img-fluid"
            alt="fundraise"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0 cmb-5">
            <h4>Fundraise</h4>
            <p>
              ERC-20 tokens provide companies and organizations to raise money
              for their projects through traditional fundraising channels.
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check">
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/staking.png"
            class="img-fluid"
            alt="Staking"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0">
            <h4>Staking</h4>
            <p>
              The Ethereum network provides a framework, many tools, and
              resources for easy creation and staking of tokens.
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check">
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/validated.png"
            class="img-fluid"
            alt="Staking"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0">
            <h4>Validated</h4>
            <p>
              Every transaction is validated using securely prefixed smart
              contracts, which repeatedly verify every process.
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check">
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/utility.png"
            class="img-fluid"
            alt="Staking"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0">
            <h4>Utility</h4>
            <p>
              Launch a token for your Web3 project where users can use it for
              various activities on your platforms.
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check">
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/decentralized.png"
            class="img-fluid"
            alt="Staking"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0">
            <h4>Decentralized</h4>
            <p>
              The ERC-20 token is developed on the Ethereum blockchain, a fully
              decentralized and scalable network.
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check">
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/collateralized.png"
            class="img-fluid"
            alt="Staking"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0">
            <h4>Collateralized</h4>
            <p>
              Create stable currencies by backing them with other ERC20 tokens
              in the market through collateralization.
            </p>
          </div>
        </div>
      </div>
      <div
        class="d-flex align-items-center col-lg-12 metmb-3 bep-list-check mb-0"
      >
        <div class="col-sm-2 text-center">
          <img
            src="assets-new/images/erc/issuance.png"
            class="img-fluid"
            alt="Staking"
            loading="lazy"
            width="80"
            height="80"
          />
        </div>
        <div class="col-sm-10">
          <div class="virtual_process pb-0">
            <h4>Issuance</h4>
            <p>
              We develop each token from scratch and transfer the ownership to
              you. You control everything on your token.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ideation Ends -->
  </div>
</section>
<!-- Benefits of Our ERC20 Token Development End -->
<section class="section-service-main">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>Our <span>Ethereum Technology</span> Stack</h3>
    </div>

    <ul
      class="nav nav-tabs align-items-center justify-content-evenly"
      id="myTab"
    >
      <li class="nav-item">
        <a href="#languages" class="nav-link active" data-bs-toggle="tab"
          >Programming Languages</a
        >
      </li>
      <li class="nav-item">
        <a href="#wallets" class="nav-link" data-bs-toggle="tab">Wallets</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="languages">
        <div
          class="row align-items-center justify-content-center technology-stock"
        >
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/solidity.png"
              class="img-fluid"
              alt="Ideation"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Solidity</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/nodejs.png"
              class="img-fluid"
              alt="Technical-design"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">HardHat</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/angular.png"
              class="img-fluid"
              alt="Development"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Truffle</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/reactjs.png"
              class="img-fluid"
              alt="Testing & QA"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Ganache</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/mongodb.png"
              class="img-fluid"
              alt="Revisions"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Geth</h4> -->
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="wallets">
        <div
          class="row align-items-center justify-content-center technology-stock"
        >
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/metamask.png"
              class="img-fluid"
              alt="Ideation"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Solidity</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/wallet-connect.png"
              class="img-fluid"
              alt="Technical-design"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">HardHat</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/wallet.png"
              class="img-fluid"
              alt="Development"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Truffle</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/ledger.png"
              class="img-fluid"
              alt="Testing & QA"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-3">Ganache</h4> -->
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-6 col-6 text-center process-image"
          >
            <img
              src="assets-new/images/erc/trust-wallet.png"
              class="img-fluid"
              alt="Revisions"
              loading="lazy"
            />
            <!-- <h4 class="process-head py-2">Geth</h4> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why-choose-section -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>
              Why Choose BlockchainX for <span>ERC20 Token Development?</span>
            </h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              BlockchainX develops ERC-20 tokens with advanced fundraising
              methods which can help reduce user transaction costs and provides
              high liquidity to token holders.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why-choose-section end -->
<!-- Tech Stak Update -->
<div class="section-service-alt-main">
  <div class="tending-bep-20">
    <div class="container">
      <div class="row trending-token-list">
        <div class="col-lg-6 text-center mb-3">
          <img
            src="assets-new/images/erc/trending-erc20-token-list.png"
            class="img-fluid mx-auto"
            width="60%"
            height="100%"
          />
        </div>
        <div class="col-lg-6">
          <h3 class="main-sub-heading text-start">Trending ERC20 Token List</h3>

          <div class="row trending-bep">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-0">
              <ul>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> Shiba Inu
                  (SHIB)
                </li>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> Pepecoin
                  (PEPE)
                </li>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> Wrapped
                  Ethereum (WETH)
                </li>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> Tether USD
                  (USDT)
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-0">
              <ul>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> USD Coin
                  (USDC)
                </li>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> Uniswap (UNI)
                </li>
                <li>
                  <span><i class="bi bi-hexagon-fill"></i></span> Chainlink
                  (LINK)
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex pt-3">
            <a [routerLink]="['/contact']" class="home-link-alt"
              >Connect With Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ERC20 Token Developed by Blockchainx Start-->
<section class="section-service-main">
  <div class="business-stak">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading mx-auto">
            <h3><span>ERC20 token </span> Developed by Blockchainx</h3>
          </div>
          <div class="business-stak-list-section">
            <div class="row list-one">
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 list-images">
                <img
                  src="assets-new/images/erc/aco-finance.png"
                  alt="aco-finance"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6 col-6 list-images">
                <img
                  src="assets-new/images/erc/zuki.png"
                  alt="zuki"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6 col-6 list-images">
                <img
                  src="assets-new/images/erc/pug-life.png"
                  alt="pug-life"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6 col-6 list-images">
                <img
                  src="assets-new/images/erc/wemp-token.png"
                  alt="wemp-token"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
