  p {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  .section-bep-work{
    padding-top: 170px;
    padding-bottom: 70px;
  }
  .section-bep-work h1 span{
    background: linear-gradient(89.98deg, #f5d255 -3.37%, #36e7c4 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    padding-top: 20px;
    }

  @media (max-width: 991px) {
    .section-bep-work {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    h1 {
        font-size: 35px;
        padding-bottom: 20px;
    }
  }
  @media (max-width: 767px) {
   
  }

  @media (max-width: 576px) {

    .section-bep-work {
      padding-top: 140px;
      padding-bottom: 40px;
    }
    h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    
  }
  
  @media (max-width: 425px) {
    .section-bep-work {
        padding-top: 130px;
      }
      h1 {
        font-size: 30px;
        padding-bottom: 0px;
    }
  }