<!-- Banner Section -->
<section class="banners-section">
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span
                  ><strong>ICO Development Services</strong> Maximize Funding
                  Opportunities For Crypto Projects
                </span>
              </h1>

              <p>
                Incorporating an efficient fundraising system, our ICO
                development services employ an economical model with captivating
                customized features and functionality having scaling effects.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>

                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/Maximize-fundraising.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new\images\ICO-Development\Maximize-fundraising.png
                "
              />

              <img
                src="assets-new\images\ICO-Development\Maximize-fundraising.png"
                alt="Corda App Consulting"
                class="img-fluid"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section ends -->

<!-- Why Choose DAO Platform Development start -->
<section class="section-service-alt" #about>
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section text-center">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/ICO-Development/webp/Diligently-Orchestrated.webp
              "
            />

            <source
              type="image/png"
              srcset="
                assets-new\images\ICO-Development\Diligently-Orchestrated.png
              "
            />

            <img
              src="assets-new\images\ICO-Development\Diligently-Orchestrated.png"
              class="img-fluid"
              alt="ICO-development-services "
              width="350"
              height="100%"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            Diligently Orchestrated ICO Development Services
          </h3>
          <p>
            The ICO - Initial Coin Offering is one of a kind fundraising
            mechanism used in the web3 ecosystem. This meets financial support
            for the projects and businesses to take their next growth. ICO is
            where crypto tokens are developed and distributed for the exchange
            of funds. With innovative campaigns, for a business to wild its
            needs and requirements is easy. We at BlockchianX undergo rigorous
            research, formulate strategy, plan your ICO development structure,
            and choose technologies, tools, and other volunteers for the
            progress of the project.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose DAO Platform Development end -->

<!-- STO Launch Methodology starts -->
<div class="section-service-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mx-auto">
          <h3>Why Choose <span> ICO</span> For Fundraising?</h3>
        </div>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture pb-1">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/ICO-Development/webp/Global-outreach.webp
              "
            />

            <source
              type="image/png"
              srcset="assets-new/images/ICO-Development/Global-outreach.png"
            />

            <img
              src="assets-new/images/ICO-Development/Global-outreach.png"
              class="img-fluid pb-1"
              alt="Global-Outreach"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Community Centric</h4>
          <p class="text-center">
            Reaching out to global communities, there is no restriction to
            participating in ICO.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture pb-1">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/ICO-Development/webp/Great-opportunities.webp
              "
            />

            <source
              type="image/png"
              srcset="assets-new/images/ICO-Development/Great-opportunities.png"
            />

            <img
              src="assets-new/images/ICO-Development/Great-opportunities.png"
              class="img-fluid pb-1"
              alt="Great Opportunities"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Promising returns</h4>
          <p class="text-center">
            With the popularity of crypto, the token with the right utility
            yields the best traffic
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture pb-1">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/ICO-Development/webp/Easy-Accessibility.webp
              "
            />

            <source
              type="image/png"
              srcset="assets-new/images/ICO-Development/Easy-Accessibility.png"
            />

            <img
              src="assets-new/images/ICO-Development/Easy-Accessibility.png"
              class="img-fluid pb-1"
              alt="Easy Accessibility"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Easy Accessibility</h4>
          <p class="text-center">
            A very simple and common fundraising mechanism used in the we3
            space.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/ICO-Development/webp/Large-Funds.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/ICO-Development/Large-Funds.png"
            />

            <img
              src="assets-new/images/ICO-Development/Large-Funds.png"
              class="img-fluid pb-1"
              alt="Large-Funds"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Large Funds</h4>
          <p class="text-center">
            With bigger profits, and the ability to hold for the future, ICO is
            one trusted method.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- STO Launch Methodology ends -->

<!-- Product Features -->
<section class="section-service-alt-padd">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>End To End <span>ICO Development </span> Services Includes</h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/ICO-Business-Flow.webp
                "
              />

              <source
                type="image/png"
                srcset="assets-new/images/ICO-Development/ICO-Business-Flow.png"
              />

              <img
                src="assets-new/images/ICO-Development/ICO-Business-Flow.png"
                class="img-fluid"
                alt="ICO-Business-Flow"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">ICO Business Flow</h4>
          <p>
            We help you completely plan the ICO business flow for your project
            while sitting for ICO development services. From targets to
            achievements, we get plans for all.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/Dashboard-Design.webp
                "
              />

              <source
                type="image/png"
                srcset="assets-new/images/ICO-Development/Dashboard-Design.png"
              />

              <img
                src="assets-new/images/ICO-Development/Dashboard-Design.png"
                class="img-fluid"
                alt="Dashboard-Design"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Dashboard Design</h4>
          <p>
            To be unique, innovative, and intuitive is our important stretched
            service we are precise about. Moreover, we ensure that the outlook
            matches your core.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/Dashboard-Design.webp
                "
              />

              <source
                type="image/png"
                srcset="assets-new/images/ICO-Development/Dashboard-Design.png"
              />

              <img
                src="assets-new/images/ICO-Development/Dashboard-Design.png"
                class="img-fluid"
                alt="Dashboard-Design"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Token Development</h4>
          <p>
            Token development in the ICO development is the major part to build
            the financial ecosystem of your platform. Deciding its nature and
            functions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/Smartcontract-Development.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/ICO-Development/Smartcontract-Development.png
                "
              />

              <img
                src="assets-new/images/ICO-Development/Smartcontract-Development.png"
                class="img-fluid"
                alt="Dashboard-Design"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Smart Contract Development</h4>
          <p>
            Smart contract development is a crucial part of the integration.
            Deploying secured and validated contracts to ensure the token's
            righteousness.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/Whitepaper-and-Website.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/ICO-Development/Whitepaper-and-Website.png
                "
              />

              <img
                src="assets-new/images/ICO-Development/Whitepaper-and-Website.png"
                class="img-fluid"
                alt="Dashboard-Design"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Whitepaper & Website</h4>
          <p>
            Detailing the whitepaper of the project and ICO gives a brief,
            meanwhile, the website is more like a virtual entity of the same.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/ICO-Development/webp/Exchange-Listing.webp
                "
              />

              <source
                type="image/png"
                srcset="assets-new/images/ICO-Development/Exchange-Listing.png"
              />

              <img
                src="assets-new/images/ICO-Development/Exchange-Listing.png"
                class="img-fluid"
                alt="Dashboard-Design"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Exchange Listing</h4>
          <p>
            Heading further with exchange listing, it is evitable in terms of
            token popularity. The growing traffic hits good margins and pulls
            new visitors.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Features -->

<!-- Development Services starts -->
<section class="section-service-alt-main">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>Our <span>ICO Development</span> Approach</h3>
          </div>
        </div>
      </div>
      <div class="row align-items-center erc-processing">
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Gathering Requirements</h4>
            <p>
              Jotting down the requirements of the projects in your ICO token
              helps fix features.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Tokenomics</h4>
            <p>
              An incentive mechanism, dealing with the monetary policy of the
              token in terms of supply and demand.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>ICO Development</h4>
            <p>
              Finalizing the features and functionalities of your ICO token
              gives a proper structure and shape.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Security and Encryption Analysis</h4>
            <p>
              Decentralization and blockchain technology infusions give more
              assurance on security and encryption.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Exchange Listing</h4>
            <p>
              A part of the quoted securities is listed for exchange through
              initial public offerings increasing visibility.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Development Services ends -->

<!-- Why Choose DAO Platform Development start -->
<section class="section-service-alt">
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/ICO-Development/webp/ICO-on-Ethereum.webp
              "
            />

            <source
              type="image/png"
              srcset="assets-new/images/ICO-Development/ICO-on-Ethereum.png"
            />

            <img
              src="assets-new/images/ICO-Development/ICO-on-Ethereum.png"
              class="img-fluid"
              alt="ICO development companies"
              height="100%"
              width="300"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            ICO Development On Ethereum
          </h3>
          <p>
            To understand most of the ICOs are created on Ethereum, but their
            standards vary from need to need. ERC20 is used for its
            compatibility. And Ethereum eventually optimizes account usage and
            easy transaction efficiency. Also, facilitate unparalleled
            transaction speed that is fluid despite high traffic. The
            compatibility of the chain is the main advantage. And we tend to
            offer you ICO development services in Ethereum and are also open to
            any other networks.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose DAO Platform Development end -->

<!-- Benefits -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>Versatile <span>ICO Token Development</span> Services</h3>
    </div>
    <div class="row acc-sec-list">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image text-center">
        <picture>
          <source
            type="image/webp"
            srcset="
              assets-new/images/ICO-Development/webp/ICO-Token-Development.webp
            "
          />

          <source
            type="image/png"
            srcset="assets-new/images/ICO-Development/ICO-Token-Development.png"
          />

          <img
            src="assets-new/images/ICO-Development/ICO-Token-Development.png"
            class="img-fluid"
            alt="ICO token development"
            height="100%"
            width="330"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                ERC20
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>Ethereum standard token with interchangeable quality.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                ERC721
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Unique digital token, representing ownership of
                  non-fungibility.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                ERC1400
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>Security token standard that yields consistency.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                EOS
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Cryptocurrency was developed to support large-scale
                  applications.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Stellar
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Used to create, send, and trade digital assets for any crypto,
                  and fiat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Benefits -->

<!-- Tech Stak Update -->
<section class="section-service-main">
  <div class="container">
    <div class="metaverse_heading">
      <h3>Latest Tech Stacks of <span>ICO Development</span></h3>
    </div>
    <div class="business-stak-list-section">
      <div class="metaverse_subheading">
        <h3 class="text-center">Blockchain Platform</h3>
      </div>
      <div class="row row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/Frameworks.png"
                alt="Ethereum"
                class="img-fluid mx-auto"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/caliber.png"
                alt="Multichain"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger-composer.png"
                alt="Wax"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger-explorer.png"
                alt="Cortana"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="business-stak-list-section">
      <div class="metaverse_subheading">
        <h3 class="text-center">Front End Frame Works</h3>
      </div>
      <div class="row row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger.png"
                alt="React"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/sawtooth.png"
                alt="Angular"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/iroha.png"
                alt="Vue.js"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/fabric.png"
                alt="Vanillajs"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="business-stak-list-section">
      <div class="metaverse_subheading">
        <h3 class="text-center">Programming Languages</h3>
      </div>
      <div class="row row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/caliber.png"
                alt="Golang"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger.png"
                alt="C++"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger-explorer.png"
                alt="Python"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger.png"
                alt="Php"
                class="img-fluid"
                loading="lazy"
                width="75%"
                height="100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tech Stak Update -->
<!-- why_choose_us starts -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>Why Blockchainx ?</h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              Our most demanded ICO development services are also open with
              customization abilities, and we ensure to deliver a tech-savvy
              solution meeting your requirements. As an ICO development company,
              we render cost-effective and efficient web3 solutions that help
              you set standards in the flourishing digitized market.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why_choose_us ends-->
<app-blog></app-blog>
<app-contactform></app-contactform>
