<section>
  <div class="section-bep-work">
    <div class="container">
      <div class="row justify-content-between py-3">
        <div class="text-center blog-author">
          <img
            src="assets-new/images/blog/yokesh-shankar.svg"
            alt="blog author"
            width="150"
            height="150"
            class=""
          />
        </div>
      </div>
      <div class="row">
        <h1 class="text-center">
          <span>Yogesh Sankar</span>
        </h1>
        <div class="author-detail"></div>
      </div>
      <div class="row pb-3">
        <p class="text-center">
          I am Yokesh Sankar. Co-Founder of BlockchainX, My vision and time to
          offer the best products for our clients without apprehensions at
          economic rates.
        </p>
      </div>
      <div class="row">
        <div class="author-network text-center">
          <div>
            <a href="https://www.instagram.com/yokesh.sankar/" target="_blank"
              ><img
                src="assets-new/images/blog/author-insta.svg"
                alt="instagram"
                width="20"
                height="20"
            /></a>
          </div>
          <div>
            <a href="https://in.linkedin.com/in/yokeshsankar" target="_blank"
              ><img
                src="assets-new/images/blog/author-linkedin.svg"
                alt="linkedin"
                width="20"
                height="20"
            /></a>
          </div>
          <div>
            <a href="https://www.facebook.com/yokesh.shankar" target="_blank"
              ><img
                src="assets-new/images/blog/author-fb.svg"
                alt="facebook"
                width="20"
                height="20"
            /></a>
          </div>
          <div>
            <a href="https://twitter.com/yokesh_sankar_v" target="_blank"
              ><img
                src="assets-new/images/blog/author-twit.svg"
                alt="twitter"
                width="20"
                height="20"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="auth-blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="blog_wrap">
          <a [routerLink]="['/social-token-how-used']">
            <img
              src="assets-new/images/blog-new/social-token/social-token-development.jpg"
              alt="social-token-development"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <h3>What Is A Social Token? How Are They Used?</h3>
            <p>
              At the moment, cryptocurrencies have become common, everyone turns
              around either invested in a project ....
            </p>
          </a>
          <div class="content-link">
            <a [routerLink]="['/social-token-how-used']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="blog_wrap">
          <a [routerLink]="['/create-permissioned-blockchain']">
            <img
              src="assets-new/images/blog-new/create-permissioned-blockchain/permissioned-blockchain.png"
              alt="create-permissioned-blockchain"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <h3>How To Create Permissioned Blockchain?</h3>
            <p>
              Today everything and anything is twisted into the hands of the
              users. And when we say blockchain ....
            </p>
          </a>
          <div class="content-link">
            <a [routerLink]="['/create-permissioned-blockchain']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="blog_wrap">
          <a [routerLink]="['/create-nft-marketplace-polygon']">
            <img
              src="assets-new/images/blog-new/create-nft-marketplace-polygon.jpg"
              alt="create-nft-marketplace-polygon"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <h3>How to Create an NFT Marketplace on Polygon?</h3>
            <p>
              Since the arrival of NFTs (non-fungible tokens), they have gained
              a large user base, and people have begun ....
            </p>
          </a>
          <div class="content-link">
            <a [routerLink]="['/create-nft-marketplace-polygon']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="blog_wrap">
          <a
            [routerLink]="[
              '/ai-blockchain-web3-revolutionizing-gaming-metaverse'
            ]"
          >
            <img
              src="assets-new/images/blog-new/ai-in-web3-gaming-and-metaverse.jpg"
              alt="ai-blockchain-web3-revolutionizing-gaming-metaverse"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <h3>
              AI And Blockchain In Web3 Revolutionizing Gaming And Metaverse
            </h3>
            <p>
              In the 1990s, the introduction of the internet, and the evolution
              of something beyond reality....
            </p>
          </a>
          <div class="content-link">
            <a
              [routerLink]="[
                '/ai-blockchain-web3-revolutionizing-gaming-metaverse'
              ]"
            >
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="blog_wrap">
          <a [routerLink]="['/decentralized-identities-beginners-guide']">
            <img
              src="assets-new/images/blog-new/decentralized-identities-blockchain/decentralized-identities.jpg"
              alt="decentralized-identities"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <h3>Decentralized Identities: A Cutting-Edge Digital Solution</h3>
            <p>
              While web3 technology is creating wonders in all fields, the
              digital identity management sector is not far....
            </p>
          </a>
          <div class="content-link">
            <a [routerLink]="['/decentralized-identities-beginners-guide']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="blog_wrap">
          <a [routerLink]="['/blockchain-in-supply-chain-management']">
            <img
              src="/assets-new/images/blog/Blockchain-in-supply-chain-management.jpg"
              alt="Blockchain-in-supply-chain-management"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <h3>
              Impact of Blockchain in Financial Services - Innovations Transform
              Industry
            </h3>
            <p>
              What's accelerating a business? It's a conversion ratio, right?
              And what makes it convincing....
            </p>
          </a>
          <div class="content-link">
            <a
              [routerLink]="[
                '/ai-blockchain-web3-revolutionizing-gaming-metaverse'
              ]"
            >
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
