<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span> <strong> ERC Token </strong> Generator</span>
              </h1>
              <h4 class="common-sub-heading-alt" data-aos-delay="330">
                Build Immersive Platform
              </h4>

              <p>
                Get started in the world of blockchain quickly with our ERC20
                token generator. Let our team of Ethereum experts guide your
                next project from end-to-end.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/erc/erc-20.png"
              class="img-fluid"
              alt="Best erc20 token generator"
              loading="lazy"
              width="350px"
              height="100%"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->
<!-- Develop erc starts -->
<div class="develop-erc" #about>
  <div class="orange-vector"></div>
  <div class="green-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mx-auto">
          <h3>Develop Your Own <span>ERC20 Token</span> in Few Steps</h3>
          <p class="py-3 text-center">
            Want to launch your token quickly? Just use our ERC20 token
            generator and deploy your first token in minutes!
          </p>
        </div>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/meta.png"
            class="img-fluid"
            alt="Install MetaMask"
            loading="lazy"
            width="160"
            height="160"
          />
          <h4 class="erc-20-head">Install MetaMask</h4>
          <p class="text-center">
            You can deploy your token easily with our ERC20 token generator by
            connecting your Metamask web3 wallet. Simply install the browser
            plugin from chrome or firefox.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/token.png"
            class="img-fluid"
            alt="Add token detail"
            loading="lazy"
            width="160"
            height="160"
          />
          <h4 class="erc-20-head">Add Token Detail</h4>
          <p class="text-center">
            Add the token name, symbol, total supply, decimals, and you’re done!
            You can now deploy your very own token using our ERC20 token
            generator.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <img
            src="assets-new/images/erc/detail.png"
            class="img-fluid"
            alt="Deploy-token"
            loading="lazy"
            width="160"
            height="160"
          />
          <h4 class="erc-20-head">Deploy Token</h4>
          <p class="text-center">
            Now, all you need to do is hit deploy, confirm the transaction on
            your Metamask wallet and pay the gas fees. Your token is now on the
            blockchain.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Develop erc ends -->
<!-- Types of erc -->
<div class="types-of-erc">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Types of<span> Ethereum Token</span></h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/eth-1.png"
              class="img-fluid"
              alt="erc-20"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">ERC 20</h4>
          <p>
            Our ERC20 token generator service gives you access to expert
            Solidity developers. ERC20 is the global standard for tokens in
            blockchain, and compatible with all EVM chains.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/eth-2.png"
              class="img-fluid"
              alt="erc-721"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">ERC 721</h4>
          <p>
            ERC721 is a Non-fungible Token standard and is used across multiple
            EVM-based blockchains. Create your own NFTs with our Ethereum token
            development service.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/eth-3.png"
              class="img-fluid"
              alt="erc-777"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">ERC 777</h4>
          <p>
            ERC777 ERC20 token development can handle most requirements but if
            your project has complex functions, then ERC777 is the best option.
            This standard is completely compatible.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/eth-4.png"
              class="img-fluid"
              alt="erc-223"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">ERC 223</h4>
          <p>
            ERC223 focuses on security and is suitable for complex projects. It
            implements features such as transaction security such as; when
            sending tokens to invalid addresses,
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/eth-5.png"
              class="img-fluid"
              alt="erc-1155"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">ERC 1155</h4>
          <p>
            ERC1155 brings semi-fungibility to the NFT game. You can now create
            your own NFT collections using a single smart contract. A flexible
            solution for specialized projects.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 token-detail">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/erc/eth-6.png"
              class="img-fluid"
              alt="erc-827"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">ERC 827</h4>
          <p>
            ERC827 is one of the latest upgrades to ERC20 and implements many
            improvements. One of them being that you can now transact not only
            values but also data.
          </p>
        </div>
      </div>
    </div>
    <!-- Our Process starts starts -->
    <div class="our-process-erc">
      <div class="orange-vector"></div>
      <div class="row">
        <div class="common-sub-heading">
          <h4>Our Process <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading">Ethereum Token Development Process</h3>
      </div>
      <div class="row align-items-center justify-content-center">
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <img
            src="assets-new/images/erc/process-1.png"
            class="img-fluid"
            alt="Ideation"
            loading="lazy"
          />
          <h4 class="process-head py-3">Ideation</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <img
            src="assets-new/images/erc/process-2.png"
            class="img-fluid"
            alt="Technical-design"
            loading="lazy"
          />
          <h4 class="process-head py-3">Technical design</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <img
            src="assets-new/images/erc/process-3.png"
            class="img-fluid"
            alt="Development"
            loading="lazy"
          />
          <h4 class="process-head py-3">Development</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <img
            src="assets-new/images/erc/process-4.png"
            class="img-fluid"
            alt="Testing & QA"
            loading="lazy"
          />
          <h4 class="process-head py-3">Testing & QA</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <img
            src="assets-new/images/erc/process-5.png"
            class="img-fluid"
            alt="Revisions"
            loading="lazy"
          />
          <h4 class="process-head py-3">Revisions</h4>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 col-12 text-center process-image"
        >
          <img
            src="assets-new/images/erc/process-6.png"
            class="img-fluid"
            alt="Upgrades"
            loading="lazy"
          />
          <h4 class="process-head py-3">Upgrades</h4>
        </div>
      </div>
    </div>
    <!-- Our Process end -->
    <!-- Ideation Starts -->
    <div class="row align-items-center erc-processing">
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process cmb-5">
          <h2>01</h2>
          <h4>Ideation</h4>
          <p>
            We define the content and functionality requirements of our clients
            in blockchain business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process">
          <h2>02</h2>
          <h4>Technical design</h4>
          <p>
            We define the content and functionality requirements of our clients
            in blockchain business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process cmb-5">
          <h2>03</h2>
          <h4>Development</h4>
          <p>
            We define the content and functionality requirements of our clients
            in blockchain business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process">
          <h2>04</h2>
          <h4>Testing & QA</h4>
          <p>
            We define the content and functionality requirements of our clients
            in blockchain business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process">
          <h2>05</h2>
          <h4>Revisions</h4>
          <p>
            We define the content and functionality requirements of our clients
            in blockchain business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process">
          <h2>06</h2>
          <h4>Upgrades</h4>
          <p>
            We define the content and functionality requirements of our clients
            in blockchain business.
          </p>
        </div>
      </div>
    </div>
    <!-- Ideation Ends -->
    <!-- Benefits -->
    <div class="metaverse_heading mx-auto">
      <h3>Benefits of<span> ERC20 Token</span> Development</h3>
    </div>
    <div class="row acc-sec-list">
      <div class="green-vector"></div>
      <div class="violet-vector"></div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
        <img
          src="assets-new/images/erc/erc-token.png"
          class="img-fluid"
          alt="erc20 token development"
          loading="lazy"
          width="450px"
          height="100%"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Trading all kinds of digital collectibles
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  The user can trade from digital art, and real estate to gaming
                  power, shields, and more.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Perfect standard platform for collectibles
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Upload your artwork and mint an NFT immediately with our
                  no-code NFT generator.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Liquidity
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Upload your artwork and mint an NFT immediately with our
                  no-code NFT generator.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Collaboration & Control
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Upload your artwork and mint an NFT immediately with our
                  no-code NFT generator.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Huge ROI (Return on Investment)
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Upload your artwork and mint an NFT immediately with our
                  no-code NFT generator.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Benefits -->
    </div>
    <app-let-discuss></app-let-discuss>
    <div class="pricing">
      <div class="violet-vector"></div>
      <div class="row">
        <div class="metaverse_heading mx-auto">
          <h3>Pricing</h3>
        </div>
      </div>
      <div class="row pricing-main-list">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="pricing-table">
            <h4 class="text-center">Standard</h4>
            <ul>
              <li class="pricie-list">
                <i class="bi bi-check-circle"></i>Simple erc20 token with basic
                transfer functionality
              </li>
              <li class="pricie-list-alt">
                <i class="bi bi-x"></i>Burn and Mint Feature
              </li>
              <li class="pricie-list-alt">
                <i class="bi bi-x"></i>Taxation feature on each transaction and
                sending to separate wallets.
              </li>
            </ul>
            <div class="content-link">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="pricing-table">
            <h4 class="text-center">Medium</h4>
            <ul>
              <li class="pricie-list">
                <i class="bi bi-check-circle"></i>Simple erc20 token with basic
                transfer functionality
              </li>
              <li class="pricie-list">
                <i class="bi bi-check-circle"></i>Burn and Mint Feature
              </li>
              <li class="pricie-list-alt">
                <i class="bi bi-x"></i>Taxation feature on each transaction and
                sending to separate wallets.
              </li>
            </ul>
            <div class="content-link">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="pricing-table">
            <h4 class="text-center">Advanced</h4>
            <ul>
              <li class="pricie-list">
                <i class="bi bi-check-circle"></i>Simple erc20 token with basic
                transfer functionality
              </li>
              <li class="pricie-list">
                <i class="bi bi-check-circle"></i>Burn and Mint Feature
              </li>
              <li class="pricie-list">
                <i class="bi bi-check-circle"></i>Taxation feature on each
                transaction and sending to separate wallets.
              </li>
            </ul>
            <div class="content-link">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 custom-list">
          <div class="row align-items-center">
            <div class="col-lg-4 px-0">
              <h4>Custom</h4>
            </div>
            <div class="col-lg-8 px-0">
              <p>
                Our ERC20 token development service allows you to enter the
                world of DeFi, with the help of expert blockchain consultants
                and developers. Our ERC20 token development service allows you
                to enter the world of DeFi, with the help of expert blockchain
                consultants and developers.
              </p>
            </div>
          </div>
          <div class="content-link" id="erc-link">
            <a [routerLink]="['/contact']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-why-choose></app-why-choose>
<app-blog></app-blog>
<app-contactform></app-contactform>
