<!-- Banner Section -->
<section class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span
                  ><strong>Blockchain Consulting</strong> Service
                  Solutions</span
                >
              </h1>

              <p>
                Integrate your business with the blockchain network through a
                white-labeled blockchain consulting service. Leverage and
                experience the potential of blockchain technology.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/blockchain-consulting/Service-Solutions.png"
              class="img-fluid"
              alt="Blockchain Consulting Service"
              width="350"
              height="100%"
              loading="lazy"
            />
            <!-- <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/blockchain-consulting/Service-Solutions.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/blockchain-consulting/Service-Solutions.png
                "
              />

              <img
                src="assets-new/images/blockchain-consulting/Service-Solutions.png"
                class="img-fluid"
                alt="Blockchain Consulting Service"
                width="350"
                height="100%"
                loading="lazy"
              />
            </picture> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section ends -->

<!-- Why Choose DAO Platform Development start -->
<section class="section-service-alt" #about>
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <img
            src="assets-new/images/blockchain-consulting/Blockchain-Consulting-Services.png"
            class="img-fluid"
            alt="Blockchain consulting"
            width="350"
            height="100%"
            loading="lazy"
          />
          <!-- <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/blockchain-consulting/Blockchain-Consulting-Services.webp
              "
            />

            <source
              type="image/png"
              srcset="
                assets-new/images/blockchain-consulting/Blockchain-Consulting-Services.png
              "
            />

            <img
              src="assets-new/images/blockchain-consulting/Blockchain-Consulting-Services.png"
              class="img-fluid"
              alt="Blockchain consulting"
              width="350"
              height="100%"
              loading="lazy"
            />
          </picture> -->
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            Blockchain Consulting Services
          </h3>
          <p>
            BlockchainX has a team of expert consultants who deliver the
            best-customized blockchain consulting services. We guide you in
            analyzing your project-specific requirement and consult you on a
            best-fit blockchain application for your project that enables you to
            achieve your business success. As the best blockchain consulting
            service provider, we help you in every way to reap the full benefits
            of blockchain technology that can make your business successful and
            lead in the tech world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose DAO Platform Development end -->

<!-- Product Features -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Our Comprehensive <span>Blockchain Consulting Services</span></h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/blockchain-consulting/Tactical-Analysis.png"
              class="img-fluid"
              alt="Tactical-Analysis"
              loading="lazy"
              width="100%"
              height="100%"
            />
            <!-- <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/blockchain-consulting/Tactical-Analysis.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/blockchain-consulting/Tactical-Analysis.png
                "
              />

              <img
                src="assets-new/images/blockchain-consulting/Tactical-Analysis.png"
                class="img-fluid"
                alt="Tactical-Analysis"
                loading="lazy"
                width="100%"
                height="100%"
              />
            </picture> -->
          </div>
          <h4 class="erc-20-head-alt text-left">Tactical Analysis</h4>
          <p>
            By gathering your requirements and checking your objectives, we
            conduct an in-depth study to implement the applicability of
            blockchain methodology. It helps your business to higher levels.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/blockchain-consulting/Custom-Application-Development.png"
              class="img-fluid"
              alt="Custom Application"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Custom Application Development
          </h4>
          <p>
            Our blockchain experts create a unique blockchain applications
            tailored to your needs and optimize them to earn you maximum profit
            through custom blockchain application development.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/blockchain-consulting/Quick-PoC-Creation.png"
              class="img-fluid"
              alt="Quick-PoC-Creation"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Quick PoC Creation</h4>
          <p>
            First, we develop a PoC to demonstrate the practical potential of
            your project, which helps you understand how your blockchain
            ecosystem will work on the blockchain network.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/blockchain-consulting/Blockchain-Solution-Consultancy.png"
              class="img-fluid"
              alt="Blockchain-Solution"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Blockchain Solution Consultancy
          </h4>
          <p>
            We have a set of well-experienced blockchain consulting experts at
            BlockchainX. The project examines where to implement blockchain
            applications to make your business more profitable.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/blockchain-consulting/Professional-Training &-Guidance.png"
              class="img-fluid"
              alt="Professional-Training &-Guidance"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Professional Training & Guidance
          </h4>
          <p>
            We keenly observe your project to suggest the best-fit blockchain
            application that suits your business. We provide you with a set of
            training to improve your blockchain skills.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/blockchain-consulting/MVP-Development.png"
              class="img-fluid"
              alt="MVP Development"
              loading="lazy"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">MVP Development</h4>
          <p>
            Our BlockchainX team offers you agile software development services
            to reap the maximum benefit of revenue. We came up with a clear
            picture of the MVP development process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Features -->

<!-- Development Services starts -->
<section class="section-service-alt-padd">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3><span>Our Blockchain Consulting</span> Process</h3>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center process-erc">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/blockchain-consulting/Ideation.png"
            class="img-fluid"
            alt="Ideation"
            loading="lazy"
          />
          <h4 class="process-head py-3">Ideation</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/blockchain-consulting/Assessment.png"
            class="img-fluid"
            alt="Assessment"
            loading="lazy"
          />
          <h4 class="process-head py-3">Assessment</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/blockchain-consulting/Project-Elucidation.png"
            class="img-fluid"
            alt="Project Elucidation"
            loading="lazy"
          />
          <h4 class="process-head py-3">Project Elucidation</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/blockchain-consulting/PoC.png"
            class="img-fluid"
            alt="PoC"
            loading="lazy"
          />
          <h4 class="process-head py-3">PoC</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/blockchain-consulting/Integration.png"
            class="img-fluid"
            alt="Integration"
            loading="lazy"
          />
          <h4 class="process-head py-3">Integration</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center process-image">
          <img
            src="assets-new/images/blockchain-consulting/Development.png"
            class="img-fluid"
            alt="Development"
            loading="lazy"
          />
          <h4 class="process-head py-3">Development</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center erc-processing">
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Ideation</h4>
            <p>
              Our blockchain consulting experts discuss the feasibility of your
              blockchain project and its workflow.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Assessment</h4>
            <p>
              We investigate your entire business process to identify where
              blockchain can be applied to your use case.
            </p>
          </div>
        </div>

        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Project Elucidation</h4>
            <p>
              Our team identifies the right blockchain platform for your project
              based on your business requirements.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>PoC</h4>
            <p>
              We create a PoC to demonstrate the functionality of a real
              solution by identifying business use cases.
            </p>
          </div>
        </div>

        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Integration</h4>
            <p>
              The integration helps clients to identify whether they can
              integrate blockchain technology into their business.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Development</h4>
            <p>
              From UI/UX to full front-end and back-end implementation, we build
              your blockchain product most suitably.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Development Services ends -->

<!-- Tech Stak Update -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="metaverse_heading">
      <h3><span>Blockchain Development </span> Platforms We Work On</h3>
    </div>
    <div class="business-stak-list-section">
      <div class="row row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/Frameworks.png"
                alt="Ethereum"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/caliber.png"
                alt="Stellar"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger-composer.png"
                alt="Hyperledger"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger-explorer.png"
                alt="Corda"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/hyperledger.png"
                alt="Substrate"
                class="img-fluid"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/sawtooth.png"
                alt="Avalanche"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/iroha.png"
                alt="Polkadot"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <img
                src="assets-new/images/Home/stak/fabric.png"
                alt="Cardano"
                class="img-fluid"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tech Stak Update -->

<!-- Benefits -->
<section class="section-service-main">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>
        Industries that have benefited from
        <span>Blockchain Consulting Services</span>
      </h3>
    </div>
    <div class="row acc-sec-list">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image">
        <div>
          <img
            src="assets-new/images/blockchain-consulting/Benefited-from-Blockchain-Consulting-Services.png"
            class="img-fluid"
            alt="Benefited-from-Blockchain-Consulting-Services"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Finance
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Blockchain offers transparency, security, and improved
                  record-keeping to the finance sector.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Telecommunication
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Blockchain benefits telecom with security, roaming settlement,
                  data immutability, and SLA monitoring.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Manufacturing
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Enforcing quality control and safety protocol becomes easier
                  by integrating blockchain into the manufacturing process.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Startups
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Startups get access to new fundraising opportunities, rapid
                  project development, and new markets.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Healthcare
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Ensures high security and information transparency of medical
                  data and reduces insurance fraud.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Supply Chain
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Smart contracts bring automation, transparency, security, and
                  efficiency to supply chain operations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Benefits -->

<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>
              Why Choose BlockchainX for <span> Blockchain consulting? </span>
            </h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              We have a group of experienced experts certified in blockchain
              technology who suggest possible blockchain solutions for your
              business. We help you in every way to reap the full potential of
              blockchain that can make your business successful and lead in the
              tech world.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
