<!-- Nft Development Company -->
<section class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="lazy"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="lazy"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="green-vector"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span> <strong> NFT Marketplace </strong></span>
                <span>Development Company</span>
              </h1>
              <!-- <h4 class="common-sub-heading-alt-1">
                Highly Interactive Spaces
              </h4> -->
              <p>
                The Digital era revolves around NFTs that lean completely on the
                potential of the blockchain network. We provide high-end NFT
                marketplace development services to get you started quickly.
              </p>
              <div class="nft-link">
                <div class="content-link">
                  <a
                    href="assets-new/images/nft/nft-marketplace-pitchdeck.pdf"
                    target="_blank"
                  >
                    <span class="new-span">Download Documentation</span>
                    <i class="bi bi-download"></i>
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Watch Demo</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      class="img-fluid"
                      width="50"
                      height="15"
                      alt="Link-arrow"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/nft/NFT-Development-Company.png"
              alt="Blockchainx-Home-vector"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
        <div class="row">
          <div class="scroll-section text-center">
            <a
              (click)="
                why.scrollIntoView({ behavior: 'smooth', block: 'start' })
              "
            >
              <img src="assets-new/images/Home/scroll.png" alt="scroll-icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- NFT Development Company -->
<!-- Why Invest NFT -->
<section class="why-nft-section" #why>
  <div class="container">
    <div class="why-nft-content">
      <div class="why-for-nft">
        <div class="orange-vector"></div>
        <div class="metaverse_heading">
          <h3>Why Invest In <span> NFT Marketplace</span> Development?</h3>
        </div>
        <div class="row why-image-list">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
            <img
              src="assets-new/images/nft/opensea.png"
              alt="Blockchainx-NFT-Demo"
              class="img-fluid"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
            <img
              src="assets-new/images/nft/rarible.png"
              alt="Blockchainx-NFT-Demo"
              class="img-fluid"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
            <img
              src="assets-new/images/nft/sorare.png"
              alt="Blockchainx-NFT-Demo"
              class="img-fluid"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
            <img
              src="assets-new/images/nft/superrare.png"
              alt="Blockchainx-NFT-Demo"
              class="img-fluid"
              loading="lazy"
              width="100%"
              height="100%"
            />
          </div>
        </div>
      </div>
      <div class="why-nft-content">
        <div class="row why-detail">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-0">
            <p>
              NFTs have earned true utility and they are explored in almost
              every sector. With BlockchainX as your NFT marketplace development
              company, you can render an effective and efficient trading
              experience and establish on a global scale.
            </p>
          </div>
          <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-12 why-nft-read-more">
            <div class="content-link">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  class="img-fluid"
                  width="50"
                  height="15"
                  alt="Link-arrow"
                />
              </a>
              <hr />
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Invest NFT -->
<!--nft metaverse-->
<section class="nft_metaverse">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mb-0">
          <h3>Look At BlockchainX’s <span>NFT Marketplace</span> Demo</h3>
        </div>
      </div>
    </div>
    <div class="row metmb-3 align-items-start video-section-top">
      <div class="col-lg-5">
        <div class="metaverse_subheading">
          <h3 class="video-heading">User Demo</h3>
          <ul class="user-demo-list">
            <li>Buy NFTs</li>
            <li>Bid NFTs</li>
            <li>Sell NFTs</li>
            <li>Buy Token</li>
            <li>Trending Collections</li>
          </ul>
          <div class="content-link">
            <a href="https://nft.blockchainx.tech/" target="_blank">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-7 orders-1 video-meta-right">
        <div class="violet-vector"></div>
        <div class="video_right_side">
          <img
            src="assets-new/images/nft/user-demo1.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
    <div class="row align-items-start cmt-5 videos-ri">
      <div class="col-lg-7 orders-2 video-meta-left">
        <div class="green-vector"></div>
        <div class="video_left_side">
          <img
            src="assets-new/images/nft/partner-demo1.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-lg-5 orders-1 video-left">
        <div class="metaverse_subheading">
          <h3 class="video-heading">Partner Demo</h3>
          <ul class="user-demo-list">
            <li>Create Collection/NFT</li>
            <li>Bulk Mint NFTs</li>
            <li>Sell NFTs</li>
            <li>Airdrop NFTs</li>
            <li>NFT Sale Analytics</li>
          </ul>

          <div class="content-link">
            <a href="https://nftpartner.blockchainx.tech/" target="_blank">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div class="row metmb-3 align-items-start video-section-top">
      <div class="col-lg-5">
        <div class="metaverse_subheading">
          <h3 class="video-heading">Admin</h3>
          <ul class="user-demo-list">
            <li>Fees and Royalty Settings</li>
            <li>NFT Registry Management</li>
            <li>NFT Sale Analytics</li>
            <li>User and Partner Management</li>
            <li>Blog Management</li>
            <li>Site Settings</li>
          </ul>
          <div class="content-link">
            <a href="https://nftadmin.blockchainx.tech/" target="_blank">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-7 orders-1 video-meta-right">
        <div class="violet-vector"></div>
        <div class="video_right_side">
          <img
            src="assets-new/images/nft/admin-demo1.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>

    <!-- NFT marketplace workflow -->
    <div class="time-line">
      <div class="orange-vector"></div>
      <div class="metaverse_heading">
        <h3><span> NFT Marketplace</span> Workflow</h3>
      </div>
      <img
        class="img-fluid"
        src="assets-new/images/nft/time-line.png"
        alt="time-line"
      />
    </div>
    <!-- NFT marketplace workflow -->
    <!-- Accordion Section -->
    <div class="nft-acc">
      <div class="green-vector"></div>
      <div class="violet-vector"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 acc-head">
        <div class="common-sub-heading">
          <h4>List, Trade & Showcase <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading">All-in-one NFT Marketplace Platform</h3>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image">
          <img
            src="assets-new/images/nft/nft-marketplace.png"
            alt="NFT-Marketplce-Development"
            class="img-fluid"
            width="100%"
            height="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Verified Partners
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Verified Partners can only create NFTs which needs to be
                    approved by admin in the NFT Registry.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  MultiChain Support
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    BX's NFT Marketplace supports all EVM chains like Ethereum,
                    BSC, Polygon, AVAX, Fantom etc
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Security
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    The NFT marketplace is decentralized and all the NFT related
                    flows works with the smart contracts. Hence it is very
                    secure.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Marketplace UI/UX
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    The marketplace UI is completely customizable and changed
                    according to your unique design.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Code Flexibility
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    The tech stack of the marketplace is on MEAN Stack and it is
                    highly flexible for customisations/adding new features.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion Section -->
  </div>
</section>
<!--nft metaverse-->
<!-- Our Products -->
<section class="section-service-alt">
  <div class="our-products">
    <div class="container">
      <div class="row">
        <div class="metaverse_heading mx-auto">
          <h3>Types of <span>NFT Purchase Methods</span></h3>
        </div>
        <p class="py-3 text-center">
          NFTs can be purchased in one of these two convenient methods.
        </p>
      </div>
      <div class="row product-category-list">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="metaverse_subheading">
            <h3>NFT Purchase</h3>
          </div>
          <p class="py-3">
            The value of the asset will be determined in the NFT marketplace.
            Interested buyers can simply claim the asset ownership for its
            value.
          </p>
          <div class="product-demo-image">
            <img
              src="assets-new/images/nft/nft-purches.png"
              class="img-fluid py-2"
              height="100%"
              width="100%"
              alt="NFT Purchase"
              loading="lazy"
            />
          </div>
          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="metaverse_subheading">
            <h3>Bid and Timed Bid</h3>
          </div>
          <p class="py-3">
            Here the base price of the asset will be given for the users to bid
            on the asset in a limited time. When the timer hits zero, the buyer
            who claimed the highest value gets its ownership.
          </p>
          <div class="product-demo-image">
            <img
              src="assets-new/images/nft/time-and-bid.png"
              class="img-fluid py-2"
              height="100%"
              width="100%"
              alt="Bid and Timed Bid"
              loading="lazy"
            />
          </div>
          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Products -->
<!-- flow-chart -->
<section class="flow-chart-section">
  <div class="violet-vector"></div>
  <div class="green-vector"></div>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 acc-head">
      <div class="common-sub-heading">
        <h4>Sell Flow <span class="dots">.</span></h4>
      </div>
      <h3 class="main-sub-heading">Interaction flow chart</h3>
    </div>
    <div class="flow-chart">
      <img
        class="img-fluid"
        src="assets-new/images/nft/chart.png"
        alt="chart"
      />
    </div>
  </div>
</section>
<!-- flow-chart -->
<!-- Unique Feature Section -->
<div class="section-about">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 mx-auto col-md-12 col-sm-12 col-12 about-section-image"
      >
        <div class="imghover">
          <div class="hover-main">
            <img
              src="assets-new/images/nft/nft-unique.png"
              alt="Unique feature"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <div class="overlay">
              <div class="hover-content">
                <a class="play-btn" href="#"><i class="bi bi-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <div class="common-sub-heading">
          <h4>Exclusive Facility <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading">NFT Launchpad In An NFT Marketplace</h3>
        <p>
          As an NFT founder, you may be wondering how to raise seed funds for
          your project. As your NFT marketplace development company, we’ve got
          you covered. Whether you’re trying to create an exclusive platform for
          your gaming project or a public platform like OpenSea, sell your NFT
          idea as a collection on the built-in NFT Launchpad’s private sale even
          before minting a single NFT.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Unique Feature Section -->
<!-- Bulk Minit Section -->
<div class="bulk-mint-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <div class="common-sub-heading">
          <h4>Generate & Market <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading">Mint in Bulk, Send in Bulk</h3>
        <p>
          Our NFT marketplace allows you to mint thousands of NFTs in a single
          go and you can also airdrop them to as many participants as you want.
          Build a lucrative and highly feature-rich platform with ouer NFT
          marketplace development services.
        </p>
      </div>
      <div
        class="col-lg-6 mx-auto col-md-12 col-sm-12 col-12 about-section-image"
      >
        <div class="imghover">
          <div class="hover-main">
            <img
              src="assets-new/images/nft/bulk-minte.png"
              alt="Bulk minte"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <div class="overlay">
              <div class="hover-content">
                <a class="play-btn" [routerLink]="['']"
                  ><i class="bi bi-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bulk Mint Section -->
<!-- Buy-token Section -->
<div class="section-about">
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 mx-auto col-md-12 col-sm-12 col-12 about-section-image"
      >
        <div class="imghover">
          <div class="hover-main">
            <img
              src="assets-new/images/nft/buy-token1.png"
              alt="Buy-token"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
            <div class="overlay">
              <div class="hover-content">
                <a class="play-btn" href="#"><i class="bi bi-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <div class="common-sub-heading">
          <h4>Sustainable Options <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading">USDT or USDC or FIAT Interactions</h3>
        <p>
          Ease of use is your best friend when it comes to crafting superior
          customer experiences. With our NFT marketplace development services,
          allow users to seamlessly buy crypto on your platform using Debit &
          Credit cards through our Fiat on-ramp, powered by Xanpool & Wyre.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Buy token Section -->
<!-- Service Fields -->
<section class="nft-field">
  <div class="green-vector"></div>
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common-sub-heading">
          <h4>NFT Marketplace<span class="dots">.</span></h4>
        </div>

        <h3 class="main-sub-heading">
          Varied Development Solutions In Varied Fields
        </h3>
        <div class="field-slider">
          <owl-carousel-o [options]="fieldOptions">
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/real-estate.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">
                    Fractionalized Real Estate NFT
                  </h4>
                  <p>
                    The first set of collectibles encourages artists and
                    creators to explore the digital space.
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/carbon.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">
                    Carbon Credits NFT Marketplace
                  </h4>
                  <p>
                    Adding value to music and its components in the metaverse
                    ensures it multiplies more.
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/physical-nft.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">Phygital NFT Marketplace</h4>
                  <p>
                    New range of gaming assets exploiting the industry with
                    earning abilities through trading.
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/art.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">Digital ART Marketplace</h4>
                  <p>
                    Blockchain networks with the ability to digitize anything,
                    Digital NFTs add value to the ecosystem.
                  </p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Fields -->
<!-- Dream to Reality -->
<section class="dream-to-reality">
  <div class="container-fluid">
    <div class="metaverse_heading">
      <h3>NFT Marketplace <span>Common Features</span></h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="dreamlist-top">
          <div class="marquee">
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/settings.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">Royalty Settings</h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/admin-panel.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">Admin Platform Fee</h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/chain-link.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">MultiChain</h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/clipboard.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">Admin NFT Registry</h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/gallery.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">
                  Trending Collections/NFTs
                </h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/wallet.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">Multiple Wallet Connects</h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/prise-chart.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">Bid/Price History Chart</h4>
              </span>
            </div>
            <div class="marquee-main">
              <span>
                <img
                  src="assets-new/images/nft/kyc-verification.png"
                  alt="NFT-Development-company"
                  loading="lazy"
                  class="img-fluid"
                />
                <h4 class="common-sub-heading-alt">KYC/AML Verification</h4>
              </span>
            </div>
          </div>
          <!-- <div class="marquee pt-5" direction="right">
            
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Dream to Reality -->
<!-- How Nft Fields Work -->
<section class="nft-marketplace-works">
  <div class="violet-vector"></div>
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="metaverse_heading">
          <h3>Admin Revenue Streams</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <img src="assets-new/images/nft/royalty-fee.png" alt="royalty-fee" />
        <div class="our_process_col_grap">
          <h2>01</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Royalty Fee</h3>
          <p>
            Earn a percentage in royalties every time someone sells and resells
            NFTs on the marketplace.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <img
          src="assets-new/images/nft/project-promotion.png"
          alt="project-promotions"
        />
        <div class="our_process_col_grap">
          <h2>02</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Project Promotions</h3>
          <p>
            You can generate consistent revenue by renting out ad spaces
            anywhere on your NFT marketplace.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <img src="assets-new/images/nft/new-partner.png" alt="new-partner" />
        <div class="our_process_col_grap">
          <h2>03</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>New Partner Onboarding Fee</h3>
          <p>
            For exclusive NFT projects, change an onboarding fee from users
            looking to become a platform partner.
          </p>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>04</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Smart Contracts</h3>
          <p>
            Their inbound feature detects the fault and also values the assets
            for their capabilities.
          </p>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>05</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Costs of Operation</h3>
          <p>
            An efficient solution minimizes the operation cost and ultimately
            benefits the users.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- How Nft Fields Work -->
<!--web3 expert-->
<div class="meta-expert">
  <div class="our-expert-vector">
    <img
      src="assets-new/images/Home/deploy/deploy-vector.png"
      alt="expert-vector"
      loading="lazy"
      width="100%"
      height="100%"
      class="img-responsive"
    />
  </div>
  <div class="violet-vector"></div>
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="our_experts">
          <h2><span>Dreams become Real with</span>BlockchainX Tech</h2>
          <div class="text-center my-5">
            <a class="our_expert_talk" [routerLink]="['/contact']"
              >Talk to our expert</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end-->
<app-blog></app-blog>
<app-contactform></app-contactform>
