<section class="contact_detail">
  <div class="green-vector"></div>
  <div class="orange-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="contact_head pb-3">
          <h3>Let's Talk</h3>
        </div>
      </div>
      <div class="col-lg-9 main-contact-form">
        <div class="getintouch getintochform">
          <div #crmForm></div>
          <div class="content-link crm-form-contact">
            <a [routerLink]="['/contact']">
              <span>Contact Us</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
