<section class="blogs">
  <div class="green-vector"></div>
  <div class="container">
    <div class="row blog-list">
      <div class="col-lg-12">
        <div class="commontext_subhead">
          <h3>Blog<span class="dots">.</span></h3>
        </div>
        <div class="feature_wrap">
          <div class="commontext_wrap">
            <h2>Our Latest Compilation On The Market</h2>
          </div>
          <div class="deploy-link">
            <a [routerLink]="['/blog']">
              <span>Read More</span>
              <img
                src="assets-new/images/right-arrow.png"
                alt="link-arrow"
                class="img-fluid"
                with="50"
                height="15"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 left-vector">
        <owl-carousel-o [options]="blogs_details">
          <ng-template carouselSlide>
            <div class="blog_wrap">
              <a [routerLink]="['/five-best-nft-wallets-store-transact-digital-collectible']">
                <img
                  src="assets-new/images/blog-new/five-best-nft-wallets-store-transact-digital-collectibles.jpg"
                  alt="five-best-nft-wallets-store-transact-digital-collectibles"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  loading="lazy"
                />
                <h3>
                  5 Best NFT Wallet To Safely Store and Transact Digital Collectibles 
                </h3>
                <p>
                  Everything needs a safe. NFTs and other digital collectibles are similar to any other asset that one could hold and own in the real world.
                </p>
              </a>
              <div class="content-link">
                <a [routerLink]="['/five-best-nft-wallets-store-transact-digital-collectibles']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
                <hr />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="blog_wrap">
              <a [routerLink]="['/decentralized-applications-revolutionizing-future-iot']">
                <img
                  src="assets-new/images/blog-new/decentralized-applications/decentralized-applications-the-future-of-IoT.jpg"
                  alt="decentralized-applications-the-future-of-IoT"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  loading="lazy"
                />
                <h3>
                  Decentralized Applications Revolutionizing The Future Of IoT 
                </h3>
                <p>
                  Did we think of advancements And betterment in any sector would pause once it reaches its maxims?...
                </p>
              </a>
              <div class="content-link">
                <a [routerLink]="['/decentralized-applications-revolutionizing-future-iot']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
                <hr />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="blog_wrap">
              <a [routerLink]="['/key-factors-insights-successful-nft-marketplace']">
                <img
                  src="assets-new/images/blog-new/developed-successful-nft-marketplace.png"
                  alt="developed-successful-nft-marketplace"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  loading="lazy"
                />
                <h3>
                  Building a Successful NFT Marketplace: Key Factors and Insights
                </h3>
                <p>
                  So, have you heard of people buying Vladimir Putin art, digital pets, or an NBA moment? But....
                </p>
              </a>
              <div class="content-link">
                <a [routerLink]="['/key-factors-insights-successful-nft-marketplace']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
                <hr />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="blog_wrap">
              <a [routerLink]="['/ten-metaverse-use-cases-examples-for-business']">
                <img
                  src="assets-new/images/blog-new/top10-metaverse/top-10-metaverse-case.jpg"
                  alt="ten-metaverse-use-cases-examples-for-business"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  loading="lazy"
                />
                <h3>
                  The 10 Intriguing Metaverse Use cases and Examples for Business
                </h3>
                <p>
                  As visionary business and IT leaders, it is essential to stay aware of the ever-evolving technological landscape ....
                </p>
              </a>
              <div class="content-link">
                <a [routerLink]="['/ten-metaverse-use-cases-examples-for-business']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
                <hr />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="blog_wrap">
              <a [routerLink]="['/social-token-how-used']">
                <img
                  src="assets-new/images/blog-new/social-token/social-token-development.jpg"
                  alt="social-token-development"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  loading="lazy"
                />
                <h3>
                  What Is A Social Token? How Are They Used?
                </h3>
                <p>
                  At the moment, cryptocurrencies have become common, everyone turns around either invested in a project ....
                </p>
              </a>
              <div class="content-link">
                <a [routerLink]="['/social-token-how-used']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
                <hr />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="blog_wrap">
              <a [routerLink]="['/create-permissioned-blockchain']">
                <img
                  src="assets-new/images/blog-new/create-permissioned-blockchain/permissioned-blockchain.png"
                  alt="create-permissioned-blockchain"
                  class="img-fluid"
                  width="100%"
                  height="100%"
                  loading="lazy"
                />
                <h3>
                  How To Create Permissioned Blockchain?
                </h3>
                <p>
                  Today everything and anything is twisted into the hands of the users. And when we say blockchain ....
                </p>
              </a>
              <div class="content-link">
                <a [routerLink]="['/create-permissioned-blockchain']">
                  <span>Read More</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    alt="link-arrow"
                    class="img-fluid"
                    with="50"
                    height="15"
                  />
                </a>
                <hr />
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
