<!-- Banner Section -->
<div class="banners-section">
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span><strong>Dapps Development </strong> Services</span>
              </h1>

              <p>
                Launch your Dapp project without long turnaround times. Our core
                tech team is ready to deliver with the right expertise.
              </p>

              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>

                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <!-- <img
              src="assets-new/images/dapps-development-services/dapps-development-services.png"
              class="img-fluid"
              alt="Dapps-Development"
              width="350"
              height="100%"
              loading="lazy"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/dapps-development-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/dapps-development-services.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/dapps-development-services.png"
                class="img-fluid"
                alt="Dapps-Development"
                width="350"
                height="100%"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->

<!--The dApp Revolution start -->
<div class="section-service-alt" #about>
  <div class="container">
    <div class="row reverse dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <!-- <img
            src="assets-new/images/dapps-development-services/the-dapp-revolution.png"
            class="img-fluid"
            alt="Process of Decentalization"
            width="400"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/dapps-development-services/the-dapp-revolution.webp
              "
            />

            <source
              type="image/png"
              srcset="
                assets-new/images/dapps-development-services/the-dapp-revolution.png
              "
            />

            <img
              src="assets-new/images/dapps-development-services/the-dapp-revolution.png"
              class="img-fluid"
              alt="Process of Decentalization"
              width="400"
              height="100%"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-12 about-content aos-animate"
      >
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            The Dapp Revolution: Redefining Processes through Decentralization
          </h3>
          <p>
            We are BlockchainX, a leader in Dapps development services.
            Blockchain can streamline your business process greatly. All you
            need is a Dapp to integrate a smart contract into your business.
            Dapp implementation can reduce costs and save time by automating
            operations with minimal human intervention. Our Dapp experts design
            and build applications with high-end security and scalable for a
            wide range of firms. We customize Web3-based dApp to harness the
            capabilities of blockchain technology.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The dApp Revolution end -->

<!-- Product Features One -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Our <span>DApps Development</span> Services</h3>
      </div>
    </div>
    <div class="row types-of-token-detail justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/dapp-consulting-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/dapp-consulting-services.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/dapp-consulting-services.png"
                class="img-fluid"
                alt="dApp Consulting Services"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Dapp Consulting Services</h4>
          <p>
            Contact our expert blockchain consultants who specialize in
            decentralized application development. We provide comprehensive
            guidance on the technical and business aspects of your project.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/decentralized-exchange-development.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/decentralized-exchange-development.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/decentralized-exchange-development.png"
                class="img-fluid"
                alt="Decentralized Exchange Development"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">
            Decentralized Exchange Development
          </h4>
          <p>
            Our Dapp development experts develop high-quality DEXs for various
            organizations. We customize Dapps as per clients' business needs
            with better functionality and enhanced features.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/smart-contracts-creation.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/smart-contracts-creation.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/smart-contracts-creation.png"
                class="img-fluid"
                alt="Smart Contracts Creation"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Smart Contracts Creation</h4>
          <p>
            Our solidity experts will be right at your disposal to build the
            right smart contracts for your business. We revamp your existing
            smart contracts to support any desired functionality.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/user-interface-designing.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/user-interface-designing.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/user-interface-designing.png"
                class="img-fluid"
                alt="User Interface Designing"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">User Interface Designing</h4>
          <p>
            We have a team of mind-blowing designers who follow a structured
            process to develop UI/UX. From ideation to design, we create
            high-fidelity designs with interactive prototypes.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/cloud-storage-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/cloud-storage-services.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/cloud-storage-services.png"
                class="img-fluid"
                alt="Cloud Services Offerings"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Cloud Storage Services</h4>
          <p>
            We focus more on choosing an apt cloud storage platform. Our Dapps
            are ready to record securely stored transactions and enable exchange
            transactions on peer-to-peer networks.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/decentralized-storage-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/decentralized-storage-services.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/decentralized-storage-services.png"
                class="img-fluid"
                alt="Decentralized Storage Services"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">
            Decentralized Storage Services
          </h4>
          <p>
            ERC827 is one of the latest upgrades to ERC20 and implements many
            improvements. One of them being that you can now transact not only
            values but also data.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/dapp-upgrade-solutions.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/dapp-upgrade-solutions.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/dapp-upgrade-solutions.png"
                class="img-fluid"
                alt="Dapp Upgrade Solutions"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Dapp Upgrade Solutions</h4>
          <p>
            As a pioneer in Dapp development services, we check up-to-date
            functionality and timely updates of Dapps to ensure that all
            processes and functions of your Dapp run smoothly.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/dapp-porting-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/dapp-porting-services.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/dapp-porting-services.png"
                class="img-fluid"
                alt="dApp Upgrade Solutions"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Dapp Porting Services</h4>
          <p>
            The future is cross-chain and you don't want to fall behind. Migrate
            your existing Dapp to any blockchain. We offer full support for dApp
            porting by providing seamless migration.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/dapp-integration-services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/dapp-integration-services.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/dapp-integration-services.png"
                class="img-fluid"
                alt="dApp integrate Services"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Dapp Integration Services</h4>
          <p>
            Our experienced Dapp development experts can develop robust and
            interoperable applications and provide seamless Dapp integration
            support to deliver a top-tech application.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Features One -->

<!-- Product Features Two -->
<div class="section-service-alt-padd">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>Business Benefits of <span>Building dApp</span></h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/automation.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/automation.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/automation.png"
                class="img-fluid"
                alt="Automation"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Automation</h4>
          <p>
            Build automated systems that require minimal human input through
            smart contracts. Automated Dapps are the perfect choice for solving
            real-world problems in many industries.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/transparency.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/transparency.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/transparency.png"
                class="img-fluid"
                alt="Transparency"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Transparency</h4>
          <p>
            You can track and verify all transactions made by your users through
            your Dapp on the blockchain explorer. Each transaction is recorded
            immutably on the blockchain ledger.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/privacy.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/privacy.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/privacy.png"
                class="img-fluid"
                alt="Privacy"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Privacy</h4>
          <p>
            The main benefit is censorship resistance. With no single entity
            controlling the Dapp, it’s hard for anyone to access your data.
            Blockchain ensures the security and privacy of your data.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/user-governance.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/user-governance.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/user-governance.png"
                class="img-fluid"
                alt="User Governance"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">User Governance</h4>
          <p>
            Another benefit of dApp users is that user governance, holding the
            dapp native governance token gives access to community discussion
            boards, suggestion systems, and voting rights.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/fault-tolerance.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/fault-tolerance.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/fault-tolerance.png"
                class="img-fluid"
                alt="Fault-tolerance"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Fault-tolerance</h4>
          <p>
            The dApps we build are open source. Existing in a P2P computer
            network, it does not rely on a single point of failure such as a
            hosting server. This confirms no downtime or restrictions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/dapps-development-services/incentivization.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/dapps-development-services/incentivization.png
                "
              />

              <img
                src="assets-new/images/dapps-development-services/incentivization.png"
                class="img-fluid"
                alt="Incentivization"
                loading="lazy"
                width="75"
                height="75"
              />
            </picture>
          </div>
          <h4 class="erc-20-head-alt text-left">Incentivization</h4>
          <p>
            Another highlighting feature of dApps is incentivization. The dApps
            can incentivize its users through rewards. Contributors of dApps get
            some internal currency or token as rewards.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Features Two -->

<!-- Development Services starts -->
<div class="section-service-alt-main">
  <div class="our-process-erc">
    <div class="container">
      <div class="row mb-3">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>The End-To-End <span>Dapp Development</span> Process</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row erc-processing">
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Build the Blockchain Concept</h4>
            <p>
              We gather the required information & define the technical
              component and roadmap of the project.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Proof of Concept Development</h4>
            <p>
              We identify the technology that suits your project and the
              essential use cases for developing a PoC.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Technical Design</h4>
            <p>
              We allocate our design team and architect to design the UI/UX and
              identify the level of user interest.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Development</h4>
            <p>
              Once the architecture and designs are done, then it’s off to the
              development team for the end-to-end development process.
            </p>
          </div>
        </div>
        <div class="col-lg-4 metmb-3">
          <div class="virtual_process">
            <h4>Deployment</h4>
            <p>
              We deploy the smart contracts on the testnet and integrate them
              into Dapp. Then pass this Dapp to UAT.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Development Services ends -->

<!-- business-tech-stack -->
<div class="section-service-alt-padd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading">
          <h3>Applications of<span> Dapps</span></h3>
        </div>
      </div>
    </div>
    <div
      class="row row-cols-3 row-cols-sm-4 row-cols-md-6 row-cols-lg-7 justify-content-center text-center app-dapps-common"
    >
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Apecoin.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Apecoin.png"
            />

            <img
              src="assets-new/images/business-tech/Apecoin.png"
              alt="IoT"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Cosmos.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Cosmos.png"
            />

            <img
              src="assets-new/images/business-tech/Cosmos.png"
              alt="IoT"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Cronos.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Cronos.png"
            />

            <img
              src="assets-new/images/business-tech/Cronos.png"
              alt="Healthcare"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Daicoin.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Daicoin.png"
            />

            <img
              src="assets-new/images/business-tech/Daicoin.png"
              alt="Healthcare"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Decentraland.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Decentraland.png"
            />

            <img
              src="assets-new/images/business-tech/Decentraland.png"
              alt="Real estate"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Elrond.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Elrond.png"
            />

            <img
              src="assets-new/images/business-tech/Elrond.png"
              alt="Automotive"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Flow.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Flow.png"
            />

            <img
              src="assets-new/images/business-tech/Flow.png"
              alt="Insurance"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Flow.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Flow.png"
            />

            <img
              src="assets-new/images/business-tech/Flow.png"
              alt="Insurance"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Hedera.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Hedera.png"
            />

            <img
              src="assets-new/images/business-tech/Hedera.png"
              alt="Cybersecurity"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/business-tech/webp/Internet_computer.webp
              "
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Internet_computer.png"
            />

            <img
              src="assets-new/images/business-tech/Internet_computer.png"
              alt="Pharma "
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/Filecoin.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/Filecoin.png"
            />

            <img
              src="assets-new/images/business-tech/Filecoin.png"
              alt="Filecoin "
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col">
        <div class="techstack_img">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/business-tech/webp/KuCoin.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/KuCoin.png"
            />

            <img
              src="assets-new/images/business-tech/KuCoin.png"
              alt="KuCoin"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- business-tech-stack -->

<!-- Our Development Process -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row mb-5 dap-expert-one">
      <div class="col-lg-12">
        <div class="metaverse_heading">
          <h3>Why Choose Blockchainx for <span> Dapp Development?</span></h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center dap-experts pt-3">
      <div class="col-lg-4 metmb-3">
        <div class="virtual_process cmb-5">
          <h4>We are Blockchain Experts</h4>
          <p>
            Our team of industry-experienced experts works round-the-clock and
            provides end-to-end support for your projects.
          </p>
        </div>
        <div class="virtual_process">
          <h4>Expert Development Team</h4>
          <p>
            Our hard-working team provides all-over development services with
            the fastest turnaround times while maintaining quality.
          </p>
        </div>
      </div>
      <div class="col-lg-4 metmb-3">
        <div class="our_dev_process text-center" id="development-picture">
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/metaverse/metaverse-demo.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/business-tech/metaverse-demo.png"
            />

            <img
              src="assets-new/images/metaverse/metaverse-demo.png"
              width="275"
              height="275"
              class="img-fluid"
              alt="why choose dapps development"
            />
          </picture>
        </div>
      </div>
      <div class="col-lg-4 virual-list">
        <div class="virtual_process cmb-5">
          <h4>Project-oriented Model</h4>
          <p>
            We follow a project-oriented model while developing dApp, which will
            give you a better understanding of your project.
          </p>
        </div>
        <div class="virtual_process">
          <h4>Top UX Solutions for Your Dapp</h4>
          <p>
            Build your next dApp with the latest tools and excellent UI/UX
            designs and trained experts from the industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Development Process -->

<!-- Tech Stak Update -->
<div class="section-service-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="commontext_subhead mb-1">
          <h3>We Work On<span class="dots">.</span></h3>
        </div>
        <h3 class="main-sub-heading">Top Dapp Development Platforms</h3>
      </div>
    </div>
    <div class="business-stak-list-section">
      <div class="row row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Home/stak/webp/Frameworks.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/business-tech/Frameworks.png"
                />

                <img
                  src="assets-new/images/metaverse/Frameworks.png"
                  alt="Ethereum "
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Home/stak/webp/caliber.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/business-tech/caliber.png"
                />

                <img
                  src="assets-new/images/metaverse/caliber.png"
                  alt="hyperledger "
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/Home/stak/webp/hyperledger-composer.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/business-tech/hyperledger-composer.png
                  "
                />

                <img
                  src="assets-new/images/metaverse/hyperledger-composer.png"
                  alt="Hyperledger Composer"
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    assets-new/images/Home/stak/webp/hyperledger-explorer.webp
                  "
                />

                <source
                  type="image/png"
                  srcset="
                    assets-new/images/business-tech/hyperledger-explorer.png
                  "
                />

                <img
                  src="assets-new/images/metaverse/hyperledger-explorer.png"
                  alt="Hyperledger Explorer"
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Home/stak/webp/hyperledger.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/business-tech/hyperledger.png"
                />

                <img
                  src="assets-new/images/metaverse/hyperledger.png"
                  alt="Hyperledger"
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <!-- <img
                src="assets-new/images/Home/stak/sawtooth.png"
                alt="EOS"
                class="img-fluid"
                loading="lazy"
                height="100%"
                width="100%"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Home/stak/webp/sawtooth.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/business-tech/sawtooth.png"
                />

                <img
                  src="assets-new/images/metaverse/sawtooth.png"
                  alt="Hyperledger"
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Home/stak/webp/iroha.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/business-tech/iroha.png"
                />

                <img
                  src="assets-new/images/metaverse/iroha.png"
                  alt="Hyperledger"
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="list-one">
            <div class="list-images">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/Home/stak/webp/fabric.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/business-tech/fabric.png"
                />

                <img
                  src="assets-new/images/metaverse/fabric.png"
                  alt="Tron"
                  class="img-fluid"
                  loading="lazy"
                  height="100%"
                  width="100%"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tech Stak Update -->

<app-blog></app-blog>
<app-contactform></app-contactform>
