<!-- Nft Development Company -->
<section class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="eclipse"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="green-vector"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span> <strong> NFT Marketplace Development</strong></span>
                <span>Company</span>
              </h1>
              <h4 class="common-sub-heading-alt">Highly Interactive Spaces</h4>
              <p>
                The Digital era revolves around NFTs that lean completely on the
                potential of the blockchain network. The NFT sale also drifted
                high interest, inviting investors to leap into NFT Marketplace
                Development.
              </p>
              <div class="content-link">
                <a href="contact">
                  <span>Get in touch</span>
                  <img
                    src="assets-new/images/right-arrow.png"
                    class="img-fluid"
                    width="50"
                    height="15"
                    alt="Link-arrow"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/nft/NFT-Development-Company.png"
              alt="Blockchainx-Home-vector"
              class="img-fluid"
              width="100%"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
        <div class="row">
          <div class="scroll-section text-center">
            <a
              (click)="
                about.scrollIntoView({ behavior: 'smooth', block: 'start' })
              "
            >
              <img
                src="assets-new/images/Home/scroll.png"
                alt="scroll-icon"
                loading="lazy"
                width="25"
                height="50"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- NFT Development Company -->
<!-- NFT About Section -->
<div class="section-about" #about>
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 mx-auto col-md-12 col-sm-12 col-12 about-section-image"
      >
        <img
          src="assets-new/images/nft/NFT-Platform.png"
          alt="Blockchainx-NFT-About"
          class="img-fluid"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <div class="common-sub-heading">
          <h4 class="text-start">Get To Know <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading text-start">Our NFT Marketplace.</h3>
        <p>
          NFTs are making a tremendous impact in the sector, and choosing to
          develop an NFT Marketplace platform can be the wisest choice of all,
          to vitalize in the growing world of Blockchain. It ensures to take you
          in the success lane with sustainable progress and breed through high
          outcomes with good revenues and investors. Explore your dream space
          with us!
        </p>
        <div class="content-link">
          <a href="contact">
            <span>Read More</span
            ><img
              src="assets-new/images/right-arrow.png"
              class="img-fluid"
              width="50"
              height="15"
              alt="Link-arrow"
            />
          </a>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NFT About Section -->
<!--nft metaverse-->
<section class="nft_metaverse">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mb-0">
          <h3>Look At The Dream <span>NFT Marketplace</span> Solution Demo</h3>
        </div>
      </div>
    </div>
    <div class="row metmb-3 video-section-top">
      <div class="col-lg-5">
        <div class="metaverse_subheading">
          <h3 class="video-heading">
            Spectrum Of Opportunities Exploring The Fullest Of Your
            Capabilities.
          </h3>

          <div class="content-link">
            <a href="contact">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-7 orders-1 video-meta-right">
        <div class="violet-vector"></div>
        <div class="video_right_side">
          <img
            src="assets-new/images/nft/nft-right.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
    <div class="row align-items-end cmt-5 videos-ri">
      <div class="col-lg-7 orders-2 video-meta-left">
        <div class="green-vector"></div>
        <div class="video_left_side">
          <img
            src="assets-new/images/nft/nft-left.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-lg-5 orders-1 video-left">
        <div class="metaverse_subheading">
          <h3 class="video-heading">
            Truly beyond expectation, matching your vibe
          </h3>
          <div class="content-link">
            <a href="contact">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <!-- Why Invest NFT -->
    <div class="why-for-nft">
      <div class="orange-vector"></div>
      <div class="metaverse_heading">
        <h3>Why Invest In <span> NFT Marketplace</span> development?</h3>
      </div>
      <div class="row why-image-list">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
          <img
            src="assets-new/images/nft/opensea.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
          <img
            src="assets-new/images/nft/rarible.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
          <img
            src="assets-new/images/nft/sorare.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 why-pic-list">
          <img
            src="assets-new/images/nft/superrare.png"
            alt="Blockchainx-NFT-Demo"
            class="img-fluid"
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
    <!-- Why Invest NFT -->
    <div class="why-nft-content">
      <div class="row why-detail">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 px-0">
          <p>
            NFTs have earned true utility and they are explored in almost every
            sector. With pioneers in the market, by developing and launching an
            NFT marketplace platform, you can render an effective and efficient
            trading experience and establish on a global scale.
          </p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 why-nft-read-more">
          <div class="content-link">
            <a [routerLink]="['/contact']">
              <span>View Demo</span>
              <img
                src="assets-new/images/right-arrow.png"
                class="img-fluid"
                width="50"
                height="15"
                alt="Link-arrow"
              />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion Section -->
    <div class="nft-acc">
      <div class="green-vector"></div>
      <div class="violet-vector"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 acc-head">
        <div class="common-sub-heading">
          <h4>List, Trade & Showcase <span class="dots">.</span></h4>
        </div>
        <h3 class="main-sub-heading text-start">
          All-in-one NFT Marketplace Platform
        </h3>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image">
          <img
            src="assets-new/images/nft/Marketplace-Development.png"
            alt="NFT-Marketplce-Development"
            class="img-fluid"
            width="100%"
            height="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Trading all kinds of digital collectibles
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    The user can trade from digital art, and real estate to
                    gaming power, shields, and more.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Multiple Asset Standards
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Any asset can be instantly minted as NFT of any standard
                    with the no-code generator.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  High Liquidity
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Proximities to earn and circulate more, helps creators reach
                    out to the global audience
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Collaboration & Control
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    Creators can take control of their assets, the entire
                    management is confined to them.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Huge Return on Investment
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p>
                    NFT Marketplace development brings in huge returns and
                    breeds better incomes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion Section -->
  </div>
</section>
<!--nft metaverse-->
<!-- How Nft Developed -->
<div class="nft-development">
  <div class="container">
    <div class="metaverse_heading">
      <h3>How Is<span> NFT Marketplace </span> Platform Developed?</h3>
    </div>

    <div class="nft-development-slider">
      <owl-carousel-o [options]="nftOptions">
        <ng-template carouselSlide>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 nft-sl-list">
            <div class="nft_devlopment_market">
              <div class="item-header">
                <h2>1</h2>
              </div>
              <h4 class="common-sub-heading-alt">Select targeted products</h4>
              <p>
                Pick your desired niche of NFT Trading to carry out in your
                platform which can be compatible enough.
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 nft-sl-list">
            <div class="nft_devlopment_market">
              <div class="item-header">
                <h2>2</h2>
              </div>
              <h4 class="common-sub-heading-alt">Marketplace user roles</h4>
              <p>
                Defining the user roles and responsibilities can help in jotting
                the functionalities of the platform.
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 nft-sl-list">
            <div class="nft_devlopment_market">
              <div class="item-header">
                <h2>3</h2>
              </div>
              <h4 class="common-sub-heading-alt">Scope of tech development</h4>
              <p>
                The choice of technology in the development process cut down the
                major time as it brings the features.
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 nft-sl-list">
            <div class="nft_devlopment_market">
              <div class="item-header">
                <h2>4</h2>
              </div>
              <h4 class="common-sub-heading-alt">NFT Marketplace</h4>
              <p>
                Our exclusive customization delivers fully functional space with
                the ability to interact apart from trading.
              </p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!-- How Nft Developed -->
<!-- Dream to Reality -->
<section class="dream-to-reality">
  <div class="container">
    <div class="metaverse_heading">
      <h3>Give Life To Your Dreams In <span> Virtual Reality </span></h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="dreamlist-top">
          <div class="marquee">
            <span>
              <img
                src="assets-new/images/nft/dream-1.png"
                alt="NFT-Development-company"
                loading="lazy"
              />
            </span>
            <span>
              <img
                src="assets-new/images/nft/dream-2.png"
                alt="NFT-Development-company"
                loading="lazy"
              />
            </span>
          </div>
          <div class="marquee" direction="right">
            <span>
              <img
                src="assets-new/images/nft/dream-1.png"
                alt="NFT-Development-company"
                loading="lazy"
              />
            </span>
            <span>
              <img
                src="assets-new/images/nft/dream-2.png"
                alt="NFT-Development-company"
                loading="lazy"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Dream to Reality -->
<!-- Case Study -->
<section class="casestudies-nft">
  <div class="violet-vector"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 nft-service-list">
        <div class="casetudies_common">
          <div class="common-sub-heading">
            <h4 class="text-start">NFT<span class="dots">.</span></h4>
          </div>

          <h3 class="main-sub-heading text-start">Service we provide</h3>

          <div class="casestudies_para">
            <p>
              In an open market with no limitations, we shall help you curate
              creative platforms with our expertise, and knowledge in Metaverse
              development services. Derive business-class solutions from top
              market experts in the field, facilitating an end-to-end solution.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 case-list">
        <div class="green-vector"></div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>NFT Smart contracts Development</h3>
              </div>

              <div class="casestudy_para">
                <p>
                  We create NFT Platforms equipped with a Smart contract to
                  assure the immutability & transparency of our users, and also
                  initiate fast and secured trading. Eventually, we render a
                  bug-free solution.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>NFT Minting Platform Development</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  NFT Minting platform Development offers NFT tokens for unique
                  collectibles like art, games, and virtual lands which attract
                  most of the crypto crazes. This is a profitable niche for
                  business development.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>NFT Exchange Development</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  Create a feature-rich P2P Trading space - the NFT Exchange
                  platform with our blockchain-enabled secured NFT development
                  service for exchanging tokens. Our NFT Exchange platform
                  offers a myriad.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>NFT Landing Platform</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  We develop an open-source NFT Platform for NFT traders to lend
                  and borrow NFTs. It's one of the vital essential features in
                  NFT which allows you to gain immediate funds to meet your
                  demands with landing pages.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>NFT Maintenance and Support</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  A wide range of Continuous support for client projects
                  facilitates through our NFT Maintenance and Support at
                  BlockchainX. We assist you and provide hassle-free upgrades
                  for successfully updated platforms.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 case-study-list-main">
            <div class="casestudy_wrap">
              <div class="casestudy_head">
                <h3>Celebrity NFT Marketplace</h3>
              </div>
              <div class="casestudy_para">
                <p>
                  Celebrity NFT Marketplace is an extraordinary platform
                  specially created for celebrities. This helps celebrities to
                  upraise their publicity on a global scale.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row last-margin">
          <div class="col-lg-12">
            <hr class="case_studies_hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->
<!-- Why Blockchainx -->
<section class="why_choose_us">
  <app-why-choose></app-why-choose>
</section>
<!-- Why Blockchainx -->
<!-- Service Fields -->
<section class="nft-field">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common-sub-heading">
          <h4>NFT Marketplace<span class="dots">.</span></h4>
        </div>

        <h3 class="main-sub-heading text-start">
          Varied Development Solutions In Varied Fields
        </h3>
        <div class="field-slider">
          <owl-carousel-o [options]="fieldOptions">
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/art.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">Art NFT</h4>
                  <p>
                    The first set of collectibles encourages artists and
                    creators to explore the digital space.
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/music.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">Music NFT</h4>
                  <p>
                    Adding value to music and its components in the metaverse
                    ensures it multiplies more.
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/games.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">Games NFT</h4>
                  <p>
                    New range of gaming assets exploiting the industry with
                    earning abilities through trading.
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="nft_field_market">
                  <div class="item-image">
                    <img
                      src="assets-new/images/nft/digital.png"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <h4 class="common-sub-heading">Digital NFT</h4>
                  <p>
                    Blockchain networks with the ability to digitize anything,
                    Digital NFTs add value to the ecosystem.
                  </p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Fields -->
<!-- How Nft Fields Work -->
<section class="nft-marketplace-works">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="metaverse_heading">
          <h3>The Working of<span> NFT Marketplaces</span></h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>01</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Crypto Wallet</h3>
          <p>
            By integrating a secured wallet, it facilitates in the transactions
            happening within the platform.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>02</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Auctions</h3>
          <p>
            Creators can list their NFTs and collections for auctions to yield
            better outcomes and revenue.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>03</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Sales</h3>
          <p>
            This method flexes creators in pulling in revenue through direct
            sales where the price is fixed.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>04</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Smart Contracts</h3>
          <p>
            Their inbound feature detects the fault and also values the assets
            for their capabilities.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 cmb-5">
        <div class="our_process_col_grap">
          <h2>05</h2>
        </div>
        <div class="our_process_text_wrap">
          <h3>Costs of Operation</h3>
          <p>
            An efficient solution minimizes the operation cost and ultimately
            benefits the users.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How Nft Fields Work -->
<!--web3 expert-->
<app-expert></app-expert>
<!--end-->
<app-blog></app-blog>
<app-contactform></app-contactform>
