footer {
  position: relative;
  overflow: hidden;
}
footer > .green-vector {
  top: -20px;
  left: 0px;
  width: 15%;
}
footer > .orange-vector {
  bottom: 0px;
  left: 50%;
  width: 15%;
}
footer > .violet-vector {
  top: 0px;
  right: 0px;
  width: 15%;
}

.full-width-footer-section {
  background: rgba(255, 255, 255, 0.06);
  padding: 70px 0px;
}
.full-width-footer-section::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  border-top: 1px solid #d9d9d9;
  content: "";
  opacity: 0.5;
}

footer::before {
  position: absolute;
  bottom: 0%;
  top: 0%;
  right: 0%;
  transform: translate(15%, 20%);
  content: url("~src/assets-new/images/Home/Ellipse-circle-1.png");
  opacity: 0.1;
  background-repeat: no-repeat;
  z-index: -1;
}
footer::after {
  position: absolute;
  bottom: 0%;
  top: 0%;
  right: 0%;
  content: url("~src/assets-new/images/Home/Eclipse-circle-2.png");
  transform: translate(0%, 27%);
  opacity: 0.1;
  background-repeat: no-repeat;
  z-index: -1;
}
.foot-eclipse-1 {
  position: absolute;
  z-index: -1;
  bottom: 0%;
  right: 0%;
  opacity: 0.4;
  height: 100%;
}
.foot-eclipse-2 {
  position: absolute;
  bottom: 0%;
  right: 10%;
  opacity: 0.4;
  height: 100%;
  z-index: -1;
}
.footer_head p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 200;
  font-family: Epilogue;
  padding: 0;
  margin: 0;
  color: #d9d9d9;
}
.footer_links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_links li a {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  font-family: Epilogue;
  padding: 0;
  margin: 0;
  color: #d9d9d9;
  transition: 0.3s ease-in-out;
}
.footer_links li a:hover {
  color: #f5d255;
  transition: color 0.3s ease-in-out;
}
.sociallinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-links {
  padding-top: 50px;
}
.sociallinks li a {
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.sociallinks li a:hover {
  color: #f5d255;
  transition: color 0.3s ease-in-out;
}
.copyrights,
.back-top {
  padding: 30px 0px 30px 0px;
  margin-bottom: 25px;
}
.copyrights p {
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #d9d9d9;
}
.backtop {
  position: fixed;
  font-size: 20px;
  color: #f5d255;
  padding: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  bottom: 30px;
  transform: translate(0%, 0%);
  z-index: 11;
  background: #030813;
}
ul.sociallinks li {
  padding-right: 60px;
}

/* .content-link a img {
  display: none;
} */

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .content-link a img {
    display: none;
  }
}

@media (max-width: 991px) {
  .full-width-footer-section {
    padding: 75px 0px 75px 0px;
  }
  .footer_links > li > a {
    font-size: 15px;
    line-height: 1.5;
  }
  .copyrights p {
    font-size: 13px;
  }
  .copyrights {
    padding: 20px 0px 25px 0px;
    margin-bottom: unset;
  }
  .backtop {
    right: 40px;
    bottom: 20px;
  }
  .footer-list {
    padding-left: unset;
    padding-top: 20px;
  }
  ul.sociallinks li {
    padding-right: 15px;
  }
  .footer-links {
    padding-top: unset;
  }
  .foote-main-logo {
    padding-left: unset;
  }
  .content-link a img {
    display: inline;
  }
}
@media (max-width: 767px) {
  .copyrights p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer_links li a {
    font-size: 14px;
    line-height: 36px;
  }

  .backtop {
    right: 50px;
    bottom: 10px;
  }
  ul.sociallinks li {
    padding-right: 15px;
  }
  .backtop {
    right: 10px;
  }
}
@media (max-width: 576px) {
  .full-width-footer-section {
    padding: 45px 0px 0px 0px;
  }
  .footer-list {
    padding-top: unset;
  }
  .sociallinks {
    padding-bottom: 20px;
  }
}
@media (max-width: 425px) {
  ul.sociallinks li {
    padding-right: unset;
  }
  .copyrights p {
    font-size: 13px;
  }
  .foote-main-logo {
    padding-left: 0px;
  }
  .full-width-footer-section > .container > .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
