<!-- Banner Section -->
<section class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="Blockchainx-Eclipse-Vector"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="Blockchainx-Eclipse-Vector"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span
                  ><strong>Cryptocurrency Exchange </strong> Software
                  Development</span
                >
              </h1>

              <p>
                Begin your venture into the cryptocurrency exchange market with
                our first-rate cryptocurrency exchange software development
                services. We offer a wide range of services that are tailored to
                specific business needs and specifications.
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>

                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <img
              src="assets-new/images/resized/cryptocurrency-development/Cryptocurrency-Exchange-Development-Company.png"
              class="img-fluid"
              alt="crypto exchange development"
              width="350"
              height="100%"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section ends -->

<!-- Why Choose DAO Platform Development start -->
<section class="section-service-alt" #about>
  <div class="container">
    <div class="row dao-Platform align-items-center">
      <div class="col-lg-5 mx-auto col-md-12 col-sm-12 col-12">
        <div class="bep-work-section">
          <img
            src="assets-new/images/resized/cryptocurrency-development/Cryptocurrency-exchange-software-development.png"
            class="img-fluid"
            alt="Cryptocurrency exchange software development"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 about-content">
        <div class="common-sub-heading">
          <h3 class="main-sub-heading text-start">
            Cryptocurrency exchange software development
          </h3>
          <p>
            Cryptocurrency Exchange Development has proven to be durable even in
            adverse market conditions and it is becoming more popular as the
            crypto-based economy grows and cryptocurrencies become an essential
            part of our daily lives. Here, We have a dedicated and highly
            skilled team capable of developing the cryptocurrency exchange
            platform with ground-breaking features and advanced security
            protocols that enable fast and seamless transactions. Our scalable
            cryptocurrency exchange services are intended to save our clients
            time and money.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose DAO Platform Development end -->

<!-- Product Features -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          <span>Cryptocurrency Exchange</span> Software Development Services
        </h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Centralized Exchange Development.png"
              class="img-fluid"
              alt="Centralized Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Centralized Exchange Development
          </h4>
          <p>
            We create a cryptocurrency exchange platform that offers
            transactions induced by a central governing authority, ensuring the
            highest level of convenience.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Decentralized Exchange Development.png"
              class="img-fluid"
              alt="Decentralized Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Decentralized Exchange Development
          </h4>
          <p>
            Building a cryptocurrency exchange platform that enables crypto
            exchange over the decentralization phenomenon, transparency, &
            middlemen-free crypto transfer.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Hybrid Exchange Development.png"
              class="img-fluid"
              alt="Hybrid Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Hybrid Exchange Development</h4>
          <p>
            You can benefit from both centralized and decentralized exchanges by
            creating a hybrid exchange that allows cryptos to be moved,
            increasing the exchange's flexibility.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/P2P Exchange Development.png"
              class="img-fluid"
              alt="P2P Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">P2P Exchange Development</h4>
          <p>
            Create a P2P crypto exchange to provide a simple method of
            transferring crypto assets. Using a dedicated framework, you can
            utilize end-to-end delivery of crypto without the need for
            middlemen.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Escrow Exchange Development.png"
              class="img-fluid"
              alt="Escrow Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Escrow Exchange Development</h4>
          <p>
            Carry out a highly secure cryptocurrency exchange platform that is
            monitored by the Escrow Protocol and offers a rapid trading engine,
            unlimited crypto token support, etc.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/OTC Exchange Development.png"
              class="img-fluid"
              alt="OTC Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">OTC Exchange Development</h4>
          <p>
            You can create a unique platform for doing a significant amount of
            cryptocurrency trading. The OTC conducts direct transactions without
            the oversight of an exchange.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Derivative Exchange Development.png"
              class="img-fluid"
              alt="Derivative Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Derivative Exchange Development
          </h4>
          <p>
            By building a Derivative Exchange, you will be able to carry out
            crypto trades based on the performance of the crypto market & can
            trade cryptos on the DEX and CEX.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/White Label Exchange Development.png"
              class="img-fluid"
              alt="White-Label-Exchange"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            White Label Exchange Development
          </h4>
          <p>
            It has the potential to attract more users interested in Crypto
            Exchange and is completely customizable from start to finish, which
            improves the user experience.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Exchange-Binance.png"
              class="img-fluid"
              alt="Exchange-development"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Exchange development like Binance
          </h4>
          <p>
            Binance is the forerunner of any available Crypto Exchange. Binance
            like exchange development is a benchmark standard that benefits
            exchange seekers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Features -->

<!-- Benefits -->
<section class="section-service-alt">
  <div class="container">
    <div class="metaverse_heading mx-auto">
      <h3>
        Types of
        <span>cryptocurrency exchanges</span>
      </h3>
    </div>
    <div class="row acc-sec-list">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-image text-center">
        <div>
          <img
            src="assets-new/images/resized/cryptocurrency-development/Types-of-cryptocurrency-exchanges.png"
            class="img-fluid"
            alt="cryptocurrency exchange"
            width="400"
            height="100%"
            loading="lazy"
          />
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12 acc-list">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Centralized cryptocurrency exchanges
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  The centralized exchange serves as an intermediary for
                  traders.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Peer-to-peer [p2p] exchanges
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  A peer-to-peer allows users to connect directly and trade.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Decentralized cryptocurrency exchanges
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  It is fully blockchain-based & it has three types : On-chain,
                  Off-chain & Cross-chain.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                White label cryptocurrency exchanges
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  This is a platform that includes all of the functions required
                  for trading operations.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Cryptocurrency exchanges with margin trading and leverage level
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  It allows traders to increase profits through crypto
                  loans/leverage..
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Benefits -->

<!-- Product Features -->
<section class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="metaverse_heading mx-auto">
        <h3>
          Features Of Our White-Label
          <span>Cryptocurrency Exchange Software</span>
        </h3>
      </div>
    </div>
    <div class="row types-of-token-detail">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Overflowing TPS.png"
              class="img-fluid"
              alt="Overflowing TPS"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            Overflowing TPS (Transactions per second)
          </h4>
          <p>
            TPS is one of the best frameworks for determining the viability of
            an exchange platform. Our white label crypto exchange can process &
            execute 10,000 transactions per second.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Powerful-Trade-Engine.png"
              class="img-fluid"
              alt="Powerful Trade Engine"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Powerful Trade Engine</h4>
          <p>
            We provide a powerful trading engine to the exchanges that enables
            the installation of buy/sell orders with the minimum of dormancy.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Baking hot Wallet.png"
              class="img-fluid"
              alt="Crypto Hot Wallet"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Crypto Hot Wallet</h4>
          <p>
            Our exchange wallet allows for simple transactions among any
            cryptocurrency transactions with its unique-made configurations from
            our experts,
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Multi-layer Security.png"
              class="img-fluid"
              alt="Multi-layer Security"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Multi-layer Security</h4>
          <p>
            Our experts use advanced security solutions such as two-factor
            authentication for encrypted user access, additional login security,
            and automatic fund withdrawal limits.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/API-External.png"
              class="img-fluid"
              alt="Bot Trading"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Bot Trading</h4>
          <p>
            The dynamic bot trading module allows users to capitalize on market
            opportunities 24/7. The bot enables trading around the clock &
            trades even when users are not actively trading.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Market Maker.png"
              class="img-fluid"
              alt="API to External"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">
            High liquidity in all market conditions
          </h4>
          <p>
            We integrate your cryptocurrency exchanges with a multiple of
            liquidity options to ensure a full order book & thus, seamless trade
            executions in all market conditions.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/KYC and AML.png"
              class="img-fluid"
              alt="KYC and AML"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">KYC and AML</h4>
          <p>
            KYC/AML prevents unauthentic users from entering into exchanges. It
            also comes into play when a huge cryptocurrency withdrawal request
            is detected.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Margin Trading.png"
              class="img-fluid"
              alt="Margin Trading"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Margin Trading</h4>
          <p>
            We integrate margin trading features into your software & users can
            fix their margin & trade to gain more profits with our website,
            which also adds leverage to the investment.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
        <div class="types-erc-detail">
          <div class="top-icon">
            <img
              src="assets-new/images/Cryptocurrency-Development/Multi-Language Support.png"
              class="img-fluid"
              alt="Multi-Language"
              loading="lazy"
              width="70"
              height="70"
            />
          </div>
          <h4 class="erc-20-head-alt text-left">Multi-Language Support</h4>
          <p>
            We offer users multi-language support through our customized white
            label crypto exchange & this expands the scope of your
            cryptocurrency exchange business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Features -->

<!-- Development Services starts -->
<section class="section-service-main-last">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>
              Security Features Of White Label
              <span> Crypto Currency Exchange Script</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row align-items-center erc-processing justify-content-center">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Token Based HTTP Authentication</h4>
            <p>HTTP Authentication tokens are highly secured</p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Data Encryption</h4>
            <p>
              Data encryption protects the user's credentials & other
              information.
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Two-Factor Authentication</h4>
            <p>We integrated the 2FA mechanism for better login security.</p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Anti-Denial of Service (Dos)</h4>
            <p>
              Anti-Dos protects ecosystems when a susceptible number of requests
              are detected.
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Anti-Distributed Denial Of Service (DDoS)</h4>
            <p>
              When multiple connected devices attack bitcoin exchange software,
              Anti-DDoS protects it
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Cross-Site Request Forgery (CSRF) Security Mechanism</h4>
            <p>
              It protects the exchange from unauthorized actions by an
              authenticated user.
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Server-Side Request Forgery (SSRF) Protection</h4>
            <p>
              SSRF protection secures systems against attacks from authorized
              internal applications.
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>HTTP Parameter Pollution Protection</h4>
            <p>
              Protects networks from web attacks that manipulate HTTP requests
              to retrieve hidden data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Development Services ends -->

<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>
              Why choose BlockchainX
              <span> cryptocurrency exchange developers?</span>
            </h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              We at BlockchainX assist you in developing your own cryptocurrency
              exchange platform with high security so that you can buy and sell
              cryptocurrencies faster and in a more secure environment. Our
              company has talented developers who are capable of creating
              high-quality cryptocurrency exchange software based on your
              specifications. Engage with us to build a scalable and secure
              cryptocurrency exchange platform for a smooth trade.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contactform></app-contactform>
