<!-- Banner Section -->
<div class="banners-section">
  <!-- <div class="banner-eclipse">
    <img
      src="assets-new/images/Home/Eclipse-circle-2.png"
      width="100%"
      height="100%"
      alt="Blockchainx-Eclipse-Vector"
      loading="eager"
    />
  </div>
  <div class="banner-eclipse-alt">
    <img
      src="assets-new/images/Home/Ellipse-circle-1.png"
      width="100%"
      height="100%"
      alt="Blockchainx-Eclipse-Vector"
      loading="eager"
    />
  </div> -->
  <div class="banner-eclipse">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-2.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-2.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-2.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner-eclipse-alt">
    <picture>
      <source
        type="image/webp"
        srcset="assets-new/images/Home/Eclipse-circle-1.webp"
      />

      <source
        type="image/png"
        srcset="assets-new/images/Home/Eclipse-circle-1.png"
      />

      <img
        src="assets-new/images/Home/Eclipse-circle-1.png"
        width="100%"
        height="100%"
        alt="Blockchainx-Eclipse-Vector"
        loading="eager"
      />
    </picture>
  </div>
  <div class="banner_wrapper">
    <div class="container" id="banner-page-vector-main">
      <div class="green-vector"></div>
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="banner_contentWrapper">
            <div class="caption">
              <h1>
                <span
                  ><strong>DeFi Staking Platform </strong> Development
                  Services</span
                >
              </h1>
              <h4 class="common-sub-heading-alt">DeFi Staking Development</h4>

              <p>
                BlockchainX offers a simple and dependable method for creating a
                DeFi staking platform with industry-leading functionality &
                high-level security. To get started right now, get in touch with
                our DeFi specialists!
              </p>
              <div class="erc-link">
                <div class="content-link">
                  <a href="#">
                    <span>Telegram</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
                <div class="content-link">
                  <a [routerLink]="['/contact']">
                    <span>Contact Us</span>
                    <img
                      src="assets-new/images/right-arrow.png"
                      alt="link-arrow"
                      class="img-fluid"
                      with="50"
                      height="15"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center">
          <div class="banner-right-section">
            <!-- <img
              src="assets-new/images/defi-stak/DeFi-Staking-Platform-Development-Services.png"
              class="img-fluid"
              alt="Defi staking platfrom"
              width="320"
              height="100%"
              loading="lazy"
            /> -->
            <picture>
              <source
                type="image/webp"
                srcset="
                  assets-new/images/defi-stak/webp/DeFi-Staking-Platform-Development-Services.webp
                "
              />

              <source
                type="image/png"
                srcset="
                  assets-new/images/defi-stak/DeFi-Staking-Platform-Development-Services.png
                "
              />

              <img
                src="assets-new/images/defi-stak/DeFi-Staking-Platform-Development-Services.png"
                class="img-fluid"
                alt="Defi staking platfrom"
                width="320"
                height="100%"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="scroll-section text-center">
          <a
            (click)="
              about.scrollIntoView({ behavior: 'smooth', block: 'start' })
            "
          >
            <img
              src="assets-new/images/Home/scroll.png"
              alt="scroll-icon"
              loading="lazy"
              width="25"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends -->
<!-- Why Choose DAO Platform Development start -->
<div class="section-service-alt" #about>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto col-md-6 col-sm-12 col-12">
        <div class="bep-work-section text-center">
          <!-- <img
            src="assets-new/images/defi-stak/DeFi-Staking-Platform-Development-Services2.png"
            class="img-fluid"
            alt="Defi staking software"
            width="350"
            height="100%"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="
                assets-new/images/defi-stak/webp/DeFi-Staking-Platform-Development-Services2.webp
              "
            />

            <source
              type="image/png"
              srcset="
                assets-new/images/defi-stak/DeFi-Staking-Platform-Development-Services2.png
              "
            />

            <img
              src="assets-new/images/defi-stak/DeFi-Staking-Platform-Development-Services2.png"
              class="img-fluid"
              alt="Defi staking software"
              width="320"
              height="100%"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 about-content aos-animate">
        <div class="common-sub-heading">
          <h3 class="main-sub-heading">
            DeFi Staking Platform Development Services
          </h3>
          <p class="pb-3">
            At BlockchainX, we provide value-oriented services for building DeFi
            staking software that is bolstered by market-leading features and
            has high security. Our blockchain experts work to deliver
            comprehensive solutions that will help you accelerate your digital
            transformation.
          </p>
          <p>
            With our DeFi staking platform development services, you can bridge
            the gap between your digital vision and reality. BlockchainX can
            help you navigate and expedite your journey into the billion-dollar
            staking market by launching your DeFi staking software.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose DAO Platform Development end -->
<!-- Development Services starts -->
<div class="section-service-main">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading">
            <h3>Why<span> DeFi Staking</span> Is The Future</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Investor Enticement</h4>
            <p>
              DeFi staking platform expands the user-to-investor pipeline by
              offering lucrative earnings for depositing tokens.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>High Liquidity & Utility</h4>
            <p>
              Staking is a popular way for long-term investors to quickly
              increase the liquidity & utility of their tokens.
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Revenue Stream</h4>
            <p>
              The DeFi staking platform allows you to earn more revenue for your
              business by charging fixed fees to your stakers.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Cost Savings</h4>
            <p>
              The removal of third-party intermediaries in DeFi staking platform
              helps to significantly reduce transaction costs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Development Services ends -->
<!-- DeFi Staking Platforms starts -->
<div class="section-service-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mx-auto">
          <h3>Ways to<span> Reward Users</span></h3>
        </div>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Authenticate.png"
            class="img-fluid"
            alt="Authenticate"
            width="100"
            height="100"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Authenticate.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Authenticate.png"
            />

            <img
              src="assets-new/images/defi-stak/Authenticate.png"
              class="img-fluid"
              alt="Defi staking software"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Authenticate</h4>
          <p class="text-center">
            Users will receive incentives to validate the blockchain, and those
            incentives are directly proportional to the users' assets. The more
            assets you have, the easier it will be to assign more validation
            tasks & earn higher rewards.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Players can turn into creators.png"
            class="img-fluid"
            alt="Players"
            width="100"
            height="100"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Players can turn into creators.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Players can turn into creators.png"
            />

            <img
              src="assets-new/images/defi-stak/Players can turn into creators.png"
              class="img-fluid"
              alt="Defi staking software"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Players can turn into creators</h4>
          <p class="text-center">
            Players can just not only have a thrilling gaming experience, but
            they can also become active content creators. Thus, the NFTs will
            make the overall playing experience more interesting & immersive.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Earn money by playing.png"
            class="img-fluid"
            alt="Earn money"
            width="100"
            height="100"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Earn money by playing.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Earn money by playing.png"
            />

            <img
              src="assets-new/images/defi-stak/Earn money by playing.png"
              class="img-fluid"
              alt="Defi staking software"
              width="100"
              height="100"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Earn money by playing</h4>
          <p class="text-center">
            The NFT benefit of selling, creating game content and trading game
            items opens up endless opportunities for players to earn a lot of
            money by playing on the digital platform.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- DeFi Staking Platforms ends -->
<!-- Development Services ends -->
<div class="section-service-main">
  <div class="our-process-erc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="metaverse_heading mx-auto">
            <h3>Our <span>Process</span></h3>
            <p class="bold-subtitle">
              <strong>How our DeFi staking platform development works</strong>
            </p>
          </div>
        </div>
      </div>
      <!-- Fast Transactions Starts -->
      <div class="row erc-processing">
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Decentralize banking wallet</h4>
            <p>
              We work with our clients to gain a deep understanding of their
              needs & design a blockchain framework. This isn't just about
              sharing the benefits of our product with you; we'll also look into
              how it can help solve some common pain points in innovative ways.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Organize and plan</h4>
            <p>
              Our approach & advisory services help clients assess
              organizational readiness, anticipate business impact, & develop a
              go-to-market strategy.
            </p>
          </div>
        </div>

        <div class="col-lg-6 metmb-3">
          <div class="virtual_process cmb-5">
            <h4>Build</h4>
            <p>
              We build a crypto wallet by leveraging our extensive domain
              knowledge. We work across the organization to engage stakeholders
              & develop solutions that are ready for deployment.
            </p>
          </div>
        </div>
        <div class="col-lg-6 metmb-3">
          <div class="virtual_process">
            <h4>Implement</h4>
            <p>
              Our goal is to provide our clients with a trustworthy crypto
              wallet solution. We make certain that the service we provide has a
              tangible impact on their businesses, even after the product has
              been deployed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fast Transactions ends  -->
<!-- Ways to Reward Users starts -->
<div class="section-service-alt-padd">
  <div class="types-of-erc">
    <div class="container">
      <div class="row">
        <div class="metaverse_heading mx-auto">
          <h3>Why Choose us For <span> DeFi Staking Platform ? </span></h3>
        </div>
      </div>
      <div class="row types-of-token-detail">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Meaningful outcomes.png"
                class="img-fluid"
                alt="Meaningful-outcomes"
                width="75"
                height="75"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Meaningful outcomes.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Meaningful outcomes.png"
                />

                <img
                  src="assets-new/images/defi-stak/Meaningful outcomes.png"
                  class="img-fluid"
                  alt="Meaningful-outcomes"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Meaningful Outcomes</h4>
            <p>
              We make a visible difference and we make certain that you see a
              value from your investment.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Accelerated Development.png"
                class="img-fluid"
                alt="Accelerated-development"
                width="75"
                height="75"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Accelerated Development.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Accelerated Development.png"
                />

                <img
                  src="assets-new/images/defi-stak/Accelerated Development.png"
                  class="img-fluid"
                  alt="Meaningful-outcomes"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Accelerated development</h4>
            <p>
              We create products that are tailored to your target audience. A
              well-planned roadmap ensures smooth and rapid development and
              deployment.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Comprehensive support.png"
                class="img-fluid"
                alt="Comprehensive-support"
                width="75"
                height="75"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Comprehensive support.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Comprehensive support.png"
                />

                <img
                  src="assets-new/images/defi-stak/Comprehensive support.png"
                  class="img-fluid"
                  alt="Comprehensive support"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Comprehensive support</h4>
            <p>
              Our work does not end with the release of the product. We offer
              comprehensive post-delivery services so you can focus on your
              growth.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/proficient team.png"
                class="img-fluid"
                alt="Proficient-team"
                width="75"
                height="75"
                loading="lazy"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/proficient team.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/proficient team.png"
                />

                <img
                  src="assets-new/images/defi-stak/proficient team.png"
                  class="img-fluid"
                  alt="Comprehensive support"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Proficient Team</h4>
            <p>
              We have experts who can help you fine-tune your offering,
              recommend the best technology approach, and even set up
              communities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ways to Reward Users ends -->
<!-- Our DeFi Staking Platform Development Process starts -->
<div class="section-service-alt-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="metaverse_heading mx-auto">
          <h3>Pros of investing in the <span> DeFi staking platform</span></h3>
        </div>
      </div>
    </div>
    <div class="row erc-about-content">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Inquiry.png"
            class="img-fluid"
            alt="Inquiry"
            width="100"
            height="100"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Inquiry.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Inquiry.png"
            />

            <img
              src="assets-new/images/defi-stak/Inquiry.png"
              class="img-fluid"
              alt="Inquiry"
              width="75"
              height="75"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Inquiry</h4>
          <p class="text-center">
            We analyze your business needs to find the best solution. Every
            business case is unique & requires a customized approach.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Planning.png"
            class="img-fluid"
            alt="Planning"
            width="100"
            height="100"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Planning.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Planning.png"
            />

            <img
              src="assets-new/images/defi-stak/Planning.png"
              class="img-fluid"
              alt="Inquiry"
              width="75"
              height="75"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Planning</h4>
          <p class="text-center">
            Our PMs will meticulously plan each development stage to ensure that
            the final product meets all of your business needs and reaches the
            end-user on time.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Development.png"
            class="img-fluid"
            alt="Development"
            width="100"
            height="100"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Development.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Development.png"
            />

            <img
              src="assets-new/images/defi-stak/Development.png"
              class="img-fluid"
              alt="Development"
              width="75"
              height="75"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Development</h4>
          <p class="text-center">
            At this point, our developers transform your business vision into a
            full-fledged DeFi solution.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
        <div class="erc-about-picture">
          <!-- <img
            src="assets-new/images/defi-stak/Implementation.png"
            class="img-fluid"
            alt="Implementation"
            width="100"
            height="100"
            loading="lazy"
          /> -->
          <picture>
            <source
              type="image/webp"
              srcset="assets-new/images/defi-stak/webp/Implementation.webp"
            />

            <source
              type="image/png"
              srcset="assets-new/images/defi-stak/Implementation.png"
            />

            <img
              src="assets-new/images/defi-stak/Implementation.png"
              class="img-fluid"
              alt="Implementation"
              width="75"
              height="75"
              loading="lazy"
            />
          </picture>
          <h4 class="erc-20-head">Implementation</h4>
          <p class="text-center">
            Your solution is ready for deployment after extensive testing. We
            provide technical support for the duration of your project.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our DeFi Staking Platform Development Process ends -->
<!-- Ways to Reward Users starts -->
<div class="section-service-alt-main">
  <div class="types-of-erc">
    <div class="container">
      <div class="row">
        <div class="metaverse_heading mx-auto">
          <h3>
            The expertise of our <span>DeFi staking platform </span> development
            company
          </h3>
        </div>
      </div>
      <div class="row types-of-token-detail">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Security tools.png"
                class="img-fluid"
                alt="Security tools"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Security tools.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Security tools.png"
                />

                <img
                  src="assets-new/images/defi-stak/Security tools.png"
                  class="img-fluid"
                  alt="Security tools"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Security tools</h4>
            <p>
              Our DeFi staking platform development services allow you to
              integrate your token into the staking protocol and start a staking
              pool.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Smart contracts.png"
                class="img-fluid"
                alt="Smart contracts"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Smart contracts.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Smart contracts.png"
                />

                <img
                  src="assets-new/images/defi-stak/Smart contracts.png"
                  class="img-fluid"
                  alt="Smart contracts"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Smart contracts</h4>
            <p>
              How about NFTs? You can also choose to provide NFTs as a reward to
              your users for staking. Or, allow them to stake their NFTs for
              rewards.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Exclusive addons.png"
                class="img-fluid"
                alt="Exclusive add-ons"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Exclusive addons.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Exclusive addons.png"
                />

                <img
                  src="assets-new/images/defi-stak/Exclusive addons.png"
                  class="img-fluid"
                  alt="Exclusive addons"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Exclusive add-ons</h4>
            <p>
              We can also integrate stablecoins into our platform so that your
              users can earn stablecoins when they stake in a bear market.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/UIdevelopment.png"
                class="img-fluid"
                alt="UI development"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/UIdevelopment.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/UIdevelopment.png"
                />

                <img
                  src="assets-new/images/defi-stak/UIdevelopment.png"
                  class="img-fluid"
                  alt="UIdevelopment"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">UI development</h4>
            <p>
              Our DeFi staking platform development services allow you to
              integrate your token into the staking protocol and start a staking
              pool.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/KYC integration.png"
                class="img-fluid"
                alt="KYC integration"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/KYC integration.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/KYC integration.png"
                />

                <img
                  src="assets-new/images/defi-stak/KYC integration.png"
                  class="img-fluid"
                  alt="KYC integration"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">KYC integration</h4>
            <p>
              How about NFTs? You can also choose to provide NFTs as a reward to
              your users for staking. Or, allow them to stake their NFTs for
              rewards.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Payment gateway integration.png"
                class="img-fluid"
                alt="Payment-gateway"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Payment gateway integration.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Payment gateway integration.png"
                />

                <img
                  src="assets-new/images/defi-stak/Payment gateway integration.png"
                  class="img-fluid"
                  alt="Payment gateway integration"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">
              Payment gateway integration
            </h4>
            <p>
              We can also integrate stablecoins into our platform so that your
              users can earn stablecoins when they stake in a bear market.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Digital wallet integration.png"
                class="img-fluid"
                alt="Digital-wallet"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Digital wallet integration.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Digital wallet integration.png"
                />

                <img
                  src="assets-new/images/defi-stak/Digital wallet integration.png"
                  class="img-fluid"
                  alt="Digital wallet integration"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">
              Digital wallet integration
            </h4>
            <p>
              Our DeFi staking platform development services allow you to
              integrate your token into the staking protocol and start a staking
              pool.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Trading platform integration.png"
                class="img-fluid"
                alt="Trading-platform"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Trading platform integration.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Trading platform integration.png"
                />

                <img
                  src="assets-new/images/defi-stak/Trading platform integration.png"
                  class="img-fluid"
                  alt="Digital wallet integration"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">
              Trading platform integration
            </h4>
            <p>
              How about NFTs? You can also choose to provide NFTs as a reward to
              your users for staking. Or, allow them to stake their NFTs for
              rewards.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 types-of-token">
          <div class="types-erc-detail">
            <div class="top-icon">
              <!-- <img
                src="assets-new/images/defi-stak/Deployment and launch.png"
                class="img-fluid"
                alt="Deployment-and-Launch"
                loading="lazy"
                width="75"
                height="75"
              /> -->
              <picture>
                <source
                  type="image/webp"
                  srcset="assets-new/images/defi-stak/webp/Deployment and launch.webp"
                />

                <source
                  type="image/png"
                  srcset="assets-new/images/defi-stak/Deployment and launch.png"
                />

                <img
                  src="assets-new/images/defi-stak/Deployment and launch.png"
                  class="img-fluid"
                  alt="Deployment and launch"
                  width="75"
                  height="75"
                  loading="lazy"
                />
              </picture>
            </div>
            <h4 class="erc-20-head-alt text-left">Deployment and Launch</h4>
            <p>
              We can also integrate stablecoins into our platform so that your
              users can earn stablecoins when they stake in a bear market.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ways to Reward Users ends -->
<section class="why_choose_us">
  <div class="why-alt-section light-background">
    <div class="green-vector"></div>
    <div class="orange-vector"></div>
    <div class="container choosing-section">
      <div class="row align-items-center aos-init">
        <div class="col-lg-6 metmb-3">
          <div class="whys_section mb-2">
            <h2>Why Choose BlockchainX?</h2>
          </div>
          <div class="whysection_text_wrap">
            <p>
              We at BlockchainX have extensive experience in the blockchain and
              cryptocurrency domains. Our team consists of elite developers,
              marketers who provide unwavering support to your project, ensuring
              its success. Furthermore, all of our services are customizable,
              giving you a competitive advantage.
            </p>
            <div class="content-link my-3">
              <a [routerLink]="['/contact']">
                <span>Read More</span>
                <img
                  src="assets-new/images/right-arrow.png"
                  alt="link-arrow"
                  class="img-fluid"
                  with="50"
                  height="15"
                />
              </a>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-lg-6 metmb-3 Why-section">
          <div class="why_right_side">
            <picture>
              <source
                type="image/webp"
                srcset="assets-new/images/metaverse/why_blockchain.webp"
              />

              <source
                type="image/png"
                srcset="assets-new/images/metaverse/why_blockchain.png"
              />

              <img
                src="assets-new/images/metaverse/why_blockchain.png"
                width="550"
                height="450"
                class="img-fluid"
                alt="why-blockchainx"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-blog></app-blog>
<app-contactform></app-contactform>
